﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@ViewData["firstname"];
@ViewData["PROVINCE_ID"];
@ViewData["amp_id"];
@ViewData["distr_id"];