﻿@using cmarket.Models;
@model IEnumerable<RegisterModel>
@{
    Layout = null;


}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title></title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>



    <div id="map"></div>


    <script>

      // This example creates a simple polygon representing the Bermuda Triangle.
      // When the user clicks on the polygon an info window opens, showing
      // information about the polygon's coordinates.

      var map;
      var infoWindow;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {lat: @ViewBag.latitude_land, lng: @ViewBag.longitude_land},
         // mapTypeId: 'terrain'
		 mapTypeId: 'satellite'
        });

        // Define the LatLng coordinates for the polygon.


        var triangleCoords = [

            //{lat: <?PHP echo $row->focus_lata; ?>, lng: <?PHP echo $row->focus_lng; ?>},
            @{
                foreach(RegisterModel polygon in ViewBag.polygon)
                {

                    @:{ lat: @polygon.polygon_lata, lng: @polygon.polygon_ing},
                }
            }
            /*{ lat: 16.39270, lng: 103.14039},
            { lat: 16.39287, lng: 103.14040 },
            { lat: 16.39290, lng: 103.14092 },
            { lat: 16.39305, lng: 103.14095 },
            { lat: 16.39305, lng: 103.14121 },
            { lat: 16.39305, lng: 103.14139 },
            { lat: 16.39307, lng: 103.14168 },
            { lat: 16.39258, lng: 103.14211 },
            { lat: 16.39262, lng: 103.14122 },
            { lat: 16.39263, lng: 103.14095 },*/

        ];

        // Construct the polygon.
        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 3,
          //fillColor: '#FF0000',
          fillOpacity: 0.1
        });
        bermudaTriangle.setMap(map);

        // Add a listener for the click event.
       // bermudaTriangle.addListener('click', showArrays);
	   bermudaTriangle.addListener('mouseover', showArrays);

	   /* bermudaTriangle.setOptions({
          editable: true
      });*/

        infoWindow = new google.maps.InfoWindow;
      }

      /** @this {google.maps.Polygon} */
      function showArrays(event) {
        // Since this polygon has only one path, we can call getPath() to return the
        // MVCArray of LatLngs.
        var vertices = this.getPath();

       /* var contentString = '<b>Bermuda Triangle polygon</b><br>' +
            'Clicked location: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
            '<br>';*/
		//var contentString = "<?PHP echo $select_focus_cus->name_cus."&nbsp;".$select_focus_cus->surname_cus."<br>"."&nbsp;ต.".$select_focus_cus->district_code_land."&nbsp;อ.".$select_focus_cus->amphur_code_land."&nbsp;จ.".$select_focus_cus->province_code_land."<br>&nbsp;".$select_focus_cus->rai."&nbsp;ไร่&nbsp;".$select_focus_cus->ngan."&nbsp;งาน&nbsp;".$select_focus_cus->wa."&nbsp;วา"; ?>";

        // Iterate over the vertices.
       /* for (var i =0; i < vertices.getLength(); i++) {
          var xy = vertices.getAt(i);
          contentString += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
              xy.lng();
        }*/

        // Replace the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);

        infoWindow.open(map);
      }
    </script>



    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-NPkUz11ALbSbdd93f7FDS5qKEEp9fUo&callback=initMap">
    </script>
</body>
</html>
