﻿@{
    if (@Session["far_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'>window.location.href = '@Url.Action("Index", "Home")';</script>
    }

}


<!--*********************************************************************************************************-->
<!--************ CONTENT ************************************************************************************-->
<!--*********************************************************************************************************-->

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="nav flex-column side-nav">
                       
                        @if (@Session["far_id"] != null) {
                            <a class="nav-link icon" href="@Url.Action("data_farmer", "Home")">
                                <i class="fa fa-user"></i>ข้อมูลส่วนตัว
                            </a>
                        }
                             @if (@Session["reg_organi_id"] != null) {
                            <a class="nav-link icon" href="@Url.Action("organi_update", "Home")">
                                <i class="fa fa-user"></i>ข้อมูลองค์กร
                            </a>
                             }

                        <a class="nav-link active icon" href="#">
                            <i class="fa fa-recycle"></i>เปลี่ยน Password
                        </a>
                        @if (@Session["far_id"] != null)
                        {
                            <a class="nav-link icon" href="@Url.Action("landfarmer", "Home")">
                                <i class="fa fa-check"></i>รายการที่ดิน
                            </a>
                        }
                    </nav>
                </div>
                <!--end col-md-3-->
                <div class="col-md-9">
                    
                    @{ 
                        string url = "submitchpass_farmer";
                        string url2 = "submitchpass_organi";
                    }
                    <form class="form" action="@if (@Session["far_id"] != null) {@Url.Action(@url, "Home")} @if (@Session["reg_organi_id"] != null) { @Url.Action(@url2, "Home") } " method="post" onsubmit="return validateForm()">
<div class="row justify-content-center">
                            <div class="col-md-6">

                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="new_current_password" class="col-form-label required">กำหนดระหัสผ่านใหม่</label>
                                    <input name="o_pass" type="password" class="form-control" id="o_pass" placeholder="กำหนดระหัสผ่านใหม่" required>
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="repeat_new_current_password" class="col-form-label required">กำหนดระหัสผ่านใหม่อีกครั้ง</label>
                                    <input name="o_pass2" type="password" class="form-control" id="o_pass2" placeholder="กำหนดระหัสผ่านใหม่อีกครั้" required>
                                </div>
                                <!--end form-group-->
                                <p id="alerttext" style="color:red;"></p>


                                <input name="far_id" type="hidden" id="far_id" value="@ViewBag.textid">
                                <button type="submit" class="btn btn-primary float-right">ตกลง</button>
                            </div>
                            <!--end col-md-6-->
                        </div>
                    </form>
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->

<script type="text/javascript">
    function validateForm() {
                            var o_pass = document.getElementById("o_pass").value;
                            var o_pass2 = document.getElementById("o_pass2").value;
                            if (o_pass != o_pass2) {

                                document.getElementById("alerttext").innerHTML = "รหัสผ่านไม่ตรงกัน";
                                return false;
                            }
                        }

                        var changecom = "@TempData["chsus"]";
    if (changecom == "Yes") {

        alert("เปลี่ยน Password เรียบร้อยแล้ว");


                    }

</script>

