﻿@{
    Layout = null;

    string textmonth = "เดือน";
    string textyear = "ปี";
}
@using cmarket.Models;
@model IEnumerable<RegisterModel>
<section class="block">
    <div class="container">
        <!--<h2>Featured Ads</h2>-->
        <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
            <div class="item">
                <div class="wrapper">
                    <div class="image">
                        <h3>
                            <a  class="tag category">สำหรับเจ้าของที่ดิน</a>
                            <a href="@Url.Action("regisfa", "Home", new { id = 1,type=11})" class="title">ลงทะเบียน</a>
                            <span class="tag">Labai</span>
                        </h3>
                        <a href="@Url.Action("regisfa", "Home", new { id = 1,type=11})" class="image-wrapper background-image">
                            <img src="~/Content/assets/img/land_owener.png" alt="">
                        </a>
                    </div>
                    <!--end image-->
                    <!--< <h4 class="location">
        <a href="#">Manhattan, NY</a>
    </h4>
    <div class="price">$80</div>
    <div class="meta">
        <figure>
            <i class="fa fa-calendar-o"></i>02.05.2017
        </figure>
        <figure>
            <a href="#">
                <i class="fa fa-user"></i>Jane Doe
            </a>
        </figure>
    </div>-->
                    <!--end meta-->
                    <div class="description">
                        <p>สำหรับเจ้าของที่ดินที่ประสงค์ลงทะเบียนเข้าร่วม<br>โครงการตลาดกลางที่ดิน</p>
                    </div>
                    <!--end description-->
                    <div style=" padding-left:20px; margin-top:60px; color:red;">
                        <i class="fa fa-user"></i> <a href="@Url.Action("regisfa", "Home", new { id = 1,type=11})" class="" style="color:red;">ลงทะเบียนสำหรับเจ้าของที่ดิน <br>
                        <!--<i class="fa fa-user"></i> <a href="@Url.Content("~/HOME/RegisterLand/")" class="" style="color:red;">ลงทะเบียนสำหรับบุคคลทั่วไป</a> <br>
                        <i class="fa fa-user"></i> <a href="@Url.Content("~/HOME/register_owner_organi/")" class="" style="color:red;">ลงทะเบียนสำหรับองค์กรหรือกลุ่ม</a>-->
                    </div>
                    
                </div>
            </div>
            <!--end item-->

            <div class="item">
                <div class="wrapper">
                    <div class="image">
                        <h3>
                            <a class="tag category">สำหรับผู้ต้องการใช้ประโยชน์ในที่ดิน</a>
                            <a href="@Url.Action("regisfa/", new { id = 2,type=11 })" class="title">ลงทะเบียน</a>
                            <span class="tag">Labai</span>
                        </h3>
                        <a href="@Url.Action("regisfa/", new { id = 2,type=11 })" class="image-wrapper background-image">
                            <img src="~/Content/assets/img/farmer1.png" alt="">
                        </a>
                    </div>
                    <!--end image-->
                    <!-- <h4 class="location">
            <a href="#">Nashville, TN</a>
        </h4>
        <div class="price">$125</div>
        <div class="meta">
            <figure>
                <i class="fa fa-calendar-o"></i>28.04.2017
            </figure>
            <figure>
                <a href="#">
                    <i class="fa fa-user"></i>Peter Browner
                </a>
            </figure>
        </div>-->
                    <!--end meta-->
                    <div class="description">
                        <p>สำหรับผู้ต้องการใช้ประโยชน์ในที่ดินประสงค์ลงทะเบียน<br>เข้าร่วมโครงการตลาดกลางที่ดิน</p>
                    </div>
                    <!--end description-->
                    <div class="additional-info">
                        <ul>
                            <li>
                                <figure>Start Date</figure>
                                <aside>25.06.2017 09:00</aside>
                            </li>
                            <li>
                                <figure>Length</figure>
                                <aside>2 months</aside>
                            </li>
                            <li>
                                <figure>Bedrooms</figure>
                                <aside>3</aside>
                            </li>
                        </ul>
                    </div>
                    <!--end addition-info-->


                    <div style=" padding-left:20px; margin-top:60px; color:red;">
                        <!--<i class="fa fa-user"></i> <a href="@Url.Content("~/HOME/regisfa/")" class="" style="color:red;">ลงทะเบียนสำหรับบุคคลทั่วไป <br>-->
                        <i class="fa fa-user"></i> <a href="@Url.Action("regisfa", "Home", new { id = 2,type=11 })" class="" style="color:red;">ลงทะเบียนสำหรับผู้ต้องการใช้ประโยชน์ที่</a>
                    </div>
                </div>
            </div>
            <!--end item-->

           




        </div>

        <div class="row flex-column-reverse flex-md-row" style="background-color:white;">

            <div class="col-md-3" style="margin-bottom:-40px;">

                <h2>รายการแปลงที่ดิน</h2>

                <!--end form-group-->
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row" style="background-color:white;">


            <div class="col-md-12">

                <div class="items grid grid-xl-4-items grid-lg-4-items grid-md-3-items">

                    @foreach (RegisterModel land in ViewBag.land)
        {
            <div class="item" style="padding-top:15px;">
                <!--<div class="ribbon-featured">Featured</div>-->
                <!--end ribbon-->
                <div class="wrapper">
                    <div class="image">

                        <a href="@Url.Action("showland_search", "Home", new { id = land.o_land_id })" class="image-wrapper background-image">

                            <img src="~/imgland/@land.img_name" alt="">
                        </a>
                    </div>
                    <!--end image-->
                    <h4 class="location">
                        <a href="#">ต.@land.DISTRICT_NAME อ.@land.AMPHUR_NAME จ.@land.PROVINCE_NAME</a>
                    </h4>
                    <div class="price">

                        @if (@land.o_wland == 1)
    {
                    <span>เช่าต่อ</span> if (@land.period_per == "1")
{@textmonth }
else
{ @textyear } @Convert.ToInt32(@land.m_rent).ToString("N0") <span>บาท</span>
}

                        @if (@land.o_wland == 3)
    {
                    <span>ขายราคา</span>@Convert.ToInt32(@land.m_rent).ToString("N0") <span>บาท</span>
}
                        <br>
                        <span>@land.land_rai ไร่ @land.land_nga งาน @land.land_va ตารางวา</span>


                    </div>
                    <div class="meta">
                        <figure>
                            <i class="fa fa-calendar-o"></i>@land.dsave
                        </figure>

                    </div>
                    <!--end meta-->
                    <div class="description">
                        <p>@land.place_land</p>
                    </div>
                    <!--end description-->
                    <a href="@Url.Action("showland_search", "Home", new { id = land.o_land_id })" class="detail text-caps underline">รายละเอียดเพิ่มเติม</a>

                </div>
            </div>
}

                </div>

                <h4><a href="@Url.Content("~/HOME/farmersearch/-99")" class="btn btn-primary text-caps btn-rounded btn-framed" style="font-size:14px; float:right; margin-bottom:20px;">รายการทั้งหมด</a></h4>
                <br>
                <br>
            </div>
        </div>







    </div>


</section>
<!--============ End Featured Ads =======================================================================-->
<!--============ Features Steps =========================================================================-->
<!--end block-->
<!--============ End Features Steps =====================================================================-->
<!--============ Recent Ads =============================================================================-->
<!--end block-->
<!--============ End Recent Ads =========================================================================-->
<!--============ Newsletter =============================================================================-->

<section class="block">
    <div class="container">
        <div class="d-flex align-items-center justify-content-around">
            <a href="#">
                <img src="assets/img/partner-1.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner-2.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner-3.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner-4.png" alt="">
            </a>
            <a href="#">
                <img src="assets/img/partner-5.png" alt="">
            </a>
        </div>
    </div>

</section>
