﻿@{
    if (@Session["far_id"] == null && @Session["staff_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("Index", "Home")';</script>
    }
    var checkcareer = "checked";
}


<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                @if (Session["staff_id"] != null)
    {
            <a href="@Url.Action("owner_land", "Backend",new { type_status_regis = @ViewData["type_status_regis"] })"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการเจ้าของที่ดิน</button></a>
            <input type="hidden" id="status_land0" name="status_land0" value="2">
}
                <!--end col-md-4-->
                <div class="col-md-12">
                    <!--
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <a href="@Url.Action("landfarmer", "Home")"><button type="button" class="btn btn-primary float-left">เพิ่มที่ตั้งที่ดินเกษตรกรรม</button></a>

                </div>

            </div>
        </div>
            -->
                    <h3></h3>


                    <form class="form email" id="myform" method="post" action="@Url.Action("UpdateRegisterfar", "Home")" onsubmit="checkdoble();">


                        <!--
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email" class="col-form-label required">ขนาดที่ดินที่ต้องการ (ไร่)</label>

                        <input name="wsize_land" type="text" class="form-control" id="wsize_land" value="@ViewData["wsize_land"]" placeholder="ขนาดที่ดินที่ต้องการ" required>


                    </div>

                </div>
            </div>
                -->
                        @{
                string txtchecked = "checked";
                        }
                        <div id="step1">
                            <!-- <h3>ประเภทการลงทะเบียน</h3>

                                           <div class="row">

                                               <div class="col-md-2">
                                                   <div class="form-group">

                                                       <div class="wrapper">
                                                           <label>
                                                               <input title="เจ้าของที่ดิน" @if (Convert.ToInt32(ViewData["type_status_regis"]) == 1) { @txtchecked } type="radio" id="type_status_regis1" name="type_status_regis" value="1" required>
                                                               เจ้าของที่ดิน
                                                           </label>
                                                       </div>

                                                   </div>

                                               </div>
                                               <div class="col-md-3">
                                                   <div class="form-group">

                                                       <div class="wrapper">
                                                           <label>
                                                               <input title="ต้องการซื้อ" @if (Convert.ToInt32(ViewData["type_status_regis"]) == 2) { @txtchecked } type="radio" id="type_status_regis2" name="type_status_regis" value="2">
                                                               ผู้ต้องการใช้ประโยชน์ในที่ดิน
                                                           </label>
                                                       </div>

                                                   </div>

                                               </div>


                                           </div>

                                           <div class="row">

                                               <div class="col-md-2">
                                                   <div class="form-group">

                                                       <div class="wrapper">
                                                           <label>
                                                               <input title="เจ้าของที่ดิน" disabled checked type="radio" id="type_regis_1" name="type_regis_1" value="1" required>
                                                               ประเภทบุคคลทั่วไป
                                                           </label>
                                                       </div>

                                                   </div>

                                               </div>
                                               <div class="col-md-3">
                                                   <div class="form-group">

                                                       <div class="wrapper">
                                                           <label>
                                                               <input title="ต้องการซื้อ" disabled type="radio" id="type_regis_2" name="type_regis_1" value="2">
                                                               ประเภทองค์กร หรือ กลุ่ม
                                                           </label>
                                                       </div>

                                                   </div>

                                               </div>


                                           </div>
                -->
                            <h3>รายละเอียดตัวบุคคล (ประเภทบุคคลทั่วไป)</h3>

                            <div class="row">

                                <!--end col-md-6-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">ชื่อ</label>
                                        <input name="far_name" type="text" value="@ViewData["far_name"]" class="form-control" id="far_name" title="ระบุชื่อ" placeholder="ชื่อ" required onchange="checkForm()">
                                        <p id="alerto_name" style="color:red;"></p>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">นามสกุล</label>
                                        <input name="far_surname" type="text" value="@ViewData["far_surname"]" class="form-control" id="far_surname" title="ระบุนามสกุล" placeholder="นามสกุล" required onchange="checkForm()">
                                        <p id="alerto_o_surname" style="color:red;"></p>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">เลขที่บัตรประจำตัวประชาชน</label>
                                        <input name="id_card" readonly type="text" maxlength="13" value="@ViewData["id_card"]" class="form-control" id="id_card" onchange="checkForm();" title="ต้องไม่เกิน 13 หลัก และต้องเป็นตัวเลขเท่านั้น" placeholder="เลขที่บัตรประจำตัวประชาชน" required>
                                        <p id="alertidcard" style="color:red;"></p>
                                    </div>
                                    <!--end form-group-->
                                </div>


                            </div>
                            <!--end row-->

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">เกิดวันที่</label>
                                        <input name="far_age2" type="text" class="form-control" id="far_age2" placeholder="อายุ" autocomplete="off" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">เบอร์โทร</label>
                                        <input name="far_tel" type="text" class="form-control" value="@ViewData["far_tel"]" id="far_tel" maxlength="10" title="ต้องไม่เกิน 10 หลัก และต้องเป็นตัวเลขเท่านั้น" placeholder="เบอร์โทร" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->


                            </div>

                            <div class="row">


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input name="far_email" value="@ViewData["far_email"]" type="email" class="form-control" id="far_email" placeholder="Email">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">Line ID</label>
                                        <input name="far_line" value="@ViewData["far_line"]" type="text" class="form-control" id="far_line" placeholder="Line ID">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                            </div>
                            <!--end row-->

                            <h3>ที่อยู่อาศัย</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">บ้านเลขที่</label>
                                        <input value="@ViewData["far_address"]" name="far_address" type="text" class="form-control" title="ระบุบ้านเลขที่" id="o_address" placeholder="บ้านเลขที่" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">ถนน</label>
                                        <input value="@ViewData["far_road"]" name="far_road" type="text" class="form-control" id="o_road" placeholder="ถนน">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <!--end row-->



                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">จังหวัด</label>
                                        <p style="color:blue;">@ViewData["PROVINCE_NAME"]</p>
                                        <div class="form-line">
                                            @using cmarket.Models
                                            @model IEnumerable<RegisterModel>
                                            <select name="PROVINCE_ID" id="PROVINCE_ID" class="select2" data-placeholder="เลือกจังหวัด" title="ระบุจังหวัด">
                                                <option value="0" id="ROVINCE_list"> -- Select --</option>
                                                @{
                                        foreach (RegisterModel ownerland in ViewBag.ownerland)
                                        {
                                            //var selectpro = "selected";
                                            //int proid = Convert.ToInt32(ViewData["PROVINCE_ID"]);
                                            //@if (proid == ownerland.PROVINCE_ID) { @selectpro }
                                            <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>

                            }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">อำเภอ</label>
                                        <p style="color:blue;">@ViewData["AMPHUR_NAME"]</p>
                                        <div class="form-line" id="showdistrict">

                                            <select name="AMPHUR_ID" id="AMPHUR_ID" class="" data-placeholder="เลือกอำเภอ" title="ระบุอำเภอ">
                                                <option value="" id="amphur_list"> -- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ตำบล</label>
                                        <p style="color:blue;">@ViewData["DISTRICT_NAME"]</p>
                                        <div class="form-line" id="showtumbon">

                                            <select name="DISTRICT_ID" id="DISTRICT_ID" class="" data-placeholder="เลือกตำบล" title="ระบุตำบล">
                                                <option value="" id="tumbon_list"> -- Select --</option>
                                            </select>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                            </div>
                            <!--end row-->
                            <hr />


                            <!--end row-->
                            <h3><label for="email" class="col-form-label required">อาชีพ </label></h3>



                            <div class="row">
                                @foreach (RegisterFarnerModel career in ViewBag.career)
                    {


                        <div class="col-md-4">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input @foreach (RegisterFarnerModel rcareer in ViewBag.r_career) { if (career.id_career == rcareer.id_career) { @checkcareer } }
                                               type="checkbox" name="id_career1" value="@career.id_career">
                                        @career.career_name
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>



        }
                                <!--end col-md-6-->
                            </div>
                            <hr />

                            <!--
                                            <h3>พื้นที่ที่ต้องการทำประโยชน์</h3>
                                            <div class="row">


                                                @foreach (RegisterModel tb_land_use in ViewBag.tb_land_use)
                        {
                                        <div class="col-md-3">

                                            <div class="form-group">

                                                <div class="wrapper">
                                                    <label>
                                                        <input @foreach (RegisterFarnerModel r_farmer_land_use in ViewBag.r_farmer_land_use) { if (tb_land_use.id_land_use == r_farmer_land_use.id_land_use) { @checkcareer } }
                                                               type="checkbox" class="required" id="id_land_use@{@tb_land_use.id_land_use}" name="id_land_use" value="@tb_land_use.id_land_use">
                                                        @tb_land_use.land_use_name
                                                    </label>



                                                    <input name="fdetail_user_land" type="text" id="fdetail_user_land@{@tb_land_use.id_land_use}" value="@foreach (RegisterFarnerModel r_farmer_land_use in ViewBag.r_farmer_land_use)
                                                        {
                                                            if (r_farmer_land_use.id_land_use == tb_land_use.id_land_use)
                                                            {
                                                                        @r_farmer_land_use.fdetail_user_land

                                                            }
                                                        }">

                                                    @if (@tb_land_use.id_land_use == 2 || @tb_land_use.id_land_use == 3)
                            {

                            }
                                                </div>

                                            </div>


                                        </div>
                }
                                            </div>
                                            <hr />

                                                <h3>ประเภทเกษตรกร</h3>

                                                <div class="row">
                                                    @{ //Response.Output.Write("xxxxxxxxxxxx");

                                                    }
                                                    @{
                                    foreach (RegisterFarnerModel type_fatmer in ViewBag.type_fatmer)
                                    {

                                        int getid_type_farmer = Convert.ToInt32(ViewData["id_type_farmer"]);
                                        var id_type_farmer = type_fatmer.id_type_farmer;
                                        string aaa = "checked";

                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <div class="wrapper">
                                                    <label>

                                                        <input @if (getid_type_farmer == id_type_farmer) { @aaa }
                                                               title="เลือกประเภท" type="radio" class="required" name="id_type_farmer" id="id_type_farmer @type_fatmer.id_type_farmer" value="@type_fatmer.id_type_farmer">
                                                        @type_fatmer.type_fatmer_name
                                                    </label>
                                                </div>

                                            </div>

                                        </div>



                    }

                                                    }

                                                </div>
                        -->
                            <!--
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">เงินทุนที่จำเป็นต้องใช้ในการทำเกษตรบนพื้นที่แปลงใหม่ (โดยประมาณ)</label>
                            <input name="money_capital" type="text" class="form-control" value="@ViewData["money_capital"]" id="money_capital" placeholder="เงินทุนที่จำเป็นต้องใช้ในการทำเกษตรบนพื้นที่แปลงใหม่ (โดยประมาณ)">
                        </div>

                    </div>

                </div>

                <hr />
                -->
                            <!--end row-->
                        </div>

                        <!--
            <div class="form-group">
                <label for="subject" class="col-form-label">...</label>
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
            </div
                -->
                        <!--end form-group-->
                        <!--
            <div class="form-group">
                <label for="message" class="col-form-label required">Your Message</label>
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Your Message" required></textarea>
            </div>

            -->
                        <!--end form-group-->
                        <button type="submit" class="btn btn-primary float-right" id="submitid">บันทึก</button>
                        <input name="far_id" value="@ViewData["far_id"]" type="hidden" class="form-control" id="far_id">
                    </form>
                    <!--end form-->
                </div>
                <!--end col-md-8 -->
            </div>
            <!--end row-->
            <!--<button type="button" class="btn btn-primary float-right" OnClick="return CheckDouble();">xxx</button>-->
        </div>
        <!--end container-->



    </section>
    <!--end block-->



</section>
<!--end content-->


<script>
    $(document).ready(function ($) {
        var year = @ViewData["age_year"]-543;
        var dateyear = "@ViewData["age_month"]-@ViewData["age_day"]-" + year;
        //alert(dateyear);
        $("#far_age2").datepicker("setDate", new Date(dateyear));

        $('.select2').selectize();
        /*$('#ndistrict').selectize();
        $('#subdistrict').selectize();*/
         /*$(".select2_single").select2({});
         $('#PROVINCE_ID').selectize({
             //create: true,
             sortField: 'text'
         });*/

        // $('#xxx').selectize({});
        /* $(".select2_single").select2({
             placeholder: "Select a state",
             allowClear: true
         });*/

        /* $('#select-beast').selectize({
             allowEmptyOption: true,
             create: true,
             sortField: { field: 'text' },
             dropdownParent: 'body'

         });*/



        $('#PROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {




                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {


                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(AMPHUR_ID);
                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");

                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }


            }
            });
        });





       $('#fPROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id+"/prov2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(province_id);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fndistrict").addClass("required");
                    }
                    if (province_id == 0) {

                        $("#fndistrict").removeClass("required");
                        $("#fsubdistrict").removeClass("required");

                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fshowtumbon").html("" + data);


                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                        $("#fndistrict").text("");
                        //alert(province_id);
                    }

            }
           });



        });





         $('#fshowdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#fndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID+"/aum2";
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")' + AMPHUR_ID + "/aum2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {


                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#fDISTRICT_ID").text("");
                        $("#fshowtumbon").html("" + data);
                        $("#fshowtumbon").show();
                        $("#fsubdistrict").addClass("required");


                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#fsubdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                    }


            }
            });
         });





        $("#myform").validate({
            rules: {
                id_card: {
                    required: true,
                    number: true
                },
                far_tel: {
                    required: true,
                    number: true,
                    minlength: 9,
                    maxlength: 10
                },
                far_pass: {
                    required: true,
                    minlength: 8
                },
                far_pass2: {
                    required: true,
                    minlength: 8
                }
            }
        });




    });






</script>

<script type="text/javascript">
    function checkID(id) {
        if (id.length != 13) return false;
        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);
        if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
            return false; return true;
    }

    function checkForm() {

        var chko_name = document.getElementById("far_name").value;
        var chko_surname = document.getElementById("far_surname").value;

        if (!chko_name.match(pattern_thai) && !chko_name.match(pattern_eng)) {

            document.getElementById("far_name").value = '';
            document.getElementById("alerto_name").innerHTML = "กรุณากรอกชื่อภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {


            document.getElementById("alerto_name").innerHTML = "";
        }

        ///////

        if (!chko_surname.match(pattern_thai) && !chko_surname.match(pattern_eng)) {


            document.getElementById("far_surname").value = '';
            document.getElementById("alerto_o_surname").innerHTML = "กรุณากรอกนามสกุลภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {

            // document.getElementById(txtalert).innerHTML = "";
            document.getElementById("alerto_o_surname").innerHTML = "";
        }






    }

    function checkpass() {

        var far_pass = document.getElementById("far_pass").value;
        var far_pass2 = document.getElementById("far_pass2").value;
        //alert("xxxxx");
        if (far_pass != far_pass2) {

            document.getElementById("alerttext").innerHTML = "รหัสผ่านไม่ตรงกัน";
            return false;
        } else {

            document.getElementById("alerttext").innerHTML = "";
        }
    }


    function checkdoble() // Submit button clicked
    {
        //alert(i++);



        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        //return false;
    }

    var verifyCallback = function (response) {
        alert(response);
    };
    var onloadCallback = function () {

        grecaptcha.render('html_element', {
            'sitekey': '6LfG7V8UAAAAAA30eNulT4ZA3BPHNO48DXDxTTD_',
            'callback': verifyCallback,
            //'theme': 'dark'
        });
    };


</script>



