﻿@{
    Layout = null;

}
@using cmarket.Models;
@model IEnumerable<RegisterModel>
@{
    if (@Session["far_id"] == null && @Session["staff_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("Index", "Home")';</script>
    }

   


}
<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">

                <!--end col-md-4-->
                <div class="col-md-12">

                    @{

                        Int32 fw = Convert.ToInt32(ViewData["f_wland"]);
                        var checkcareer = "checked";

                    }


                    
                    <form class="form email" id="myform" method="post" action="@Url.Action("update_farmerland", "Home")" onsubmit="checkdoble();">
                        <div id="step2">
                            <h3>พื้นที่ที่ต้องการทำประโยชน์</h3>


                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">

                                        <div class="wrapper">
                                            <label>
                                                <input title="ต้องการเช่า" @if (fw == 1) { @checkcareer } type="radio" class="required" id="f_wland1" name="f_wland" value="1" onclick="checko_wland(1)">
                                                ต้องการเช่า
                                            </label>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                        <div class="wrapper">
                                            <label>
                                                <input title="ต้องการเช่าซื้อ" @if (fw == 2) { @checkcareer } type="radio" id="f_wland2" name="f_wland" value="2">
                                                ต้องการเช่าซื้อ
                                            </label>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                        <div class="wrapper">
                                            <label>
                                                <input title="ต้องการซื้อ" @if (fw == 3) { @checkcareer } type="radio" id="f_wland3" name="f_wland" value="3">
                                                ต้องการซื้อ
                                            </label>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">

                                        <div class="wrapper">
                                            <label>
                                                <input title="ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน" @if (fw == 4) { @checkcareer } type="radio" id="f_wland4" name="f_wland" value="4">
                                                ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน
                                            </label>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>
                            </div>

                            <div class="row">


                                <!--end col-md-6-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ขนาดที่ดินที่ต้องการ (ไร่)</label>
                                        <input name="land_rai" type="text" value="" class="form-control" id="land_rai" title="จำนวนไร่ต้องเป็นตัวเลข" placeholder="ไร่" required onchange="checkForm()">
                                        <p id="alerto_o_surname" style="color:red;"></p>
                                    </div>
                                    <!--end form-group-->
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ขนาดที่ดินที่ต้องการ (งาน)</label>
                                        <input name="land_nga" type="text" value="" class="form-control" id="land_nga" title="จำนวนงานต้องเป็นตัวเลข และไม่เกิน 3 งาน" placeholder="งาน" required onchange="checkForm()">
                                        <p id="alerto_o_surname" style="color:red;"></p>
                                    </div>
                                    <!--end form-group-->
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ขนาดที่ดินที่ต้องการ (ตารางวา)</label>
                                        <input name="land_va" type="text" value="" class="form-control" id="land_va" title="จำนวนตารางวาต้องเป็นตัวเลข และไม่เกิน 99 ตารางวา" placeholder="ตารางวา" required onchange="checkForm()">
                                        <p id="alerto_o_surname" style="color:red;"></p>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <!--end col-md-6-->

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">จังหวัด</label>

                                        <select name="PROVINCE_ID" id="fPROVINCE_ID" class="select2" data-placeholder="เลือกจังหวัด" title="ระบุจังหวัด" required>
                                            <option value=""> -- Select --</option>
                                            @foreach (RegisterModel ownerland2 in ViewBag.ownerland)
                    {

                        <option value="@ownerland2.PROVINCE_ID">@ownerland2.PROVINCE_NAME</option>

}
                                        </select>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">อำเภอ</label>
                                        <div class="form-line" id="fshowdistrict">
                                            <select name="fAMPHUR_ID" id="fAMPHUR_ID" class="" data-placeholder="เลือกอำเภอ" title="ระบุอำเภอ">
                                                <option value="" id="amphur_list"> -- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ตำบล</label>
                                        <div class="form-line" id="fshowtumbon">
                                            <select name="fDISTRICT_ID" id="fDISTRICT_ID" class="" data-placeholder="เลือกตำบล" title="ระบุตำบล">
                                                <option value="" id="tumbon_list"> -- Select --</option>
                                            </select>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->



                            </div>


                            <h4> <label for="email" class="col-form-label required">ความต้องการใช้ประโยชน์ในที่ดิน</label></h4>
                            <div class="row">

                                @foreach (RegisterModel tb_land_use in ViewBag.tb_land_use)
        {
                        <div class="col-md-3">

                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="checkbox" class="required" id="id_land_use@{@tb_land_use.id_land_use}" name="id_land_use" value="@tb_land_use.id_land_use">
                                        @tb_land_use.land_use_name
                                    </label>
                                    @{

                string hh = "hidden";
                string tt = "text";
                                    }


                                    <input name="fdetail_user_landx" type=" @if (@tb_land_use.id_land_use == 2 || @tb_land_use.id_land_use == 3){ @hh}else{@hh}">

                                    @if (@tb_land_use.land_use_seq == 6)
            {
                        <input name="fdetail_user_land" type="text">
}
                                </div>

                            </div>

                            <!--end form-group-->
                        </div>
}
                            </div>

                            <hr />

                            @if (@Session["far_id"] != null)
                            {


                             <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">เงินทุนที่จำเป็นต้องใช้ในการทำเกษตรบนพื้นที่แปลงใหม่ (โดยประมาณ)</label>
                                        <input name="reg_capital" type="text" class="form-control" id="reg_capital" required placeholder="เงินทุนที่จำเป็นต้องใช้ในการทำเกษตรบนพื้นที่แปลงใหม่ (โดยประมาณ)">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            }
                            @if (@Session["reg_organi_id"] != null)
                            {


                             <div class="row">
                                 <div class="col-md-3">
                                     <div class="form-group">
                                         <label for="name" class="col-form-label required">จำนวนสมาชิกที่นำมาจัดสรรลงที่ดิน</label>
                                         <input name="reg_member" type="text" class="form-control" id="reg_member" placeholder="จำนวนสมาชิกที่นำมาจัดสรรลงที่ดิน" required>
                                     </div>
                                 </div>
                                 <!--end form-group-->

                                 <div class="col-md-3">
                                     <div class="form-group">
                                         <label for="name" class="col-form-label required">รายได้ที่คาดว่าจะได้รับต่อปี</label>
                                         <input name="reg_income" type="text" class="form-control" id="reg_income" placeholder="รายได้ที่คาดว่าจะได้รับ" required>
                                     </div>
                                 </div>

                                 <div class="col-md-3">
                                     <div class="form-group">
                                         <label for="name" class="col-form-label required">ทุนที่ต้องใช้</label>
                                         <input name="reg_capital" type="text" class="form-control" id="reg_capital" placeholder="ทุนที่ต้องใช้" required>
                                     </div>
                                 </div>


                             </div>
                            }
                           
                            <hr />


                        </div>


                        <!--end form-group-->
                        <button type="submit" class="btn btn-primary float-right" id="submitid">บันทึก</button>

                        @if (@Session["far_id"] != null)
        {
                <input name="far_id" value="@Session["far_id"]" type="hidden" class="form-control" id="far_id">
}
                        @if (@Session["reg_organi_id"] != null)
        {
                <input name="far_id" value="@Session["reg_organi_id"]" type="hidden" class="form-control" id="far_id">
}

                    </form>
                    <!--end form-->
                </div>
                <!--end col-md-8 -->
            </div>
            <!--end row-->
            <!--<button type="button" class="btn btn-primary float-right" OnClick="return CheckDouble();">xxx</button>-->
            <div id="showdataland"></div>
        </div>
        <!--end container-->



    </section>
    <!--end block-->



</section>
<!--end content-->


<script>
    $(document).ready(function ($) {
        var year = @ViewData["age_year"]-543;
        var dateyear = "@ViewData["age_month"]-@ViewData["age_day"]-" + year;
        //alert(dateyear);
        $("#far_age2").datepicker("setDate", new Date(dateyear));

        $('.select2').selectize();

            var id1 = "@Session["far_id"]";
            var id2 = "@Session["reg_organi_id"]";
      

            if (id1 > 0) {
                var far_id = id1;
            }
            if (id2 > 0) {
                var far_id = id2;
        }

       
            //var urlprov = "/Home/loadaddr" + province_id;
            
            $.ajax({
            url: '@Url.Content("~/HOME/listland_farmer/")' + far_id,

                success: function (data) {

                    $("#showdataland").html("" + data);

            }
            });



        $('#PROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {




                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {


                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(AMPHUR_ID);
                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");

                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }


            }
            });
        });





       $('#fPROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id+"/prov2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(province_id);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fndistrict").addClass("required");
                    }
                    if (province_id == 0) {

                        $("#fndistrict").removeClass("required");
                        $("#fsubdistrict").removeClass("required");

                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fshowtumbon").html("" + data);


                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                        $("#fndistrict").text("");
                        //alert(province_id);
                    }

            }
           });



        });





         $('#fshowdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#fndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID+"/aum2";
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")' + AMPHUR_ID + "/aum2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {


                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#fDISTRICT_ID").text("");
                        $("#fshowtumbon").html("" + data);
                        $("#fshowtumbon").show();
                        $("#fsubdistrict").addClass("required");


                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#fsubdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                    }


            }
            });
         });





        $("#myform").validate({
            rules: {
                land_rai: {
                    required: true,
                    number: true,
                    //range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                land_nga: {
                    required: true,
                    number: true,
                    range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                land_va: {
                    required: true,
                    number: true,
                    range: [0, 99]
                    //minlength: 1,
                    //maxlength: 2
                },
                fPROVINCE_ID: {
                    required: true,
                    //number: true,
                    //range: [0, 99]
                    //minlength: 1,
                    //maxlength: 2
                }
            }
        });




    });






</script>

<script type="text/javascript">
    function checkID(id) {
        if (id.length != 13) return false;
        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);
        if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
            return false; return true;
    }

    function checkForm() {

        var chko_name = document.getElementById("far_name").value;
        var chko_surname = document.getElementById("far_surname").value;

        if (!chko_name.match(pattern_thai) && !chko_name.match(pattern_eng)) {

            document.getElementById("far_name").value = '';
            document.getElementById("alerto_name").innerHTML = "กรุณากรอกชื่อภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {


            document.getElementById("alerto_name").innerHTML = "";
        }

        ///////

        if (!chko_surname.match(pattern_thai) && !chko_surname.match(pattern_eng)) {


            document.getElementById("far_surname").value = '';
            document.getElementById("alerto_o_surname").innerHTML = "กรุณากรอกนามสกุลภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {

            // document.getElementById(txtalert).innerHTML = "";
            document.getElementById("alerto_o_surname").innerHTML = "";
        }






    }

    function checkpass() {

        var far_pass = document.getElementById("far_pass").value;
        var far_pass2 = document.getElementById("far_pass2").value;
        //alert("xxxxx");
        if (far_pass != far_pass2) {

            document.getElementById("alerttext").innerHTML = "รหัสผ่านไม่ตรงกัน";
            return false;
        } else {

            document.getElementById("alerttext").innerHTML = "";
        }
    }


    function checkdoble() // Submit button clicked
    {
        //alert(i++);



        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        //return false;
    }

    var verifyCallback = function (response) {
        alert(response);
    };
    var onloadCallback = function () {

        grecaptcha.render('html_element', {
            'sitekey': '6LfG7V8UAAAAAA30eNulT4ZA3BPHNO48DXDxTTD_',
            'callback': verifyCallback,
            //'theme': 'dark'
        });
    };


</script>




