﻿<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="blog-post clearfix">
                    <a href="blog-post.html">
                        <img src="assets/img/blog-image-01.jpg" alt="">
                    </a>
                    <div class="article-title" style="background-color:antiquewhite;">
                        <h2><a>รูปแบบการให้บริการ</a></h2>
                        <!--<div class="tags framed">
                            <a href="#" class="tag">Home & Decor</a>
                            <a href="#" class="tag">Design</a>
                        </div>
                            -->
                    </div>
                    <div class="meta">

                    </div>
                    <div class="blog-post-content">



                        <img src="~/Content/images/service-01.jpg" alt="" class="center"><br>

                        <img src="~/Content/images/service-02.jpg" alt="" class="center"><br>
                        <img src="~/Content/images/service-03.jpg" alt="" class="center"><br>
                        <hr>
                        <!--end author-->
                    </div>
                    <!--end blog-post-content-->
                </article>
            </div>
        </div>
    </div>
</section>
