﻿@using cmarket.Models
@model IEnumerable<RegisterModel>
@{
    if (@Session["id_owner"] == null && @Session["staff_id"] == null && @Session["id_owner_organi"] == null && @Session["far_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'>window.location.href = '@Url.Action("Index", "Home")';</script>
    }

    //var typeland = (RegisterModel)ViewBag.type_land;//retrive Data from ViewBag or ViewData

    // var ownerland2 = (RegisterModel)ViewData["ownerland"];



}


<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

<section class="content">

    <section class="block">

        <div class="container">
            <div class="row">
                        <div class="col-md-12">
                           @if (Session["id_owner"] != null || @Session["id_owner_organi"] != null)
                                {
                                    <a href="@Url.Action("listland", "Home")"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการที่ดิน</button></a>
                                    <input type="hidden" id="status_land0" name="status_land" value="1">

                            }

                            @if (Session["staff_id"] != null)
                            {
                                <a href="@Url.Action("landOwner", "Backend",new { type_owner_land = @ViewData["type_owner_land"] })"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการที่ดิน</button></a>
                                <input type="hidden" id="status_land0" name="status_land" value="2">
                            }
                        </div>
                    </div>
            <div class="form-group" id="type">
                                <label for="type" class=""></label>
                                <figure>
                                    <label class="framed" style="background-color:lemonchiffon;" onclick="chkpic('1')">
                                        <input type="radio" checked name="type" value="1" id="show1">
                                        แสดงรูปที่ดิน
                                    </label>
                                    <label class="framed" style="background-color:lemonchiffon;" onclick="chkpic('2')">
                                        <input type="radio" name="type" value="2" id="show2">
                                        แก้ไขรูปที่ดิน
                                    </label>
                                </figure>
                            </div>
           

        <div id="updatepic">
            <form class="form form-submit" method="post" action="@Url.Action("inserimg", "Home")" enctype="multipart/form-data">
                <section>
                    
                    <div class="row">

                        <div class="col-md-12">
                            <section>
                                <h2>รูปภาพที่ดิน (จ.@ViewBag.PROVINCE_NAME อ.@ViewBag.AMPHUR_NAME ต.@ViewBag.DISTRICT_NAME)</h2> <font color="red" size="3px;">(ถ้ามีการอัพเดดเปลี่ยนข้อมูลต้องรอ บจธ. อนุมัติ ข้อมูลจึงจะแสดงบนเว็บไซต์)</font>
                                <div class="file-upload-previews"></div>
                                <div class="file-upload">
                                    <input type="file" name="files" id="files" class="file-upload-input with-preview" data-maxfile="1024" multiple accept="jpg|png" required>

                                    <span><i class="fa fa-plus-circle"></i>ลากรูปหรือคลิกเพื่อ Upload รูป (ขนาดไม่เกิน 1 mb และได้เฉพาะ JPG PNG เท่านั้น)</span>
                                </div>
                            </section>
                        </div>
                        <!--end col-md-4-->

                    </div>
                    @if (Session["id_owner"] != null || @Session["id_owner_organi"] != null)
                                {
                                    
                                    <input type="hidden" id="status_land0" name="status_land" value="1">

                            }
                    <button type="submit" class="btn btn-primary float-right" onclick="return confirm('ต้องการอัพเดดข้อมูลใช่หรือไม่?')">บันทึก</button>


                </section>

                <input type="hidden" value="@Session["far_id"]" name="id_owner" id="id_owner">
                <input type="hidden" value="@ViewBag.o_land_id" name="o_land_id" id="o_land_id">

                <input type="hidden" value="@ViewBag.PROVINCE_NAME" name="vPROVINCE_NAME" id="vPROVINCE_NAME">
                <input type="hidden" value="@ViewBag.AMPHUR_NAME" name="vAMPHUR_NAME" id="vAMPHUR_NAME">
                <input type="hidden" value="@ViewBag.DISTRICT_NAME" name="vDISTRICT_NAME" id="vDISTRICT_NAME">

            </form>

            <br />
            <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
                @foreach (RegisterModel imgland in ViewBag.imgland)
                {
                    <div class="item" style="height:300px;">
                        <div class="wrapper" style="height:300px;">
                            <div class="image">

                                <a href="#" class="image-wrapper background-image">
                                    <img src="~/imgland/@imgland.img_name" alt="">
                                </a>
                            </div>

                            <a href="@Url.Action("delimg", "Home",new { img_id = imgland.img_id,img_name=imgland.img_name, o_land_id1=ViewBag.o_land_id, PROVINCE_NAME1=ViewBag.PROVINCE_NAME, AMPHUR_NAME1=ViewBag.AMPHUR_NAME, DISTRICT_NAME1=ViewBag.DISTRICT_NAME })" class="detail text-caps underline">ลบ</a>
                        </div>
                    </div>
                }
            </div>
            </div>

            <div id="showpic" class="fotorama" data-nav="thumbs" data-autoplay="true" style="margin: auto; width: 80%; padding: 5px;">

            @foreach (RegisterModel img in ViewBag.imgland)
            {
                <img src="~/imgland/@img.img_name" style="height:10%;">


            }

        </div>

        </div>



        

    </section>
</section>

@Scripts.Render("~/Content/assets/js/jQuery.MultiFile.min.js")
<script type="text/javascript">
    $(document).ready(function ($) {

        $("#updatepic").hide();
        $('#show1').click(function () {
            alert("xxx");
        });
    });
   
    function chkpic(id) {

        //alert("xxx");
        if (id==1) {
            $("#showpic").show();
            $("#updatepic").hide();
        }

        if (id == 2) {
            $("#showpic").hide();
            $("#updatepic").show();
        }
        
    }

</script>