﻿@using cmarket.Models
@model IEnumerable<RegisterModel>
@{
    if (@Session["id_owner"] == null && Session["id_owner_organi"] == null && @Session["far_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'>window.location.href = '@Url.Action("Index", "Home")';</script>
    }

    //var typeland = (RegisterModel)ViewBag.type_land;//retrive Data from ViewBag or ViewData

    // var ownerland2 = (RegisterModel)ViewData["ownerland"];



}




<section class="content">
    <section class="block">
        <div class="container">
            <form class="form form-submit" id="myform" method="post" action="@Url.Action("inserland", "Home")" enctype="multipart/form-data" onsubmit="checkdoble();">
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("listland", "Home")"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการที่ดิน</button></a>
                        </div>
                    </div>
                    <h2>รายละเอียดที่ดิน</h2>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input title="ต้องการให้เช่า" type="radio" class="required o_wland0" id="o_wland1" name="o_wland" value="1" onclick="checko_wland(1)">
                                        ต้องการให้เช่า
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                        <!-- <div class="col-md-2">
                <div class="form-group">

                    <div class="wrapper">
                        <label>
                            <input title="ต้องการให้เช่าซื้" type="radio" id="o_wland2" name="o_wland" value="2">
                            ต้องการให้เช่าซื้อ
                        </label>
                    </div>

                </div>


            </div>
        -->
                        <div class="col-md-2">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input title="ต้องการขาย" type="radio" id="o_wland3" name="o_wland" value="3">
                                        ต้องการขาย
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>

                    </div>

                    <h3>ที่ตั้งแปลงที่ดิน</h3>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">จังหวัด</label>


                                <select name="PROVINCE_ID" id="PROVINCE_ID" class="required select2" data-placeholder="เลือกจังหวัด" required>
                                    <option value="" id="ROVINCE_list"> -- Select --</option>
                                    @foreach (RegisterModel ownerland in ViewBag.ownerland)
                    {
                        <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>

    }
                                </select>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email" class="col-form-label required">อำเภอ</label>
                                <div class="form-line" id="showdistrict">
                                    <select name="AMPHUR_ID" id="AMPHUR_ID" class="select2-single" data-placeholder="เลือกอำเภอ" required>
                                        <option value="" id="amphur_list"> -- Select --</option>
                                    </select>
                                </div>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email" class="col-form-label required">ตำบล</label>
                                <div class="form-line" id="showtumbon">
                                    <select name="DISTRICT_ID" id="DISTRICT_ID" class="select2-single" data-placeholder="เลือกตำบล" required>
                                        <option value="" id="tumbon_list"> -- Select --</option>
                                    </select>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="email" class="col-form-label required">ประเภทที่ดิน</label>
                                <div class="form-line">
                                    <select name="type_land_id" id="type_land_id" class="select2-single" data-placeholder="ประเภทที่ดิน" required>
                                        <option value=""> -- Select --</option>
                                        @foreach (RegisterModel viewtypeland in ViewBag.type_land)
                        {
                            <option value="@viewtypeland.type_land_id"> @viewtypeland.name_type</option>

        }

                                    </select>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">เลขที่เอกสารสิทธ์</label>
                                <input name="o_land_num" type="text" title="จำนวนไร่ต้องเป็นตัวเลข" class="form-control" id="o_land_num" required>

                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-8-->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">ไร่</label>
                                <input name="land_rai" type="text" title="จำนวนไร่ต้องเป็นตัวเลข" class="form-control" id="land_rai" required>
                                <span class="input-group-addon">ไร่</span>
                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">งาน</label>
                                <input name="land_nga" type="text" title="จำนวนงานต้องน้อยกว่า 4 งาน" class="form-control" id="land_nga" required>
                                <span class="input-group-addon">งาน</span>
                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">ตารางวา</label>
                                <input name="land_va" type="text" class="form-control" title="จำนวนตารางวาต้องไม่เกิน 99 ตารางวา" id="land_va" required>
                                <span class="input-group-addon">ตารางวา</span>
                            </div>
                            <!--end form-group-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">ราคาที่ต้องการ</label>
                                <input name="m_rent" type="text" class="form-control" id="m_rent" placeholder="" required>
                                <span class="input-group-addon">บาท</span>
                            </div>
                            <!--end form-group-->
                        </div>

                        <div class="col-md-4" id="div_period_per">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">ต้องการให้เช่า ต่อ เดือน/ปี</label>
                                <select name="period_per" id="period_per" data-placeholder="ต่อ เดือน/ปี" required>
                                    <option value="0"> เดือน/ปี</option>
                                    <option value="1">เดือน</option>
                                    <option value="2">ปี</option>



                                </select>
                            </div>
                            <!--end form-group-->
                        </div>

                        <div class="col-md-4" id="div_period">
                            <div class="form-group">
                                <label for="name" class="col-form-label ">ระยะเวลาต่อ (เดือน/ปี)</label>
                                <select name="period" id="period" data-placeholder="ระยะเวลาต่อ (เดือน/ปี)" required>
                                    <option value="0"> ปี</option>

                                    @for (var ii = 1; ii <= 30; ii++)
                    {
                        <option value="@ii"> <p>@ii</p></option>
    }


                                </select>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="price" class="col-form-label">Latitude</label>
                <input name="latitude_land" type="text" class="form-control" id="latitude_land">
                <span class="input-group-addon">Latitude</span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="price" class="col-form-label">Longitude</label>
                <input name="longitude_land" type="text" class="form-control" id="longitude_land">
                <span class="input-group-addon">longitude_land</span>
            </div>

        </div>
    </div>
        -->
                    <hr />
                    <h3><label for="name" class="col-form-label required">การใช้ประโยชน์ในที่ดินในปัจจุบัน</label></h3>
                    <div class="row">

                        @foreach (RegisterModel tb_land_use in ViewBag.tb_land_use)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input type="checkbox" class="required" id="id_land_use@{@tb_land_use.id_land_use}" name="id_land_use" value="@tb_land_use.id_land_use">
                                @tb_land_use.land_use_name
                            </label>
                            <input name="detail_user_land" type="hidden" id="detail_user_land@{@tb_land_use.id_land_use}">
                            @if (@tb_land_use.id_land_use == 2 || @tb_land_use.id_land_use == 3)
            {

            }
                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />

                    <h3><label for="name" class="col-form-label required">คมนาคม</label></h3>
                    <div class="row">

                        <div class="col-md-3">

                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="radio" class="required" id="o_road" name="o_road" value="1">
                                        ติดถนน
                                    </label>

                                </div>

                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="radio" class="required" id="o_road2" name="o_road" value="2">
                                        ไม่ติดถนน
                                    </label>

                                </div>

                            </div>
                        </div>

                        <!--end form-group-->
                    </div>
                    <hr />
                    <h3><label for="name" class="col-form-label required">แหล่งน้ำ</label></h3>
                    <div class="row">

                        @foreach (RegisterModel tb_water in ViewBag.tb_water)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input type="checkbox" class="required" id="id_data_water@{@tb_water.id_data_water}" name="id_data_water" value="@tb_water.id_data_water">
                                @tb_water.water_name
                            </label>

                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />

                    <h3><label for="name" class="col-form-label required">ลักษณะที่ดิน</label></h3>
                    <div class="row">

                        @foreach (RegisterModel land_group in ViewBag.land_group)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input type="checkbox" class="required" id="id_land_group@{@land_group.id_land_group}" name="id_land_group" value="@land_group.id_land_group">
                                @land_group.land_group_name
                            </label>



                            @if (@land_group.seq_num == 4)
            {

                <input name="land_group_detail" type="text" id="land_group_detail@{@land_group.id_land_group}">
}
                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />
                    <h3 id="hcondiland"><label for="name" class="col-form-label required">ข้อจำกัดการใช้ประโยชน์</label></h3>
                    <div class="row" id="condiland">

                        @foreach (RegisterModel condition_use_land in ViewBag.condition_use_land)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input type="checkbox" class="required" id="id_condi_use_land" name="id_condi_use_land" value="@condition_use_land.id_condi_use_land">
                                @condition_use_land.condi_name
                            </label>
                           
                             @if (@condition_use_land.id_condi_use_land == 3)
                             {

                                            <input name="condi_detail" type="text" id="condi_detail">
                            }

                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name" class="col-form-label required">รายละเอียดอื่นๆ</label>
                            <textarea name="place_land" id="place_land" class="form-control" rows="5" required></textarea>
                        </div>

                    </div>
                    <!-- <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="col-form-label required">สภาพที่ดิน</label>
                <textarea name="place_land" id="place_land" class="form-control" rows="5" required></textarea>
            </div>

        </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="col-form-label required">เงื่อนไข (บันทึกข้อตกลง)</label>
                                    <textarea name="codition" id="codition" class="form-control" rows="10"></textarea>
                                </div>

                            </div>
    -->
                    <div class="row">
                        <div class="col-md-12">
                            <section>
                                <h2><label for="name" class="col-form-label required">รูปภาพที่ดิน</label></h2>
                                <div class="file-upload-previews"></div>
                                <div class="file-upload">
                                    <input type="file" name="files" id="files" class="file-upload-input with-preview" data-maxfile="1024" multiple accept="jpg|png">
                                    <span><i class="fa fa-plus-circle"></i>ลากรูปหรือคลิกเพื่อ Upload รูป (ขนาดไม่เกิน 1 mb และได้เฉพาะ JPG PNG เท่านั้น)</span>
                                </div>
                            </section>
                        </div>

                    </div>
                </section>
                <button type="submit" id="submitid" class="btn btn-primary float-right">บันทึก</button>
                @if (@Session["far_id"] != null) {
                    <input type="hidden" value="@Session["far_id"]" name="id_owner" id="id_owner">
                    <input type="hidden" value="1" name="type_owner_land" id="type_owner_land">
                }
                 @if (@Session["reg_organi_id"] != null) {
                    <input type="hidden" value="@Session["reg_organi_id"]" name="id_owner" id="id_owner">
                    <input type="hidden" value="2" name="type_owner_land" id="type_owner_land">
                }
                
            </form>
        </div>
    </section>
</section>
<script>
     $(document).ready(function ($) {



         

        //เรียกใช้งาน Select2
        //$(".select2-single").select2();
         $('.select2').selectize();

        $('#PROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(data);


                    $("#AMPHUR_ID").text("");

                    $("#showdistrict").html("" + data);
                    $("#showdistrict").show();


            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(urlprov);
                    $("#DISTRICT_ID").text("");
                    $("#showtumbon").html("" + data);
                    $("#showtumbon").show();


            }
            });
         });


         $("#myform").validate({
             rules: {
                 land_rai: {
                     required: true,
                     number: true,
                     //range: [0, 3]
                     //minlength: 1,
                     //maxlength: 2
                 },
                 land_nga: {
                     required: true,
                     number: true,
                     range: [0, 3]
                     //minlength: 1,
                     //maxlength: 2
                 },
                 land_va: {
                     required: true,
                     number: true,
                     range: [0, 99]
                     //minlength: 1,
                     //maxlength: 2
                 }
             }
         });
         //$('#period_per').prop('disabled', 'disabled');

         $("#o_wland1").on('ifChecked', function (e) {
            
             $("#div_period_per").show(3);
             $("#div_period").show(3);
             $("#condiland").show(3);
             $("#hcondiland").show(3);
             

             document.getElementById("period_per").disabled = false;
             document.getElementById("period").disabled = false;
             document.getElementById("id_condi_use_land").disabled = false;
             document.getElementById("condi_detail").disabled = false;


           
         });

         $("#o_wland3").on('ifChecked', function (e) {
            

             $("#div_period_per").hide(3);
             $("#div_period").hide(3);
             $("#condiland").hide(3);
             $("#hcondiland").hide(3);

             document.getElementById("period_per").disabled = true;
             document.getElementById("period").disabled = true;
             document.getElementById("id_condi_use_land").disabled = true;
             document.getElementById("condi_detail").disabled = true;
             

            
         });

         //$("#detail_user_land2").hide()
         //$("#detail_user_land3").hide()
         $("#id_land_use2").on('ifChecked', function (e) {
             
             $("#detail_user_land2").show()
             
             
         });
         
    });


    
    function checko_wland(id) {

       /* $('#period_per').prop('disabled', 'disabled');
        alert("xxxx" + id);
        if (id == 1 && id==2) {
           
            document.getElementById("period_per").disabled = true;
            document.getElementById("period").disabled = true;

        }

        if (id == 3) {

            document.getElementById("period_per").disabled = false;
            document.getElementById("period").disabled = false;
        }*/


    }


    function checkdoble() // Submit button clicked
    {
        //alert(i++);



        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        //return false;
    }
</script>

@Scripts.Render("~/Content/assets/js/jQuery.MultiFile.min.js")