﻿@{
    /**/

    Layout = null;
}
@using cmarket.Models
@model IEnumerable<RegisterModel>

@{





    if (ViewBag.Message == "provmain")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="PROVINCE_ID" id="PROVINCE_ID" class="select123" data-placeholder="เลือกจังหวัด">
            <option value="0"> เลือกจังหวัด</option>
            @foreach (RegisterModel ownerland in Model)
            {


                <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }

    if (ViewBag.Message == "prov")
    {



        //Response.Write("<script>alert('" + ViewBag.Message + "')</script>");
        //Response.Write("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx");

        /*@foreach (RegisterModel ownerland in Model)
        {

            Response.Write(" $json_result[] = [

              'id'=>@ownerland.AMPHUR_ID,
              'name'=>@ownerland.AMPHUR_NAME
            ]");

        }*/

        // Response.Write("json_encode($json_result)");

        //Response.Write("xxxxxx");

        //ใช้ Function json_encode แปลงข้อมูลในตัวแปร $json_result ให้เป็นรูปแบบ Json
        //json_encode($json_result);




        <select name="amp_id" id="ndistrict" class="select22" data-placeholder="เลือกอำเภอ">
            <option value="">  เลือกอำเภอ </option>
            @foreach (RegisterModel ownerland in Model)
            {
                <option value="@ownerland.AMPHUR_ID">@ownerland.AMPHUR_NAME</option>

            }
        </select>



    }


    if (ViewBag.Message == "prov2")
    {



        <select name="famp_id" id="fndistrict" data-placeholder="เลือกอำเภอ">
            <option value=""> เลือก </option>
            @foreach (RegisterModel ownerland in Model)
            {
                <option value="@ownerland.AMPHUR_ID">@ownerland.AMPHUR_NAME</option>

            }
        </select>



    }




    if (ViewBag.Message == "tum")
    {


        // Response.Write("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx");

        <select name="distr_id" id="subdistrict" class="select23" data-placeholder="เลือกตำบล">
            <option value=""> เลือกตำบล </option>
            @foreach (RegisterModel ownerland in Model)
            {
                <option value="@ownerland.DISTRICT_ID">@ownerland.DISTRICT_NAME</option>

            }
        </select>



    }



    if (ViewBag.Message == "tum2")
    {




        <select name="fdistr_id" id="fsubdistrict" class="select23" data-placeholder="เลือกตำบล">
            <option value=""> เลือกตำบล </option>
            @foreach (RegisterModel ownerland in Model)
            {
                <option value="@ownerland.DISTRICT_ID">@ownerland.DISTRICT_NAME</option>

            }
        </select>



    }


    if (ViewBag.Message == "provsearch")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="PROVINCE_ID2" id="PROVINCE_ID2" class="select2" data-placeholder="เลือกจังหวัด">
            <option value=""> เลือกจังหวัด</option>
            @foreach (RegisterModel ownerland in Model)
            {


                <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }

    if (ViewBag.Message == "ampsearch")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="AMPHUR_ID2" id="AMPHUR_ID2" class="select2" data-placeholder="เลือกอำเภอ">
            <option value=""> เลือกอำเภอ</option>
            @foreach (RegisterModel ownerland in Model)
            {


                <option value="@ownerland.AMPHUR_ID">อ.@ownerland.AMPHUR_NAME จ.@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }

    if (ViewBag.Message == "distsearch")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="DISTRICT_ID2" id="DISTRICT_ID2" class="select2" data-placeholder="เลือกตำบล">
            <option value=""> เลือกอำเภอ</option>
            @foreach (RegisterModel ownerland in Model)
            {


            <option value="@ownerland.DISTRICT_ID">ต.@ownerland.DISTRICT_NAME อ.@ownerland.AMPHUR_NAME จ.@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }
    


}
