﻿@{
    /**/

    Layout = null;
}
@using cmarket.Models
@model IEnumerable<RegisterModel>

@{


    if (ViewBag.Message == "provsearch")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="PROVINCE_ID2" id="PROVINCE_ID2" class="select2" data-placeholder="เลือกจังหวัด">
            <option value=""> เลือกจังหวัด</option>
            @foreach (RegisterModel ownerland in Model)
            {


                <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }

    if (ViewBag.Message == "ampsearch")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="AMPHUR_ID2" id="AMPHUR_ID2" class="select2" data-placeholder="เลือกอำเภอ">
            <option value=""> เลือกอำเภอ</option>
            @foreach (RegisterModel ownerland in Model)
            {


                <option value="@ownerland.AMPHUR_ID">อ.@ownerland.AMPHUR_NAME จ.@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }

    if (ViewBag.Message == "distsearch")
    {


        // @ViewBag.province_id
        //@province_id;

        <select name="DISTRICT_ID2" id="DISTRICT_ID2" class="select2" data-placeholder="เลือกตำบล">
            <option value=""> เลือกอำเภอ</option>
            @foreach (RegisterModel ownerland in Model)
            {


                <option value="@ownerland.DISTRICT_ID">ต.@ownerland.DISTRICT_NAME อ.@ownerland.AMPHUR_NAME จ.@ownerland.PROVINCE_NAME</option>


            }
        </select>




    }



}

        <script>
            $(document).ready(function ($) {

                $('.select2').selectize();
                $('#PROVINCE_ID').selectize();
                $('#ndistrict').selectize();
                $('#subdistrict').selectize();

                $('#fndistrict').selectize();
                $('#fsubdistrict').selectize();
            });

        </script>