﻿@{
    //var id = TempData["id_owner"];
    //var urll = "<a href="localhost:54392/Home/conf?id="+id+">คลิกยืนยันการลงทะเบียนที่นี้</a>";

    //var urll = "<a href=" + Url.Action("confrimUrl", "Home", new { alert = TempData["id_owner"] }) + ">คลิกยืนยันการลงทะเบียนที่นี้</a>";
}
<script type="text/javascript">

    //setTimeout(function () { alert("Hello"); }, 5000);
    // document.getElementById("myBtn").disabled = false;
</script>

<script>
    $(document).ready(function () {
        $("#bbb").hide();




        var explode = function () {
            $("#bbb").show('slow');
        };
        setTimeout(explode, 3000);

    });



</script>

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">


                    @{
        if (@TempData["organi"] == "organi" && @TempData["check"] == "true")
        {



                <!--<script type='text/javascript'>window.location.href = '@Url.Action("index", "Home")';</script>-->

                <p>

                    <h1>ท่านได้ลงทะเบียนเรียบร้อยแล้ว</h1><br>
                    โปรดตรวจสอบ Email ของท่าน เพื่อยันการลงทะเบียน และนำ Username และ Password เข้าใช้งานระบบ <br>

                    หากท่านไม่ได้รับ Email โปรดดูที่ Spam,Junkmail หากยังไม่พบสามารถติดต่อสอบถามได้ที่ โทร: 02-2781244 , 02-2781648 ต่อ 499 <br>

                    <a id="bbb" href="@Url.Action("login", "Home",new { re=1 })">
                        <button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-left">เข้าสู่ระบบ</button>
                    </a>


                </p>
                
                <iframe frameborder="0" src="http://intranet.labai.or.th:8080/apimail/getmail.php?data=@TempData["data_organi"]&organi_id=@TempData["reg_organi_id"]&type=or"></iframe>
                <iframe frameborder="0" src="http://192.168.2.148:8080/apimail/line/linemag.php?data=@TempData["data_owner"]&id=@TempData["reg_organi_id"]&type=or"></iframe>
                    

                <!--<iframe frameborder="0" src="http://192.168.2.148:8080/apimail/getgmail.php?data=@TempData["data_owner"]&id_owner=@TempData["id_owner"]&type=ow"></iframe>
<iframe frameborder="0" src="http://192.168.2.148:8080/apimail/line/linemag.php?data=@TempData["data_owner"]&id=@TempData["id_owner"]&type=ow"></iframe>-->
                <hr>
}
else
{

                <p>
                    <font color="red">ท่านลงทะเบียนไม่สำเร็จ โปรดลองอีกครับ หรือ โทร: 02 - 2781244 , 02 - 2781648 ต่อ 610 </font><br>

                </p>

                <a href="@Url.Action("RegisterLand", "Home")"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-left">ลงทะเบียน</button></a>

}

                    }
                    <!-- <p>
        Troubles with signing? <a href="#" class="link">Click here.</a>
    </p>-->
                </div>
                <!--end col-md-6-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->
