﻿
@{
    //var id = TempData["id_owner"];
    //var urll = "<a href="localhost:54392/Home/conf?id="+id+">คลิกยืนยันการลงทะเบียนที่นี้</a>";

    //var urll = "<a href=" + Url.Action("confrimUrl", "Home", new { alert = TempData["id_owner"] }) + ">คลิกยืนยันการลงทะเบียนที่นี้</a>";

   
    


}
<script type="text/javascript">

    //setTimeout(function () { alert("Hello"); }, 5000);
   // document.getElementById("myBtn").disabled = false;
</script>

<script>
    $(document).ready(function () {
        $("#bbb").hide();




        var explode = function () {
            $("#bbb").show('slow');
        };
        setTimeout(explode, 3000);

    });






</script>

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">



                    @if (@TempData["farmer"] == "farmer" && @TempData["check"] == "true")
    {





                    <p>

                        <h1>ท่านได้ลงทะเบียนเรียบร้อยแล้ว</h1><br>
                        โปรดตรวจสอบ Email ของท่าน เพื่อยืนยันการลงทะเบียน และนำ Username และ Password เข้าใช้งานระบบ <br>

                        หากท่านไม่ได้รับ Email โปรดดูที่ Spam,Junkmail หากยังไม่พบสามารถติดต่อสอบถามได้ที่ โทร: 02-2781244 , 02-2781648 ต่อ 499 <br>

                        <a id="bbb" href="@Url.Action("login", "Home",new { re=1 })"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-left">เข้าสู่ระบบ</button></a>


                    </p>

                <iframe frameborder="0" src="http://intranet.labai.or.th:8080/apimail/getmail.php?data=@TempData["data_owner"]&far_id=@TempData["far_id"]&type=ow"></iframe>
                <iframe frameborder="0" src="http://intranet.labai.or.th:8080/apimail/line/linemag.php?data=@TempData["data_owner"]&id=@TempData["far_id"]&type=ow"></iframe>


                <hr>
                }
                else
                {

                <p>
                    <font color="red">ท่านลงทะเบียนไม่สำเร็จ โปรดลองอีกครับ หรือ โทร: 02 - 2781244 , 02 - 2781648 ต่อ 610 </font><br>

                </p>

                <a href="@Url.Action("regisfa", "Home")"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-left">ลงทะเบียน</button></a>

                }


                    <!-- <p>
        Troubles with signing? <a href="#" class="link">Click here.</a>
    </p>-->
                </div>
                <!--end col-md-6-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->
