﻿@{
    Layout = null;
}
@using cmarket.Models
@model IEnumerable<RegisterModel>

<style type="text/css">
    .boxx {
        border: 1px solid ghostwhite;
        padding: 5px;
    }

        .boxx:hover {
            -moz-box-shadow: 0 0 10px #000;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
        }
</style>
@{


foreach (RegisterModel PROVINCE in ViewBag.PROVINCE)
{

    if (ViewBag.searchprovince == "1")
    {
            <div style="padding-left:10px; cursor:pointer; background-color:#fcfcfb;" class="boxx" id="link" onclick="Add_ID('@PROVINCE.PROVINCE_ID','@PROVINCE.PROVINCE_NAME')">@PROVINCE.PROVINCE_NAME</div>

        }

    if (ViewBag.searchpaumpr == "2")
    {
            <div style="padding-left:10px; cursor:pointer; background-color:aliceblue;" id="link" onclick="Add_ID('@PROVINCE.AMPHUR_ID','@PROVINCE.AMPHUR_NAME')">@PROVINCE.PROVINCE_NAME @PROVINCE.AMPHUR_NAME</div>

        }

    if (ViewBag.searchdis == "3")
    {
            <div style="padding-left:10px; cursor:pointer; background-color:aliceblue;" id="link" onclick="Add_ID('@PROVINCE.DISTRICT_ID','@PROVINCE.DISTRICT_NAME')">@PROVINCE.PROVINCE_NAME @PROVINCE.AMPHUR_NAME @PROVINCE.DISTRICT_NAME </div>

        }



}
}
