﻿<header class="hero has-map">
    <div class="hero-wrapper">
        <!--============ Secondary Navigation ===============================================================-->
        <div class="secondary-navigation">
            <div class="container">
                <ul class="left">
                    <li>
                        <span>
                            <i class="fa fa-phone"></i> 02-2781244 , 02-2781648 ต่อ 461  แฟกซ์ 02-2781148
                        </span>
                    </li>
                </ul>
                <!--end left-->
                <ul class="right">
                   
                    @{

                       /* if (Convert.ToInt32(@Session["type_status_regis"]) == 1)
                        {
                             <li>
                                <a href="@Url.Action("listland", "Home", new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> ข้อมูลที่ดิน
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("fromland", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> เพิ่มแปลงที่ดิน
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("data_farmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลส่วนตัว
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["far_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                           }


                         if (Convert.ToInt32(@Session["type_status_regis"]) ==2)
                        {

                            <li>
                                <a href="@Url.Action("farmersearch", "Home" , new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> ค้นหาแปลงที่ดิน
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("data_farmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลส่วนตัว
                                </a>
                            </li>
                             <li>
                                <a href="@Url.Action("landfarmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> พื้นที่ที่ต้องการทำประโยชน์
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["far_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                        }*/

                        if (Convert.ToInt32(@Session["type_status_regis"])==1 || Convert.ToInt32(@Session["type_status_regis"])==2 || Convert.ToInt32(@Session["type_status_regis"]) == 3)
                        {
                             <li>
                                <a href="@Url.Action("listland", "Home", new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> ข้อมูลที่ดิน
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("fromland", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> เพิ่มแปลงที่ดิน
                                </a>
                            </li>

                             <li>
                                <a href="@Url.Action("farmersearch", "Home" , new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> ค้นหาแปลงที่ดิน
                                </a>
                            </li>
                             <li>
                                <a href="@Url.Action("landfarmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> พื้นที่ที่ต้องการทำประโยชน์
                                </a>
                            </li>

                           

                            <li>
                                <a href="@Url.Action("data_farmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลส่วนตัว
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["far_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                           }



                      /*  if (Convert.ToInt32(@Session["type_status_regis_og"]) == 1)
                        {

                             <li>
                                <a href="@Url.Action("listland", "Home", new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> ข้อมูลที่ดิน
                                </a>
                            </li>
                             <li>
                                <a href="@Url.Action("fromland", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> เพิ่มแปลงที่ดิน
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("organi_update", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลองค์กร
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["reg_organi_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                        }

                        
                        if (Convert.ToInt32(@Session["type_status_regis_og"]) == 2)
                        {

                            <li>
                                <a href="@Url.Action("farmersearch", "Home" , new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> ค้นหาแปลงที่ดิน
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("landfarmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> พื้นที่ที่ต้องการทำประโยชน์
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("organi_update", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลองค์กร
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["reg_organi_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                        }*/

                        if (Convert.ToInt32(@Session["type_status_regis_og"]) == 1 || Convert.ToInt32(@Session["type_status_regis_og"]) == 2 || Convert.ToInt32(@Session["type_status_regis_og"]) == 3)
                        {
                             <li>
                                <a href="@Url.Action("listland", "Home", new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> ข้อมูลที่ดิน
                                </a>
                            </li>
                             <li>
                                <a href="@Url.Action("fromland", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> เพิ่มแปลงที่ดิน
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("farmersearch", "Home" , new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> ค้นหาแปลงที่ดิน
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("landfarmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> พื้นที่ที่ต้องการทำประโยชน์
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("organi_update", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลองค์กร
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["reg_organi_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                        }




                      <!--
                        if (@Session["id_owner_organi"] != null)
                        {
                             <li>
                                <a href="@Url.Action("listland", "Home", new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> ข้อมูลที่ดิน
                                </a>
                            </li>
                             <li>
                                <a href="@Url.Action("fromland", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-dashboard"></i> เพิ่มแปลงที่ดิน
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("data_owner_organi", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลองค์กร
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepass", "Home",new { id = @Session["id_owner_organi_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                           }


                        if (@Session["reg_organi_id"] != null)
                        {

                            <li>
                                <a href="@Url.Action("farmersearch", "Home" , new { id = 0 })" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> ค้นหาแปลงที่ดิน
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("organi_update", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> ข้อมูลองค์กร
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("landfarmer", "Home")" class="detail text-caps underline">
                                    <i class="fa fa-star" style="color:chartreuse;"></i> พื้นที่ที่ต้องการทำประโยชน์
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("changepassfarmer", "Home",new { id = @Session["reg_organi_id_enc"] })" class="detail text-caps underline">
                                    <i class="fa fa-user"></i> เปลี่ยน Password
                                </a>
                            </li>

                        }

                        -->


                        }

                <li>

                     @if (Session["id_owner"] == null && Session["reg_organi_id"] == null && Session["id_owner_organi"] == null && Session["far_id"] == null)
                     {
                        <a href="@Url.Action("login", "Home",new { re=1 })">
                            <i class="fa fa-sign-in"></i>Sign In
                        </a>
                     }
                     else {
                        <a href="@Url.Action("login", "Home",new { re=0 })">
                            <i class="fa fa-sign-in"></i>Sign Out
                        </a>
                     }
                </li>
                <!--<li>
    <a href="register.html">
        <i class="fa fa-pencil-square-o"></i>Register
    </a>
</li>-->
                </ul>
                <!--end right-->
            </div>
            <!--end container-->
        </div>
        <!--============ End Secondary Navigation ===========================================================-->
        <!--============ Main Navigation ====================================================================-->
        <div class="main-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                            <a class="navbar-brand" href="/Home/index">
                                <img src="/Content/assets/img/logo2.png" alt="">
                            </a>
                            <h3 style="margin-top:21px;">ตลาดกลางที่ดิน</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3" style="margin-left:63%;margin-top: 5%;">
                        <div class="row">
                            <a class="nav-link" href="https://www.facebook.com/thelandbankadministrationinstitute/" target="_blank">
                                <img src="/Content/assets/img/facebook_icon.png" alt="">
                            </a>
                            <a class="nav-link" href="https://www.youtube.com/channel/UC9qIHg0upaTRdbBQmThTlFA" target="_blank">
                                <img src="/Content/assets/img/youtube_icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                    <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #229954;padding-top: 20px;padding-bottom: 20px; ">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar" style="">
                            <!--Main navigation list-->
                            <ul class="navbar-nav">
                                <li class="nav-item active has-child">
                                    <a class="nav-link" href="#" style="color: white;">เกี่ยวกับโครงการ</a>
                                    <ul class="child">
                                        <li class="nav-item">
                                            <a href="/Home/vision" class="nav-link">วิสัยทัศน์โครงการ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Home/history" class="nav-link">ประวัติ/ที่มาโครงการ</a>
                                        </li>

                                    </ul>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/network" style="color: white;">กลุ่มเกษตรกรที่กำลังมองหาที่ดิน</a>
                                </li>


                                <li class="nav-item active has-child">
                                    <a class="nav-link" href="#" style="color: white;">ความรู้ตลาดกลางที่ดิน</a>
                                    <ul class="child">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Home/flow">รูปแบบการให้บริการ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Home/mission">ภารกิจภายใต้โครงการฯ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">งานเสวนา</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">ข่าว/ประชาสัมพันธ์</a>
                                        </li>

                                    </ul>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Content/manual.pdf" target="_blank" style="color: white;">คู่มือการใช้เว็บ </a>
                                </li>



                                <!-- <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li>
                                         <li class="nav-item">
                    <a href="submit.html" class="btn btn-primary text-caps btn-rounded btn-framed">Submit Ad</a>
                </li>-->
                            </ul>
                            <!--Main navigation list-->
                        </div>
                        <!--end navbar-collapse-->
                    </nav>

                </div>
            <!--============ End Main Navigation ================================================================-->
        </div>
    <!--end hero-wrapper-->

    