﻿<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="blog-post clearfix">
                    <a>
                        <img src="assets/img/blog-image-01.jpg" alt="">
                    </a>
                    <div class="article-title" style="background-color:antiquewhite;">
                        <h2><a>ประวัติ/ที่มาโครงการ</a></h2>
                        <!--<div class="tags framed">
                            <a href="#" class="tag">Home & Decor</a>
                            <a href="#" class="tag">Design</a>
                        </div>
                            -->
                    </div>
                    <div class="meta">

                    </div>
                    <div class="blog-post-content">


                        <h2 style="margin-bottom: 1rem;">ประวัติ/ที่มาโครงการ</h2>
                        <p>
                            คณะกรรมการสถาบันบริหารจัดการธนาคารที่ดินได้มีมติอนุมัติโครงการพัฒนาองค์ความรู้การให้บริการตลาดกลางที่ดิน เมื่อวันที่ 23 มกราคม 2561 และผู้อำนวยการสถาบันบริหารจัดการธนาคารที่ดิน ออกคำสั่งสถาบันบริหารจัดการธนาคารที่ดิน (องค์การมหาชน) ที่ 7/2561 เรื่อง แต่งตั้งคณะทำงานโครงการพัฒนาองค์ความรู้การให้บริการตลาดกลางที่ดิน

                        </p>
                        <img src="~/Content/images/meeting02.png" alt="" class="center"><br>
                        <span class="center">การประชุมคณะทำงาน</span>
                        <br>

                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            ด้วย ผศ.อิทธิพล ศรีเสาวลักษณ์ ผู้เชี่ยวชาญด้านกฎหมายและนโยบายที่ดิน นางลดาวัลย์ ธนะธนิต ผู้เชี่ยวชาญด้านการเงินและสินเชื่อ
                            นายชินภัทร วิสุทธิแพทย์ ผู้เชี่ยวชาญด้านกฎหมาย ภาษีอากร
                            และการบริหารจัดการทรัพย์สิน นายสมบูรณ์ สิงกิ่ง ผู้แทนจากเครือข่ายองค์กรชุมชน ผศ.ดร.นิเวศน์ อรุณเบิกฟ้า นักวิชาการ และนายชนินทร์ ชินวงศ์ ผู้เชี่ยวชาญด้านการบริหารจัดการที่เกษตรกรรมแปลงใหญ่ภาคเอกชน
                            ร่วมกับคณะผู้บริหารของ บจธ. ให้คำปรึกษาและข้อเสนอแนะเกี่ยวกับยุทธศาสตร์การบริหารโครงการ การพัฒนาองค์ความรู้การให้บริการตลาดกลางที่ดิน
                            ได้แนวทางที่สำคัญ อาทิเช่น สถาบันควรมีบทบาทในการเป็นศูนย์กลางข้อมูล (Big data) โดยเป็นตัวกลางที่รวบรวมข้อมูลเกี่ยวกับที่ดิน เจ้าของที่ดิน ผู้ประสงค์จะใช้ประโยชน์ในที่ดิน ความรู้ด้านการเกษตรกรรม
                            และการเชื่อมโยงข้อมูลกับหน่วยงานรัฐต่าง ๆ มาไว้ที่จุดเดียว โดยให้บริการผ่านทางเว็บไซต์ที่มีระบบคุ้มครองความลับและความปลอดภัยของข้อมูลส่วนบุคคลอย่างมีมาตรฐานและเหมาะสม
                            การกำหนดเกณฑ์การคัดกรองเกษตรกร/ผู้ประสงค์ใช้ประโยชน์ในที่ดิน และเกณฑ์การคัดเลือกที่ดิน สำหรับการดำเนินโครงการ เป็นต้น
                        </p>

                        <img src="~/Content/images/meeting03.png" alt="" class="center"><br>
                        <img src="~/Content/images/meeting04.png" alt="" class="center"><br>
                        <span class="center">การจัดประชุมย่อยรายตำบลเพื่อรับฟังความคิดเห็น</span>

                        <p>
                            เจ้าหน้าที่ระดับผู้บริหารของสถาบัน มีความเห็นให้ฝ่ายเลขานุการฯจัดประชุมย่อยรายตำบล จำนวน 4 พื้นที่กระจายใน 4 ภาค ในลักษณะโครงการประชุมเชิงปฏิบัติการ เพื่อระดมความคิดเห็นจากกลุ่มเป้าหมาย และภาคส่วนที่เกี่ยวข้องในแต่ละพื้นที่ต่าง ๆ  เพื่อนำมาศึกษาวิเคราะห์เป็นองค์ความรู้การให้บริการตลาดกลางที่ดิน ได้แก่<br>
                            1. ต.ขอนหาด อ.ชะอวด จ.นครศรีธรรมราช เมื่อวันที่ 12 กรกฎาคม 2561<br>
                            2. ต.สันมะเค็ด อ.พาน จ.เชียงราย เมื่อวันที่ 20 กรกฎาคม 2561<br>
                            3. ต.บางระกำ อ.บางเลน จ.นครปฐม เมื่อวันที่ 23 กรกฎาคม 2561<br>
                            4. ต.ทะเมนชัย อ.ลำปลายมาศ จ.บุรีรัมย์ เมื่อวันที่ 31 กรกฎาคม 2561<br>
                            โดยกลุ่มเป้าหมายที่เชิญเข้าร่วมประชุม กลุ่มเป้าหมายหลัก 3 กลุ่ม ได้แก่ เครือข่ายองค์กรชุมชนในพื้นที่ กลุ่มเจ้าของที่ดิน และกลุ่มผู้ประสงค์จะใช้ประโยชน์ในที่ดิน โดยผู้เข้าร่วมประชุมแต่ละกลุ่มอย่างน้อย
                            5 คนต่อกลุ่ม เพื่อได้มาซึ่งข้อคิดเห็นที่หลากหลาย อาทิเช่น แนวทางการใช้ประโยชน์ที่ดิน แนวทางการรวมกลุ่มเกษตรกรเพื่อเข้าร่วมเป็นภาคีกับโครงการตลาดกลางที่ดิน เกณฑ์การคัดเลือกสมาชิก/ผู้ใช้ประโยชน์ในที่ดิน ปัญหาการใช้ที่ดินทำกินเพื่อการเกษตรกรรม และปัจจัยสำคัญในการให้ความเชื่อมั่นแก่เกษตรกร ได้แก่ แผนการผลิต เป็นต้น
                        </p>

                            
                        <hr>
                        <!--end author-->
                    </div>
                    <!--end blog-post-content-->
                </article>
            </div>
        </div>
    </div>
</section>