﻿@{
    Layout = null;

}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round" rel="stylesheet">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5df8a03143be710e1d226c39/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    @Styles.Render("~/Content/assets/bootstrap/css/bootstrap.css")
    @Styles.Render("~/Content/assets/fonts/font-awesome.css")
    @Styles.Render("~/Content/assets/css/selectize.css")
    @Styles.Render("~/Content/assets/css/style1.css")
    @Styles.Render("~/Content/assets/css/user.css")
    <!-- @Styles.Render("~/Content/assets/css/jquery.datetimepicker.css")
      @Styles.Render("~/Content/css/select/select2.min.css") -->

    @Styles.Render("~/Content/assets/css/jquery-ui-1.11.4.custom.css")

    @Scripts.Render("~/Content/assets/js/jquery-3.3.1.min.js")




    <!--@Scripts.Render("~/Content/assets/js/jquery.min.js")-->

    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <title>ตลาดกลางที่ดิน สถาบันบริหารจัดการธนาคารทีดิน (องค์การมหาชน)</title>

</head>
<body>

    <div class="page home-page">
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <!--#include file="Include.asp"-->
        @Html.Partial("~/Views/Home/Header.cshtml")
        @{
            if (ViewBag.Message == "temindex")
            {
                //  @ViewBag.Message;
                @Html.Partial("~/Views/Home/mapindex.cshtml")

            }
            /* else
             {
                 WriteLiteral("html string");
                 response.write("Sleepy Sunday")
             }*/

        }

        </header>

       
        <!--end hero-->
        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="content">
           
           @Html.Partial("~/Views/function_alert.cshtml")

            <!--============ Featured Ads ===========================================================================-->
            @{
                switch (ViewBag.Message)
                {
                    case "temindex":
                        @Html.Partial("~/Views/Home/content_index.cshtml")
                        break;

                    case "regisowner":
                        @Html.Partial("~/Views/Home/Registerland.cshtml")
                        break;

                    case "confrim_regis":
                        @Html.Partial("~/Views/Home/getinsert.cshtml")
                        break;



                    case "login":
                        
                        @Html.Partial("~/Views/Home/login.cshtml")
                        break;

                    case "updata_data":


                        @Html.Partial("~/Views/Home/updata_data.cshtml")
                        break;

                    case "listland":


                        @Html.Partial("~/Views/Home/listlanowner.cshtml")
                        break;

                    case "fromland":


                        @Html.Partial("~/Views/Home/fromland.cshtml")
                        break;

                    case "showland":


                        @Html.Partial("~/Views/Home/updateland.cshtml")
                        break;

                    case "formimg":


                        @Html.Partial("~/Views/Home/formimg.cshtml")
                        break;
                    case "fromchangepass":


                        @Html.Partial("~/Views/Home/changepass.cshtml")
                        break;

                    case "regisfa":


                        @Html.Partial("~/Views/Home/Registerfarmer.cshtml")
                        break;


                    case "confrim_regis_farmer":
                        @Html.Partial("~/Views/Home/getinserfar.cshtml")
                        break;

                    case "farmer_data":
                        @Html.Partial("~/Views/Home/viewfarmer_search.cshtml")
                        break;

                    case "updata_farmer":
                        @Html.Partial("~/Views/Home/farmer_update.cshtml")
                        break;

                    case "fromchangepassfarmer":


                        @Html.Partial("~/Views/Home/changepass_farmer.cshtml")
                        break;

                    case "landfarmer":

                        @Html.Partial("~/Views/Home/farmer_want_land.cshtml")
                        break;

                    case "showland_search":


                        @Html.Partial("~/Views/Home/showland_search.cshtml")
                        break;

                    case "vision":


                        @Html.Partial("~/Views/Home/vision.cshtml")
                        break;

                     case "history":


                        @Html.Partial("~/Views/Home/history.cshtml")
                        break;

                     case "network":


                        @Html.Partial("~/Views/Home/network.cshtml")
                        break;

                    
                     case "flow":


                        @Html.Partial("~/Views/Home/flow.cshtml")
                        break;

                    case "register_organi":


                        @Html.Partial("~/Views/Home/register_organi.cshtml")
                        break;

                    case "confrim_regis_organi":
                        @Html.Partial("~/Views/Home/getinsertorgani.cshtml")
                        break;

                   case "organi_update":
                        @Html.Partial("~/Views/Home/organi_update.cshtml")
                        break;

                    case "register_owner_organi":
                        @Html.Partial("~/Views/Home/regis_owner_organi.cshtml")
                        break;


                    case "confrim_regis_orga":
                        @Html.Partial("~/Views/Home/getinsert_owner_organi.cshtml")
                        break;

                   case "data_owner_organi":
                        @Html.Partial("~/Views/Home/owner_organi_update.cshtml")
                        break;

                     case "mission":
                        @Html.Partial("~/Views/Home/mission.cshtml")
                        break;
                     case "wantland":
                        @Html.Partial("~/Views/Home/want_land.cshtml")
                        break;
                        


                }


            }
        </section>
        <!--end content-->
        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <footer class="footer">
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            
                            <p>
                                <img src="~/Content/assets/img/Untitled-5.png" alt="" style="width:200px; height:250px;">
                                
                                
                            </p>
                        </div>
                        <!--end col-md-5-->
                        <div class="col-md-3">
                            <h2>Menu</h2>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <nav>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="@Url.Action("index", "Home")">Home</a>
                                            </li>

                                            <li>
                                                <a href="#">Contact</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("login", "Home",new { re=0 })">Login</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--<div class="col-md-6 col-sm-6">
                                    <nav>
                                        <ul class="list-unstyled">

                                            <li>
                                                <a href="#">ลงทะเบียนเจ้าของที่ดิน</a>
                                            </li>
                                            <li>
                                                <a href="#">ลงทะเบียนผู้ต้องการที่ดิน</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>-->
                            </div>
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-4">
                            <h2>Contact US</h2>
                            <address>
                                <figure>
                                    สถาบันบริหารจัดการธนาคารที่ดิน (องค์การมหาชน) <br>
                                    เลขที่ 210 สถานีวิทยุโทรทัศน์กองทัพบก อาคารเบญจสิริ <br>ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท
                                    กรุงเทพมหานคร 10400
                                </figure>
                                <br>
                                <strong>Email:</strong> <a href="#">labai@labai.or.th</a>
                                <br>
                                <strong>โทร: </strong>02-2781244 , 02-2781648 ต่อ 461  <br>แฟกซ์ 02-2781148
                                <br>
                                <br>
                                <!-- <a href="contact.html" class="btn btn-primary text-caps btn-framed">Contact Us</a>-->
                            </address>
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                </div>
                <div class="background">
                    <div class="background-image original-size">
                        <img src="assets/img/footer-background-icons.jpg" alt="">
                    </div>
                    <!--end background-image-->
                </div>
                <!--end background-->
            </div>
        </footer>
        <!--end footer-->
    </div>
    <!--end page-->


    @Scripts.Render("~/Content/assets/js/popper.min.js")
    @Scripts.Render("~/Content/assets/bootstrap/js/bootstrap.min.js")
    @if (ViewBag.Message == "temindex")
    {
        <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAHP3v0y3efZQKsho4QxdpulioagDYgMg4&libraries=places"></script>-->
    }
    <!-- @Scripts.Render("~/Content/assets/js/select2.full.js") -->
    @Scripts.Render("~/Content/assets/js/selectize.min.js")
    @Scripts.Render("~/Content/assets/js/masonry.pkgd.min.js")
    @Scripts.Render("~/Content/assets/js/icheck.min.js")
    @Scripts.Render("~/Content/assets/js/jquery.validate.min.js")
    @Scripts.Render("~/Content/assets/js/markerclusterer_packed.js")
    @Scripts.Render("~/Content/assets/js/infobox.js")
    @Scripts.Render("~/Content/assets/js/richmarker-compiled.js")
    @Scripts.Render("~/Content/assets/js/map.js")
    <!-- @Scripts.Render("~/Content/assets/js/jquery.datetimepicker.full.js") -->
    @Scripts.Render("~/Content/assets/js/jquery-ui-1.11.4.custom.js")

    @Scripts.Render("~/Content/assets/js/custom.js")









    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <script>

        var id_owner = "@Session["id_owner"]";
        var latitude = 13.736717;
        var longitude = 100.523186;
        var mapElement = "map-homepage";
        var mapDefaultZoom = 8;
        var mapAutoZoom = false;

        heroMap(latitude, longitude, mapElement, mapDefaultZoom, mapAutoZoom);


        $.datepicker.regional['th'] = {
            changeMonth: true,
            changeYear: true,
            //defaultDate: GetFxupdateDate(FxRateDateAndUpdate.d[0].Day),
            yearOffSet: 543,
            //showOn: "button",
            //buttonImage: 'images/calendar.gif',
            //buttonImageOnly: true,
            dateFormat: 'dd-MM-yy',
            dayNames: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
            dayNamesMin: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
            //monthNames: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
            monthNames: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
            monthNamesShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
            constrainInput: true,

            prevText: 'ก่อนหน้า',
            nextText: 'ถัดไป',
            yearRange: '-80:+0',
            // buttonText: 'เลือก',

        };
        $.datepicker.setDefaults($.datepicker.regional['th']);

        $("#o_age").datepicker($.datepicker.regional["th"]); // Set ภาษาที่เรานิยามไว้ด้านบน
        $("#far_age").datepicker($.datepicker.regional["th"]); // Set ภาษาที่เรานิยามไว้ด้านบน
        $("#far_age2").datepicker($.datepicker.regional["th"]); // Set ภาษาที่เรานิยามไว้ด้านบน

        var id_owner = '@Session["id_owner"]';



        if (id_owner == '') {
            $("#o_age").datepicker("setDate", new Date()); //Set ค่าวันปัจจุบัน
            $("#far_age").datepicker("setDate", new Date()); //Set ค่าวันปัจจุบัน
        }



        var pattern_thai = /^[ก-๏\s]+$/;
        var pattern_eng = /^[a-zA-Z\s]+$/;

       /* function checktext(id_input, txtalert) {
            var pattern_thai = /^[ก-๏\s]+$/;
            var pattern_eng = /^[a-zA-Z\s]+$/;

            if (!document.getElementById(id_input).value.match(pattern_thai) && !document.getElementById(id_input).match(pattern_eng)) {
                //alert("กรุณากรอกชื่อ นามสกลภาษาไทย เท่านั้น");
                document.getElementById(id_input).value = '';
                document.getElementById(txtalert).innerHTML = "กรุณากรอกชื่อ นามสกลภาษาไทย หรือ อังกฤษ ท่านั้น";
                return false;
            } else {

               // document.getElementById(txtalert).innerHTML = "";
                document.getElementById(txtalert).innerHTML = "ปปปปป";
            }

        }*/


        function ffcapchar() {

           // alert("xxx");
            var capchar = document.getElementById("capchar").value;
            var kcapchar = document.getElementById("kcapchar").value;
            if (kcapchar != capchar) {

                document.getElementById("alertcap").innerHTML = "<font color='red'>ตัวเลขไม่ถูกต้อง</font>";
                document.getElementById("kcapchar").value = "";
                return false;
            } else {

                document.getElementById("alertcap").innerHTML = "<font color='green'>ตัวเลขถูกต้อง</font>";
                
                return true;
            }
        }

      </script> 

</body>
</html>
