﻿@{
    Layout = null;

}
@using cmarket.Models
@model IEnumerable<RegisterModel>
<!--*********************************************************************************************************-->

@Styles.Render("~/Content/backend/assets/js/plugins/datatables/bootstrap.min.css")
<script>

    var msgalert = "@TempData["alert"]";
    if (msgalert == 'Yes') {
        alert("บันทึกสำเร็จ");
        var aaa = "@TempData.Remove("alert")";

    }
</script>

<p>@TempData["alert"]</p>


<section class="content">
    <section class="block">
        <div class="container">
            <!--
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <a href="@Url.Action("fromland", "Home")"><button type="button" class="btn btn-primary float-left">เพิ่มแปลงที่ดิน</button></a>

                    </div>

                </div>
            </div>
                -->
            <!--============ Section Title===================================================================-->
            <!--
            <div class="section-title clearfix">

                <div class="float-right d-xs-none thumbnail-toggle">
                    <a href="#" class="change-class" data-change-from-class="list" data-change-to-class="grid" data-parent-class="items">
                        <i class="fa fa-th"></i>
                    </a>
                    <a href="#" class="change-class active" data-change-from-class="grid" data-change-to-class="list" data-parent-class="items">
                        <i class="fa fa-th-list"></i>
                    </a>
                </div>
            </div>
                -->
            <!--============ Items ==========================================================================-->
            <div class="items list grid-xl-4-items grid-lg-3-items grid-md-2-items">






                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="basic-datatable2" style="background-color:white;">
                    <thead>
                        <tr>
                            <th></th>

                        </tr>
                    </thead>



                    <tbody>

                        @{


                            foreach (RegisterModel land in ViewBag.land)
                            {
                                <tr style="background-color:white;">
                                    <td>
                                        <div class="item">
                                            @if (land.status_land == "1")
                                            {
                                                <div class="ribbon-featured">
                                                    <button type="button" class="btn btn-labeled btn-success">
                                                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>รออนุมัติ
                                                    </button>
                                                    
                                                    
                                                </div>
                                                <a onclick="return confirm('ต้องการลบข้อมูลใช่หรือไม่?')" href="@Url.Action("delland", "Home",new { id = land.o_land_id })" class="btn btn-danger small">

                                                       
                                                        <span class="btn-label" >ลบแปลงที่ดิน</span>
                                                        
                                                    </a>
                                               
                                            }

                                            @if (land.status_land == "2")
                                            {
                                                <div class="ribbon1-featured"><a href="#" class="btn btn-success small">อนุมัติ</a></div>
                                            }
                                            <!--end ribbon-->
                                            <div class="wrapper">
                                                <div class="image">
                                                    <h3>
                                                        <!--<a href="#" class="tag category">Home & Decor</a>-->
                                                        <a href="@Url.Action("showland", "Home",new { id = land.o_land_id })" class="title">@land.PROVINCE_NAME</a>
                                                        <span class="tag">Offer</span>
                                                    </h3>
                                                    <a href="@Url.Action("showland", "Home",new { id = land.o_land_id })" class="image-wrapper background-image">
                                                        <img src="~/imgland/@land.img_name" alt="">
                                                    </a>
                                                </div>
                                                <!--end image-->
                                                <h4 class="location" style="margin-top:18px;">
                                                    <a href="#">@land.DISTRICT_NAME @land.AMPHUR_NAME</a>
                                                </h4>
                                                <div class="price">
                                                    @if (@land.o_wland == 1)
                                                    {
                                                        <span>เช่าต่อ</span> if (@land.period_per == "1")
                                                        {<span>เดือน</span> }
                                                        else
                                                        { <span>ปี</span> } @Convert.ToInt32(@land.m_rent).ToString("N0") <span>บาท</span>
                                                    }

                                                    @if (@land.o_wland == 3)
                                                    {
                                                        <span>ขายราคา</span>@Convert.ToInt32(@land.m_rent).ToString("N0") <span>บาท</span>
                                                    }



                                                </div>
                                                <div class="meta">
                                                    <figure>
                                                        <i class="fa fa-calendar-o"></i>@land.dsave
                                                    </figure>

                                                </div>
                                                <!--end meta-->
                                                <div class="description" style="width:72%;">
                                                    <p>@land.place_land </p>
                                                </div>
                                                <!--end description-->
                                                <a href="@Url.Action("formimg", "Home",new { o_land_id = land.o_land_id,land.PROVINCE_NAME,land.AMPHUR_NAME,land.DISTRICT_NAME })" style="margin-right:100px;" class="detail text-caps underline">รูปที่ดิน</a>
                                                <a href="@Url.Action("showland", "Home",new { id = land.o_land_id })" class="detail text-caps underline">ลายละเอียด</a>
                                            </div>
                                        </div>



                                    </td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <!--============ End Items ======================================================================-->
            <!--<div class="page-pagination">
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>-->
            <!--end page-pagination-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->
<script>
    $(document).ready(function () {


        /************************************
        Basic Data Table
        ************************************/
        $('#basic-datatable2').dataTable({
            "pageLength": 10,
            "bLengthChange": false,
            //"dom": '<lf<t>ip> ',
            "sDom": '<"wrapper"lfptip>',
            "loadingRecords": "Loading...",
            "language": {
                "search": "ค้นหาแปลงที่ดิน:",
                "paginate": {
                    "first": "หน้าแรก",
                    "previous": "ย้อนกลับ",
                    "next": "ถัดไป",
                    "last": "หน้าสุดท้าย"
                }
            },
            "pagingType": "full_numbers"

        });


        $('#example').dataTable({
            "pageLength": 5,
            "bLengthChange": false,
            "dom": '<lf<t>ip> '
        });
    });
</script>
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables.js")
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/DT_bootstrap.js")
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables-conf.js")
