﻿@{
    Layout = null;

}
@using cmarket.Models
@model IEnumerable<RegisterFarnerModel>
<!--*********************************************************************************************************-->
<script>

    var msgalert = "@ViewBag.Alert";
    if (msgalert == 'Yes') {
        alert("บันทึกสำเร็จ");

    }
</script>

<section class="content">
    <section class="block">
        <div class="container">

            <!--============ Section Title===================================================================-->
            
            <!--============ Items ==========================================================================-->
            <div class="items list grid-xl-4-items grid-lg-3-items grid-md-2-items">

           
            <table width="100%" border="1" style="background-color:white;">
                @{ 
                    var ii = 1;
                }
               
                <tr>
                    <th style="width:0.5%;" height="40">ลำดับ</th>
                    <th>พื้นที่ที่ต้องการทำประโยชน์</th>
                </tr>
              @foreach (RegisterFarnerModel land in Model)
                {
                
                <tr>
                    <th style="text-align:center;">@ii</th>
                    <th width="18%" scope="row" style="padding-left:10px; padding-top:10px; padding-bottom:10px;">
                        ต้องการ @if (@land.f_wland == 1) { <span>เช่า</span> } @if (@land.f_wland == 2) { <span>เช่าซื้อ</span> } 
                        @if (@land.f_wland == 3) { <span>ซื้อ</span> }
                        @if (@land.f_wland == 4) { <span>ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน</span> }
                        <br>
                        จ.@land.PROVINCE_NAME อ.@land.DISTRICT_NAME ต.@land.AMPHUR_NAME
                        ต้องการเนื้อที่ @land.land_rai ไร่  @land.land_nga งาน  @land.land_va ตารางวา
                        (ต้องการทำประโยชน์ :
                        @foreach (RegisterFarnerModel landuser in ViewBag.landuser)
    {
                            if (@land.id_land_famer == @landuser.id_land_famer)
                            {
                    <span> @landuser.land_use_name</span>
}
}
                        )
                        <!--เนื้อที่ @land.land_rai ไร่ @land.land_nga งาน @land.land_va ตารางวา -->
                        <br>
                            จำนวนสมาชิกที่นำมาจัดสรรลงที่ดิน @land.reg_member คน <br>
                            รายได้ที่คาดว่าจะได้รับต่อปี @land.reg_income บาท <br>
                            ทุนที่ต้องใช้ @land.reg_capital บาท

                        <a style="color:red;" onclick="return confirm('ต้องการลบใช่หรือไม่?')" href="@Url.Action("delete_farmerland", "Home",new { id_land_famer = land.id_land_famer})" class="ad-remove">
                            <i class="fa fa-trash"></i> ลบ
                        </a>
                    </th>

                </tr>
                  ii++;  
                }
              
                 
            </table>
                
                <!--end item-->
            </div>
          
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->


