﻿@{
    Layout = null;
    Session.Abandon();
    Session.Clear();
   
   
}
<section class="content">
    <section class="block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form class="form clearfix" method="post" action="@Url.Action("checklogin2", "Home")">
                        <div class="form-group">
                            <label for="email" class="col-form-label required">Username</label>
                            <input name="o_email" type="text" class="form-control" id="email" placeholder="Username" required>
                        </div>
                        <!--end form-group-->
                        <div class="form-group">
                            <label for="password" class="col-form-label required">Password</label>
                            <input name="o_pass" type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <!--end form-group-->
                        <div class="d-flex justify-content-between align-items-baseline">
                            <label>

                                @if (ViewBag.Alert == "NoData")
                                {<font color="red">ไม่พบข้อมูล</font>}

                                <!-- <input type="checkbox" name="remember" value="1">
                                Remember Me -->
                            </label>
                            <div class="form-group">

                                <div class="wrapper">

                                    <label>
                                        <input title="เลือกประเภท" type="radio" class="required" name="typeloing" value="1">
                                        บุคคลธรรมดา
                                    </label>

                                    <label>
                                        <input title="เลือกประเภท" type="radio" class="required" name="typeloing" value="2">
                                        องค์กร/กลุ่ม
                                    </label>

                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>

                        </div>
                    </form>
                    <hr>
                    <!-- <p>
                         Troubles with signing? <a href="#" class="link">Click here.</a>
                     </p>-->
                </div>
                <!--end col-md-6-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->
