﻿@{
    Layout = null;

}

@using cmarket.Models
@model IEnumerable<RegisterModel>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Maps APIs</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            line-height: 1.5;
        }

        #map {
            height: 100%;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>


    
        <div id="map"></div>

        <script>
            function initMap() {


              @foreach (RegisterModel land in ViewBag.land) {

                  if (land.latitude_land != "" && land.latitude_land != null) { 

		               @: var broadway@{@land.o_land_id} = {
                                                           @: info: '<strong>ต.@land.DISTRICT_NAME อ.@land.AMPHUR_NAME จ.@land.PROVINCE_NAME</strong><br>\ @land.land_rai ไร่ @land.land_nga งาน @land.land_va ตารางวา <br >\<a target="_parent" href = "@Url.Action("showland_search", "Home", new { id = land.o_land_id })"> แสดงข้อมูล </ a > ',
                                                           @: lat: @land.latitude_land ,
                                                           @: long: @land.longitude_land
                                                        @:    };
                    }
           }
                                                       



                var locations = [


                   
                @foreach (RegisterModel land in ViewBag.land) {
                    if (land.latitude_land != "" && land.latitude_land != null)
                    {

                        @:[
                            @:broadway@{@land.o_land_id}.info, broadway@{@land.o_land_id}.lat, broadway@{@land.o_land_id}.long
                         @:   ],
                    }

            }
           
        ];

        var map = new google.maps.Map(document.getElementById('map'), {

            zoom: 7,
            center: new google.maps.LatLng(15.6767357, 99.588468),
            //center: new google.maps.LatLng(41.976816, -87.659916),
            mapTypeId: google.maps.MapTypeId.ROADMAP

        });

        var infowindow = new google.maps.InfoWindow({});

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }



        var blueCoords = [
            { lat: 16.39270, lng: 103.14039 },
            { lat: 16.39287, lng: 103.14040 },
            { lat: 16.39290, lng: 103.14092 },
            { lat: 16.39305, lng: 103.14095 },
            { lat: 16.39305, lng: 103.14121 },
            { lat: 16.39305, lng: 103.14139 },
            { lat: 16.39307, lng: 103.14168 },
            { lat: 16.39258, lng: 103.14211 },
            { lat: 16.39262, lng: 103.14122 },
            { lat: 16.39263, lng: 103.14095 },
        ];

        var redCoords = [
            { lat: 16.00371, lng: 100.24754 },
            { lat: 16.00333, lng: 100.24871 },
            { lat: 16.00266, lng: 100.24799 },
            { lat: 16.00217, lng: 100.24786 },
            { lat: 16.00105, lng: 100.24764 },
        ];

        // Construct a draggable red triangle with geodesic set to true.
        new google.maps.Polygon({
            map: map,
            paths: redCoords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            draggable: true,
            geodesic: true
        });

        // Construct a draggable blue triangle with geodesic set to false.
        new google.maps.Polygon({
            map: map,
            paths: blueCoords,
            strokeColor: '#0000FF',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#0000FF',
            fillOpacity: 0.35,
            draggable: true,
            geodesic: false
        });



    }



        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-NPkUz11ALbSbdd93f7FDS5qKEEp9fUo&callback=initMap"></script>
    </body>

</html>


