﻿<!--<div class="map height-450px" id="map-homepage"></div>-->
<script type="text/javascript">

    $(document).ready(function () {

        //var txt_name = $('#txt_name').val();

        $("#txt_namex").autocomplete({
            source: '@Url.Content("~/HOME/getsearch/")',
            minLength: 1,

        });

        //alert("xxxx");
        $("#txt_nameฟฟ").autocomplete({

           source: function (request, response) {
                $.ajax({
                    url: '@Url.Content("~/HOME/getsearch2")',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //alert(data.split("-"));
                        //response(data);
                        //$('#result').show().html(data);
                        //alert(data);
                        response($.map(data, function (item) {
                            return item.split('-')[0] + item.split('-')[1];
                            /*return {
                                //label: item.split('-')[0],
                                //val: item.split('-')[1]

                                //return matcher.test(item)
                                label: item.label,
                                value: item.value
                            }

                            //return matcher.test(item);*/
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                log(ui.item ?
                    "Selected: " + ui.item.label :
                    "Nothing selected, input was " + this.value);
            },
            minLength: 1
        });

        function log(message) {
            $("<div>").text(message).prependTo("#log");
            $("#log").scrollTop(0);
        }

        $("#txt_nameปผ").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Content("~/HOME/getsearch2")',
                    dataType: "jsonp",
                    type: "POST",
                    data: {
                        prefix: request.term
                    },
                    success: function (data) {
                        alert(data);
                        response(data);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                log(ui.item ?
                    "Selected: " + ui.item.label :
                    "Nothing selected, input was " + this.value);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });



        $('#result').hide();
        $('#txt_name').keyup(function () {
            var txt_name = $('#txt_name').val();

            //alert($("#typesearch1").prop("checked"));
            if ($("#typesearch1").prop("checked") == true) {

                var typesearch1 = $('#typesearch1').val();
                var typesearch2 = 0;
                var typesearch3 = 0;
            }

            if ($("#typesearch2").prop("checked") == true) {

                var typesearch1 = 0;
                var typesearch2 = $('#typesearch2').val();
                var typesearch3 = 0;
            }

            if ($("#typesearch3").prop("checked") == true) {

                var typesearch1 = 0;
                var typesearch2 = 0;
                var typesearch3 = $('#typesearch3').val();
            }


            if (txt_name != "") {
                $.get('@Url.Content("~/HOME/getsearch/")' + txt_name + "-" + typesearch1 + "-" + typesearch2 + "-" + typesearch3
                    , function (data) {
                        /* Check return data from databases */
                        if (data != "") {
                            $('#result').show().html(data);
                        } else {
                            $('#txt_id').val('');
                            $('#result').hide().html('ไม่พบข้อมูล');
                        }

                    });
                return false;
            } else {
                $('#txt_id').val('');
                $('#result').hide().html('');
            }

        });



         $('#bbsearch').click(function () {

            //alert("xxxx");
            var txt_id = $("#txt_id").val();
            var typesearch1 = $("#typesearch1").val();
            var typesearch2 = $("#typesearch2").val();
             var typesearch3 = $("#typesearch3").val();

             if (txt_id != '') {
                 window.location = '@Url.Content("~/HOME/farmersearch/")' + txt_id;
             } else {
                 alert("กรุณาระบุพื้นที่");
             }

             });

    });
    /* End */




    /* Onclick div#link */
    function Add_ID(id, name) {
        //alert(id);
        $('#txt_name').val(name);
        $('#txt_id').val(id);
        $('#result').hide().html('');
    }

    /* Onblur txt_name */
    function txt_Out() {
        //alert($('#txt_id2').val());
       // var ids = $('#txt_id2').val();
        $('#result').hide().html('');
       // $('#txt_id').val(ids);
    }





</script>

<div class="map height-450px">

    <iframe width="100%"
            height="450"
            frameborder="0" style="border:0"
            src="@Url.Content("~/HOME/map_marker_all/")"></iframe>

</div>

<!--============ Hero Form ==========================================================================-->
<form class="hero-form form">
    <div class="container">
        <!--Main Form-->
        <div class="main-search-form">
            <div class="form-row">
                <form class="form email" id="myform" method="post">
                    <div class="col-md-9 col-sm-9">
                        <div class="form-group">
                            <label for="what" class="col-form-label">ค้นหาพื้นที่?</label>
                            <input type="radio" checked name="typesearch" id="typesearch1" value="1"> ระดับจังหวัด
                            <input type="radio" name="typesearch" id="typesearch2" value="2"> ระดับอำเภอ
                            <input type="radio" name="typesearch" id="typesearch3" value="3"> ระดับตำบล

                        </div>
                        <!--end form-group-->
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="form-group">

                            <input type="hidden" name="txt_id" id="txt_id" />
                            <input name="keyword" type="text" class="form-control" id="txt_name" onblur="setTimeout('txt_Out();', 200);" placeholder="ค้นหาพื้นที่" autocomplete="off">
                            <div id="result"></div>
                            <div hidden id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
                            <input type="hidden" name="txtpname" id="txtpname" size="30" class="form-control" placeholder="Please Enter City or ZIP code">

                            <input type="hidden" name="SearchString" id="SearchString" size="30" class="form-control" placeholder="Please Enter.....">
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-3">
                        <button type="button" id="bbsearch" class="btn btn-primary width-100">ค้นหา</button>
                    </div>
                    <!--end col-md-3-->
                </form>

                <!--end col-md-3-->
                <!--end col-md-3-->
            </div>
            <!--end form-row-->
        </div>
        <!--end main-search-form-->
        <!--Alternative Form-->
        <!--end alternative-search-form-->
    </div>
    <!--end container-->
</form>

<div class="container">
    <div class="row" style="text-align:center;">
        <div class="col-md-3">
            <div class="feature-box">
                <div style="padding-left:50px;">
                    <figure style="background-color:#1a497f;">
                        <i class="fa fa-user" style="font-size:45px; color:aliceblue; padding-top:20px;"></i>
                       
                    </figure>
                </div>
                <h3>
                    เจ้าของที่ดินที่ลงทะเบียนแล้ว
                    <span style="color:brown;">
                        <br> บุคคลทั่วไป @ViewData["countperson"] ราย
                        <br> กลุ่ม/องค์กร @ViewData["countog"] องค์กร
                    </span>
                </h3>
                <p></p>
            </div>
            <!--end feature-box-->
        </div>
        <!--end col-->
        <div class="col-md-3">
            <div class="feature-box">
                <div style="padding-left:50px;">
                    <figure style="background-color:#558d82;">

                        <i class="fa fa-users" style="font-size:45px; color:aliceblue; padding-top:20px;"></i>
                        
                    </figure>
                </div>
                <h3>
                    ผู้ต้องการที่ดินที่ลงทะเบียนแล้ว
                    <span style="color:brown;">
                        <br> บุคคลทั่วไป @ViewData["countwhatperson"] ราย
                        <br> กลุ่ม/องค์กร @ViewData["countwahtog"] องค์กร
                    </span>
                </h3>
                <p></p>
            </div>
            <!--end feature-box-->
        </div>

        <div class="col-md-3">
            <a href="@Url.Action("wantland", "Home", new { idkey = 1})">
                <div class="feature-box">
                    <div style="padding-left:50px;">
                        <figure style="background-color:#876248;">

                            <i class="fa fa-map" style="font-size:45px; color:aliceblue; padding-top:20px;"></i>

                        </figure>
                    </div>
                    <h3>
                        พื้นที่ที่ต้องการทำประโยชน์ในที่ดิน
                        <span style="color:brown;">
                            <br> ใน @ViewData["landwant"] พื้น
                        </span>
                    </h3>
                    <p></p>
                </div>
                <!--end feature-box-->
            </a>
        </div>

    </div>
</div>
<br>
    <!--============ End Hero Form ======================================================================-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/images/Main-banner.jpg" alt="" width="92%" style="display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:50px;
    ">

                <!--  <img src="~/Content/images/banner-02.jpg" alt="" width="100%" style="display: block;
                margin-left: auto;
                margin-right: auto;
                ">
                          -->
            </div>
        </div>
    </div>
