﻿<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="blog-post clearfix">
                    <a>
                        <img src="assets/img/blog-image-01.jpg" alt="">
                    </a>
                    <div class="article-title" style="background-color:antiquewhite;">
                        <h2><a>กลุ่มเกษตรกรที่กำลังมองหาที่ดิน</a></h2>
                        <!--<div class="tags framed">
                            <a href="#" class="tag">Home & Decor</a>
                            <a href="#" class="tag">Design</a>
                        </div>
                            -->
                    </div>
                    <div class="meta">

                    </div>
                   
                            
                       
                    <div class="blog-post-content">

                        <h2>ประเภทองค์กร/กลุ่ม</h2>
                        <img src="~/Content/images/GU1.jpg" alt=""><hr>
                        <img src="~/Content/images/GU3.jpg" alt=""><hr>
                        <img src="~/Content/images/GU4.jpg" alt="">

                        <hr>
                       <!-- <h2>ประเภทบุคคลทั่วไป</h2>
                        <img src="~/Content/images/farmer-solitaire.jpg" alt="">
                        end author-->
                    </div>
                    <!--end blog-post-content-->
                </article>
            </div>
        </div>
    </div>
</section>