﻿@using cmarket.Models
@model IEnumerable<RegisterModel>
@{
    if (@Session["far_id"] == null && @Session["staff_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("Index", "Home")';</script>
    }
    var checkcareer = "checked";
}


<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                @if (Session["staff_id"] != null)
    {
            <a href="@Url.Action("owner_land_orga", "Backend",new { type_status_regis_og = @ViewData["type_status_regis_og"] })"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการเจ้าของที่ดิน</button></a>
            <input type="hidden" id="status_land0" name="status_land0" value="2">
}
                <!--end col-md-4-->
                <div class="col-md-12">

                    <h3>รายละเอียดองค์กร</h3>

                    <form class="form email" id="myform" method="post" action="@Url.Action("Updateorgani", "Home")" onsubmit="checkdoble();">
                        <div id="step1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">ประเภทองค์กร</label>


                                        <select name="type_organi_id" id="type_organi_id" class="required select2" data-placeholder="ประเภทองค์กร" title="ประเภทองค์กร">
                                            <option value="0" id="type_organi_id"> -- Select --</option>
                                            @{
                        foreach (RegisterModel organi in ViewBag.organi)
                        {

                            int type_organi_id = Convert.ToInt32(ViewData["type_organi_id"]);

                            string aaa = "selected";

                            <option @{if (type_organi_id == @organi.type_organi_id) { @aaa  } }
                                    value="@organi.type_organi_id">
                                @organi.name_organi
                            </option>

}
                                            }
                                        </select>
                                    </div>
                                    <!--end form-group-->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ชื่อกลุ่ม/องค์กร</label>
                                        <input name="reg_name" type="text" class="form-control" id="reg_name" value="@ViewData["reg_name"]" placeholder="ชื่อกลุ่ม/องค์กร" required>

                                    </div>
                                    <!--end form-group-->
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">เลขทะเบียน</label>
                                        <input name="reg_numberorgani" type="text" class="form-control" id="reg_numberorgani" value="@ViewData["reg_numberorgani"]" placeholder="เลขทะเบียน" required>

                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                                <!--end col-md-6-->
                                <!--end col-md-6-->


                            </div>
                            <!--end row-->

                            <div class="row">

                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">ชื่อผู้กรอก</label>
                                        <input name="reg_regis_name" type="text" class="form-control" value="@ViewData["reg_regis_name"]" id="reg_regis_name" placeholder="ชื่อผู้กรอก" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">ตำแหน่งในองค์กร</label>
                                        <input name="reg_posi_name" type="text" class="form-control" value="@ViewData["reg_posi_name"]" id="reg_posi_name" placeholder="ตำแหน่งในองค์กร" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->


                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">เบอร์โทร</label>
                                        <input name="reg_regis_tel" type="text" class="form-control" value="@ViewData["reg_regis_tel"]" id="reg_regis_tel" placeholder="เบอร์โทร" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">Email</label>
                                        <input name="reg_email" type="email" class="form-control" value="@ViewData["reg_email"]" id="reg_email" placeholder="Email" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                            </div>
                            <!--
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name" class="col-form-label required">ชื่อประธานองค์กร</label>
                <input name="reg_chief" type="text" class="form-control" value="@ViewData["reg_chief"]" id="reg_chief" placeholder="ชื่อประธานองค์กร" required>
            </div>

        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="name" class="col-form-label required">เบอร์โทร</label>
                <input name="reg_ctel" type="text" class="form-control" value="@ViewData["reg_ctel"]" id="reg_ctel" placeholder="เบอร์โทร" required>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name" class="col-form-label required">ชื่อรองประธานองค์กร</label>
                <input name="reg_vchief" type="text" class="form-control" value="@ViewData["reg_vchief"]" id="reg_vchief" placeholder="ชื่อรองประธานองค์กร" required>
            </div>

        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="name" class="col-form-label required">เบอร์โทร</label>
                <input name="reg_vctel" type="text" class="form-control" value="@ViewData["reg_vctel"]" id="reg_vctel" placeholder="เบอร์โทร" required>
            </div>

        </div>

    </div>
    -->

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">จำนวนสมาชิกในองค์กร</label>
                                        <input name="reg_num" type="text" class="form-control" value="@ViewData["reg_num"]" id="reg_num" placeholder="จำนวนสมาชิกในองค์กร" required>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->


                            </div>
                            <hr />
                            <!--end row-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ที่อยู่องค์กร เลขที่</label>
                                        <input name="reg_addr" type="text" class="form-control" value="@ViewData["reg_addr"]" id="reg_addr" placeholder="ที่อยู่" required>

                                    </div>
                                    <!--end form-group-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label required">จังหวัด</label>
                                        <h4 style="color:blue;">@ViewData["PROVINCE_NAME"]</h4>
                                        <select name="PROVINCE_ID" id="PROVINCE_ID" class="select2" data-placeholder="เลือกจังหวัด" title="ระบุจังหวัด">
                                            <option value="0" id="ROVINCE_list"> -- Select --</option>
                                            @foreach (RegisterModel ownerland in ViewBag.ownerland)
                    {
                        <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>

}
                                        </select>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->



                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">อำเภอ</label>
                                        <h4 style="color:blue;">@ViewData["AMPHUR_NAME"]</h4>
                                        <div class="form-line" id="showdistrict">
                                            <select name="AMPHUR_ID" id="AMPHUR_ID" class="" data-placeholder="เลือกอำเภอ" title="ระบุอำเภอ">
                                                <option value="" id="amphur_list"> -- Select --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email" class="col-form-label required">ตำบล</label>
                                        <h4 style="color:blue;">@ViewData["DISTRICT_NAME"]</h4>
                                        <div class="form-line" id="showtumbon">
                                            <select name="DISTRICT_ID" id="DISTRICT_ID" class="" data-placeholder="เลือกตำบล" title="ระบุตำบล">
                                                <option value="" id="tumbon_list"> -- Select --</option>
                                            </select>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <hr />


                            @*<h3>ลักษณะการดำเนินงานขององค์กร (ถ้ามี)</h3>
        <div class="row">


            <div class="col-md-12">
                <textarea name="detail_opara" id="detail_opara" class="form-control" rows="12">@ViewData["detail_opara"]</textarea>

            </div>




        </div>

        <hr />*@

                            @*<h3>กิจกรรมที่ดำเนินการอยู่ในปัจจุบัน (ถ้ามี)</h3>
        <div class="row">


            <div class="col-md-12">
                <textarea name="activity_curent" id="activity_curent" class="form-control" rows="12">@ViewData["activity_curent"]</textarea>

            </div>


        </div>
        <hr />*@

                            @*<h3>ผลงานขององค์กร (ถ้ามี)</h3>
        <div class="row">


            <div class="col-md-12">
                <textarea name="reg_results" id="reg_results" class="form-control" rows="12">@ViewData["reg_results"]</textarea>

            </div>


        </div>

        <hr />*@

                            @*<h3>วิสัยทัศน์ขององค์กร (ถ้ามี)</h3>
        <div class="row">


            <div class="col-md-12">
                <textarea name="reg_vision" id="reg_vision" class="form-control" rows="12">@ViewData["reg_vision"]</textarea>

            </div>


        </div>
        <hr />*@

                            @*<h3>แผนการผลิตโดยคร่าวๆ</h3>
        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">ประเภทพืชที่เพราะปลูก</label>
                    <input name="reg_plant" type="text" value="@ViewData["reg_plant"]" class="form-control" id="reg_plant" placeholder="ประเภทพืชที่เพราะปลูก" required>
                </div>

            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">ขนาดที่ดินที่ต้องการ ไร่</label>
                    <input name="reg_rai" type="text" value="@ViewData["reg_rai"]" class="form-control" id="reg_rai" placeholder="ขนาดที่ดินที่ต้องการ" required>
                </div>

            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">งาน</label>
                    <input name="reg_nga" type="text" value="@ViewData["reg_nga"]" class="form-control" id="reg_nga" placeholder="ขนาดที่ดินที่ต้องการ" required>
                </div>

            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">ตารางวา</label>
                    <input name="reg_wa" type="text" value="@ViewData["reg_wa"]" class="form-control" id="reg_wa" placeholder="ขนาดที่ดินที่ต้องการ" required>
                </div>

            </div>


        </div>*@

                            @*<div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">จำนวนสมาชิกที่นำมาจัดสรรลงที่ดิน</label>
                    <input name="reg_member" type="text" value="@ViewData["reg_member"]" class="form-control" id="reg_member" placeholder="จำนวนสมาชิกที่นำมาจัดสรรลงที่ดิน" required>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">รายได้ที่คาดว่าจะได้รับต่อปี</label>
                    <input name="reg_income" type="text" value="@ViewData["reg_income"]" class="form-control" id="reg_income" placeholder="รายได้ที่คาดว่าจะได้รับ" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-form-label required">ทุนที่ต้องใช้</label>
                    <input name="reg_capital" type="text" value="@ViewData["reg_capital"]" class="form-control" id="reg_capital" placeholder="ทุนที่ต้องใช้" required>
                </div>
            </div>


        </div>

        <hr />*@





                            <!--
    <div class="form-group">
        <label for="subject" class="col-form-label">...</label>
        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
    </div
        -->
                            <!--end form-group-->
                            <!--
    <div class="form-group">
        <label for="message" class="col-form-label required">Your Message</label>
        <textarea name="message" id="message" class="form-control" rows="4" placeholder="Your Message" required></textarea>
    </div>

    -->
                            
                            <!--end form-group-->
                            <input name="reg_organi_id" type="hidden" value="@ViewData["reg_organi_id"]" class="form-control" id="reg_organi_id" placeholder="ทุนที่ต้องใช้" required>
                            <button type="submit" onMouseMove="ffcapchar()" class="btn btn-primary float-right" id="submitid" style="margin-top:20px;">บันทึก</button>
</form>
                    <!--end form-->
                </div>
                <!--end col-md-8 -->
            </div>
            <!--end row-->
            <!--<button type="button" class="btn btn-primary float-right" OnClick="return CheckDouble();">xxx</button>-->
        </div>
        <!--end container-->



    </section>
    <!--end block-->



</section>
<!--end content-->


<script>
    $(document).ready(function ($) {

        $('.select2').selectize();




        $('#PROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(data);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {
                        //alert(province_id);
                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(AMPHUR_ID);
                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");

                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }


            }
            });
        });





       $('#fPROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id+"/prov2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(province_id);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fndistrict").addClass("required");
                    }
                    if (province_id == 0) {

                        $("#fndistrict").removeClass("required");
                        $("#fsubdistrict").removeClass("required");

                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fshowtumbon").html("" + data);


                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                        $("#fndistrict").text("");
                        //alert(province_id);
                    }

            }
           });



        });





         $('#fshowdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#fndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID+"/aum2";
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")' + AMPHUR_ID + "/aum2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {


                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#fDISTRICT_ID").text("");
                        $("#fshowtumbon").html("" + data);
                        $("#fshowtumbon").show();
                        $("#fsubdistrict").addClass("required");


                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#fsubdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                    }


            }
            });
         });





        $("#myform").validate({
            rules: {
                reg_num: {
                    required: true,
                    number: true
                },
                reg_regis_tel: {
                    required: true,
                    number: true,
                    minlength: 9,
                    maxlength: 10
                },
                reg_ctel: {
                    required: true,
                    number: true,
                    minlength: 9,
                    maxlength: 10
                },
                reg_vctel: {
                    required: true,
                    number: true,
                    minlength: 9,
                    maxlength: 10
                },
                reg_rai: {
                    required: true,
                    number: true,
                    //range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                reg_nga: {
                    required: true,
                    number: true,
                    range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                reg_wa: {
                    required: true,
                    number: true,
                    range: [0, 399]
                    //minlength: 1,
                    //maxlength: 2
                },
                reg_member: {
                    required: true,
                    number: true
                },
                reg_income: {
                    required: true,
                    number: true
                },
                reg_capital: {
                    required: true,
                    number: true
                },
            }
        });




    });






</script>

<script type="text/javascript">
    function checkID(id) {
        if (id.length != 13) return false;
        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);
            if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
            return false; return true;
    }

    function checkForm() {
        if (!checkID(document.getElementById("id_card").value)) {
            //alert('รหัสประชาชนไม่ถูกต้อง');

            document.getElementById("alertidcard").innerHTML = "รหัสบัตรประชาชนไม่ถูกต้อง";
            document.getElementById("id_card").value = "";
        }
        else {
            //alert('รหัสประชาชนถูกต้อง เชิญผ่านได้');
            var o_idcard = document.getElementById("id_card").value

            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/check_idcard_fatmer/")' + o_idcard,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {



                    if (data >= 1) {
                        document.getElementById("alertidcard").innerHTML = "เลขบัตรประชาชนนี้ " + o_idcard + " ท่านได้ลงทะเบียนไปแล้ว";
                        document.getElementById("id_card").value = "";
                        return false;
                    }
                    if (data == 0) {
                        document.getElementById("alertidcard").innerHTML = "";
                        return true;

                    }


            }
            });

        }


        var chko_name = document.getElementById("far_name").value;
        var chko_surname = document.getElementById("far_surname").value;

        if (!chko_name.match(pattern_thai) && !chko_name.match(pattern_eng)) {

            document.getElementById("far_name").value = '';
            document.getElementById("alerto_name").innerHTML = "กรุณากรอกชื่อภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {


            document.getElementById("alerto_name").innerHTML = "";
        }

        ///////

        if (!chko_surname.match(pattern_thai) && !chko_surname.match(pattern_eng)) {


            document.getElementById("far_surname").value = '';
            document.getElementById("alerto_o_surname").innerHTML = "กรุณากรอกนามสกุลภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {

            // document.getElementById(txtalert).innerHTML = "";
            document.getElementById("alerto_o_surname").innerHTML = "";
        }






    }

    function checkpass() {

        var far_pass = document.getElementById("far_pass").value;
        var far_pass2 = document.getElementById("far_pass2").value;
        //alert("xxxxx");
        if (far_pass != far_pass2) {

            document.getElementById("alerttext").innerHTML = "รหัสผ่านไม่ตรงกัน";
            return false;
        } else {

            document.getElementById("alerttext").innerHTML = "";
        }
    }


    function checkdoble() // Submit button clicked
    {
        //alert(i++);



        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        //return false;
    }

    var verifyCallback = function (response) {
        alert(response);
    };
    var onloadCallback = function () {

        grecaptcha.render('html_element', {
            'sitekey': '6LfG7V8UAAAAAA30eNulT4ZA3BPHNO48DXDxTTD_',
            'callback': verifyCallback,
            //'theme': 'dark'
        });
    };


</script>




