﻿@{

}

<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-4">
                      <h2>Get In Touch</h2>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit
                          amet fermentum sem. Class aptent taciti sociosqu ad litora
                      </p>
                      <br>
                      <figure class="with-icon">
                          <i class="fa fa-map-marker"></i>
                          <span>2519 Stanley Avenue<br>Huntington, NY 11743 </span>
                      </figure>
                      <br>
                      <figure class="with-icon">
                          <i class="fa fa-phone"></i>
                          <span>+1 516-480-4273</span>
                      </figure>
                      <figure class="with-icon">
                          <i class="fa fa-envelope"></i>
                          <a href="#">hello@example.com</a>
                      </figure>
                      <figure class="with-icon">
                          <i class="fa fa-envelope"></i>
                          <a href="#">support@example.com</a>
                      </figure>
                  </div>
                -->
                <!--end col-md-4-->
                <div class="col-md-12">
                    <h2>ประสงค์ลงทะเบียนผู้ที่ต้องการให้ผู้อื่นทำประโยชน์ในที่ดิน (องค์กร)</h2>
                    <h3>รายละเอียดองค์กร</h3>

                    <form class="form email" id="myform" method="post" action="@Url.Action("update_db_owner_organi", "Home")" onsubmit="checkdoble();">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name" class="col-form-label required">ชื่อองค์กร</label>
                                    <input name="or_name" type="text" class="form-control" id="or_name" value="@ViewData["or_name"]" title="ชื่อองค์กร" placeholder="ชื่อองค์กร" required>
                                    <p id="alerto_name" style="color:red;"></p>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email" class="col-form-label required">เลขทะเบียน</label>
                                    <input name="or_number" type="text" class="form-control" id="or_number" value="@ViewData["or_number"]" title="เลขทะเบียน" placeholder="เลขทะเบียน" required>
                                    <p id="alerto_o_surname" style="color:red;"></p>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->


                        </div>
                        <!--end row-->

                        <div class="row">


                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="email" class="col-form-label required">ชื่อ-นามสกุล ผู้ลงกรอก</label>
                                    <input name="or_name_regis" type="text" class="form-control" title="ผู้ลงกรอก" value="@ViewData["or_name_regis"]" id="or_name_regis" placeholder="ผู้ลงกรอก" required>
                                </div>
                                <!--end form-group-->
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email" class="col-form-label required">ตำแหน่งในองค์กร</label>
                                    <input name="or_posi_regis" type="text" class="form-control" title="ตำแหน่งในองค์กร" value="@ViewData["or_posi_regis"]" id="or_posi_regis" placeholder="ตำแหน่งในองค์กร" required>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->
                        </div>
                        <!--end row-->



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="col-form-label required">ที่อยู่</label>
                                    <input name="or_address" type="text" class="form-control" title="ที่อยู่" id="or_address" value="@ViewData["or_address"]" placeholder="ที่อยู่" required>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->


                        </div>
                        <!--end row-->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name" class="col-form-label required">จังหวัด</label>
                                    @using cmarket.Models
                                    @model IEnumerable<RegisterModel>

                                    <h4 style="color:blue;">@ViewData["PROVINCE_NAME"]</h4>
                                    <select name="PROVINCE_ID" id="PROVINCE_ID" class="select2" data-placeholder="เลือกจังหวัด" title="ระบุจังหวัด">
                                        <option value="0" id="ROVINCE_list"> -- Select --</option>
                                        @foreach (RegisterModel ownerland in ViewBag.ownerland)
                    {
                        <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>

}
                                    </select>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->

                            <div class="col-md-4">
                                <div class="form-group">

                                    <label for="email" class="col-form-label required">อำเภอ</label>
                                    <h4 style="color:blue;">@ViewData["AMPHUR_NAME"]</h4>
                                    <div class="form-line" id="showdistrict">
                                        <select name="AMPHUR_ID" id="AMPHUR_ID" class="" data-placeholder="เลือกอำเภอ" title="ระบุอำเภอ">
                                            <option value="" id="amphur_list"> -- Select --</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->

                            <div class="col-md-4">
                                <div class="form-group">

                                    <label for="email" class="col-form-label required">ตำบล</label>
                                    <h4 style="color:blue;">@ViewData["DISTRICT_NAME"]</h4>
                                    <div class="form-line" id="showtumbon">
                                        <select name="DISTRICT_ID" id="DISTRICT_ID" class="" data-placeholder="เลือกตำบล" title="ระบุตำบล">
                                            <option value="" id="tumbon_list"> -- Select --</option>
                                        </select>
                                    </div>

                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->

                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name" class="col-form-label required">เบอร์โทร</label>
                                    <input name="or_phone_regis" type="text" class="form-control" id="or_phone_regis" value="@ViewData["or_phone_regis"]" maxlength="10" title="ต้องไม่เกิน 10 หลัก และต้องเป็นตัวเลขเท่านั้น" placeholder="เบอร์โทร" required>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email" class="required">Email</label>
                                    <input readonly name="or_email" type="email" class="form-control" id="or_email" value="@ViewData["or_email"]" placeholder="Email" required>
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end col-md-6-->



                        </div>
                        <!--end row-->
                        <!--
    <div class="form-group">
        <label for="subject" class="col-form-label">...</label>
        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
    </div
        -->
                        <!--end form-group-->
                        <!--
    <div class="form-group">
        <label for="message" class="col-form-label required">Your Message</label>
        <textarea name="message" id="message" class="form-control" rows="4" placeholder="Your Message" required></textarea>
    </div>

    -->
                        <!--end form-group-->
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>



                        </div>


                        <input readonly name="id_owner_organi" type="hidden" class="form-control" id="id_owner_organi" value="@ViewData["id_owner_organi"]" placeholder="Email" required>
                        <button type="submit" onMouseMove="ffcapchar()" class="btn btn-primary float-right" id="submitid" style="margin-top:20px;">ลงทะเบียน</button>
                    </form>
                    <!--end form-->
                </div>
                <!--end col-md-8 -->
            </div>
            <!--end row-->
            <!--<button type="button" class="btn btn-primary float-right" OnClick="return CheckDouble();">xxx</button>-->
        </div>
        <!--end container-->



    </section>
    <!--end block-->



</section>
<!--end content-->


<script>

    $(document).ready(function ($) {

        $('.select2').selectize();
        /*$('#ndistrict').selectize();
        $('#subdistrict').selectize();*/
         /*$(".select2_single").select2({});
         $('#PROVINCE_ID').selectize({
             //create: true,
             sortField: 'text'
         });*/

        // $('#xxx').selectize({});
        /* $(".select2_single").select2({
             placeholder: "Select a state",
             allowClear: true
         });*/

        /* $('#select-beast').selectize({
             allowEmptyOption: true,
             create: true,
             sortField: { field: 'text' },
             dropdownParent: 'body'

         });*/



        $('#PROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(data);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {
                        //alert(province_id);
                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(AMPHUR_ID);
                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");

                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }


            }
            });
         });

       /* $("#o_age").datetimepicker({

            timepicker: false,
            format: 'd-m-Y',  // กำหนดรูปแบบวันที่ ที่ใช้ เป็น 00-00-0000
            lang: 'th',  // ต้องกำหนดเสมอถ้าใช้ภาษาไทย และ เป็นปี พ.ศ.
            onSelectDate: function (dp, $input) {
                var yearT = new Date(dp).getFullYear() - 0;
                var yearTH = yearT + 543;
                var fulldate = $input.val();
                var fulldateTH = fulldate.replace(yearT, yearTH);
                $input.val(fulldateTH);
            },
        });     */




        $("#myform").validate({
            rules: {
                o_idcard: {
                    required: true,
                    number: true
                },
                o_phone: {
                    required: true,
                    number: true
                   // range: [0,10]
                },
                /*o_name: {
                    required: true,
                    accept: "[a-zA-Z]+"
                }
                o_age: {
                    required: true,
                    number: true,
                    range: [1, 100]
                }*/
            }
        });



    });










</script>

<script type="text/javascript">
    function checkID(id) {
        if (id.length != 13) return false;
        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);
            if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
            return false; return true;
    }

    function checkForm() {
        if (!checkID(document.getElementById("o_idcard").value)) {
            //alert('รหัสประชาชนไม่ถูกต้อง');

            document.getElementById("alertidcard").innerHTML = "รหัสบัตรประชาชนไม่ถูกต้อง";
            document.getElementById("o_idcard").value = "";
        }
        else {
            //alert('รหัสประชาชนถูกต้อง เชิญผ่านได้');
            var o_idcard= document.getElementById("o_idcard").value

            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/check_idcard/")' + o_idcard,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {



                    if (data >= 1) {
                        document.getElementById("alertidcard").innerHTML = "เลขบัตรประชาชนนี้ " + o_idcard + " ท่านได้ลงทะเบียนไปแล้ว";
                        document.getElementById("o_idcard").value = "";
                        return false;
                    }
                    if (data == 0) {
                        document.getElementById("alertidcard").innerHTML = "";
                        return true;

                    }


            }
            });

        }

        //checktext("o_name", "alerto_name") // เช็คภาษาไทย
        //checktext("o_surname", "alerto_o_surname") // เช็คภาษาไทย

        var chko_name = document.getElementById("o_name").value;
        var chko_surname = document.getElementById("o_surname").value;

        if (!chko_name.match(pattern_thai) && !chko_name.match(pattern_eng)) {

            document.getElementById("o_name").value = '';
            document.getElementById("alerto_name").innerHTML = "กรุณากรอกชื่อภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {


            document.getElementById("alerto_name").innerHTML = "";
        }

        ///////

        if (!chko_surname.match(pattern_thai) && !chko_surname.match(pattern_eng)) {


            document.getElementById("o_surname").value = '';
            document.getElementById("alerto_o_surname").innerHTML = "กรุณากรอกนามสกุลภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {

            // document.getElementById(txtalert).innerHTML = "";
            document.getElementById("alerto_o_surname").innerHTML = "";
        }


    }


    function checkdoble() // Submit button clicked
    {
        //alert(i++);




        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        //return false;
    }

    var verifyCallback = function (response) {
        alert(response);
    };
    var onloadCallback = function () {

        grecaptcha.render('html_element', {
            'sitekey': '6LfG7V8UAAAAAA30eNulT4ZA3BPHNO48DXDxTTD_',
            'callback': verifyCallback,
            //'theme': 'dark'
        });
    };





</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>

<!--<form action="?" id="form" method="POST">
    <div id="html_element"></div>
    <input type="text" value="" required>
    <br />
    <input type="submit" value="Submit">
</form>
-->
