﻿@{
    Layout = null;

    var checkk = "checked";
    var text1 = "เจ้าของที่ดิน";
    var text2 = "ผู้ต้องการใช้ประโยชน์ในที่ดิน";

    // id =  1=บุคลลทั่วไป,2=องค์กร // เป็นตารางใน database แยกอยู่แล้ว
    // type = 1=เจ้าของที่ดิน,2=ผู้ต้องการใช้ประโยชน์

}
<section class="content">
    <section class="block">
        <div class="container">
            <div class="row">

                <!--end col-md-4-->
                <div class="col-md-12">
                    <h2>ลงทะเบียนสำหรับบุคคลทั่วไป (@if (Convert.ToInt32(TempData["type_status_regis"])==1){@text1}@if (Convert.ToInt32(TempData["type_status_regis"])==2){@text2})</h2>
                    <h3>ประเภทการลงทะเบียน</h3>
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input @if (Convert.ToInt32(TempData["type"])==11){@checkk}  title="ประเภทบุคคลทั่วไป" type="radio" id="type_regis_1" name="type_regis_1" value="1" required>
                                        ประเภทบุคคลทั่วไป
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input  @if(Convert.ToInt32(TempData["type"])==22){@checkk} title="ประเภทองค์กร หรือ กลุ่ม" type="radio" id="type_regis_2" name="type_regis_1" value="2">
                                        ประเภทองค์กร หรือ กลุ่ม
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>


                    </div>
                    <div id="owner_person">
                        <form class="form email" id="myform" method="post" action="@Url.Action("SubmitRegisterfar", "Home")" onsubmit="checkdoble();">



                            @if (Convert.ToInt32(TempData["type_status_regis"]) == 1)
                             {
                                    <input title="เจ้าของที่ดิน" type="hidden" id="type_status_regis1" name="type_status_regis" value="@TempData["type_status_regis"]" required>
                                    <input title="ผู้ต้องการใช้ประโยชน์" type="hidden" id="type_status_regis2" name="type_status_regis2" value="0" required>
                                    
                                    <input title="" type="hidden" id="txtfar_code" name="txtfar_code" value="IL" >
                                    
                             }

                            
                            @if (Convert.ToInt32(TempData["type_status_regis"]) == 2)
                             {
                                    <input title="เจ้าของที่ดิน" type="hidden" id="type_status_regis1" name="type_status_regis1" value="0" required>
                                    <input title="ผู้ต้องการใช้ประโยชน์" type="hidden" id="type_status_regis2" name="type_status_regis" value="@TempData["type_status_regis"]" required>
                                    
                                    <input title="ดิน" type="hidden" id="txtfar_code" name="txtfar_code" value="IU" >
                             }
                            
                            <!--
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">

                            <div class="wrapper">
                                <label>
                                    <input title="เจ้าของที่ดิน" type="radio" id="type_status_regis1" name="type_status_regis" value="1" required>
                                    เจ้าของที่ดิน
                                </label>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">

                            <div class="wrapper">
                                <label>
                                    <input title="ต้องการซื้อ" type="radio" id="type_status_regis2" name="type_status_regis" value="2">
                                    ผู้ต้องการใช้ประโยชน์ในที่ดิน
                                </label>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">

                            <div class="wrapper">
                                <label>
                                    <input title="ต้องการซื้อ" type="radio" id="type_status_regis3" name="type_status_regis" value="3">
                                    เจ้าของที่ดิน และ ผู้ต้องการใช้ประโยชน์ในที่ดิน
                                </label>
                            </div>

                        </div>

                    </div>
                </div>
    -->

                            <h3>รายละเอียดตัวบุคคล</h3>
                            <div id="step1">

                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">ชื่อ</label>
                                            <input name="far_name" type="text" class="form-control" id="far_name" title="ระบุชื่อ" placeholder="ชื่อ" required onchange="checkForm()">
                                            <p id="alerto_name" style="color:red;"></p>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">นามสกุล</label>
                                            <input name="far_surname" type="text" class="form-control" id="far_surname" title="ระบุนามสกุล" placeholder="นามสกุล" required onchange="checkForm()">
                                            <p id="alerto_o_surname" style="color:red;"></p>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">เลขที่บัตรประจำตัวประชาชน</label>
                                            <input name="id_card" type="text" maxlength="13" class="form-control" id="id_card" onchange="checkForm();" title="ต้องไม่เกิน 13 หลัก และต้องเป็นตัวเลขเท่านั้น" placeholder="เลขที่บัตรประจำตัวประชาชน" required>
                                            <p id="alertidcard" style="color:red;"></p>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">เกิดวันที่</label>
                                            <input name="far_age" type="text" class="form-control" id="far_age" placeholder="อายุ" autocomplete="off" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">เบอร์โทร</label>
                                            <input name="far_tel" type="text" class="form-control" id="far_tel" maxlength="10" title="ต้องไม่เกิน 10 หลัก และต้องเป็นตัวเลขเท่านั้น" placeholder="เบอร์โทร" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->


                                </div>

                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">Email</label>
                                            <input name="far_email" type="email" class="form-control" id="far_email" placeholder="Email" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email">Line ID</label>
                                            <input name="far_line" type="text" class="form-control" id="far_line" placeholder="Line ID">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                </div>
                                <!--end row-->


                                <h3>ที่อยู่อาศัย</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">บ้านเลขที่</label>
                                            <input name="far_address" type="text" class="form-control" title="ระบุบ้านเลขที่" id="o_address" placeholder="บ้านเลขที่" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">ถนน</label>
                                            <input name="far_road" type="text" class="form-control" id="o_road" placeholder="ถนน">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">จังหวัด</label>
                                            @using cmarket.Models
                                            @model IEnumerable<RegisterModel>

                                            <select name="PROVINCE_ID" id="PROVINCE_ID" class="required select2" data-placeholder="เลือกจังหวัด" title="ระบุจังหวัด">
                                                <option value="" id="ROVINCE_list"> -- Select --</option>
                                                @foreach (RegisterModel ownerland in ViewBag.ownerland)
                        {
                            <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>

}
                                            </select>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">อำเภอ</label>
                                            <div class="form-line" id="showdistrict">
                                                <select name="AMPHUR_ID" id="AMPHUR_ID" class="" data-placeholder="เลือกอำเภอ" title="ระบุอำเภอ" required>
                                                    <option value="" id="amphur_list"> -- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">ตำบล</label>
                                            <div class="form-line" id="showtumbon">
                                                <select name="DISTRICT_ID" id="DISTRICT_ID" class="" data-placeholder="เลือกตำบล" title="ระบุตำบล" required>
                                                    <option value="" id="tumbon_list"> -- Select --</option>
                                                </select>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                </div>
                                <!--end row-->
                                <hr />
                                <!--end row-->

                                <h3>อาชีพ</h3>
                                <div class="row">
                                    @foreach (RegisterFarnerModel career in ViewBag.career)
            {


                        <div class="col-md-4">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="checkbox" name="id_career1" value="@career.id_career" required>
                                        @career.career_name
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>



}
                                    <!--end col-md-6-->
                                </div>
                            </div>
                            <hr />

                            <div id="step2">
                                <h3>พื้นที่ที่ต้องการทำประโยชน์</h3>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <div class="wrapper">
                                                <label>
                                                    <input title="ต้องการเช่า" type="radio" class="required" id="f_wland1" name="f_wland" value="1" onclick="checko_wland(1)">
                                                    ต้องการเช่า
                                                </label>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <div class="wrapper">
                                                <label>
                                                    <input title="ต้องการเช่าซื้อ" type="radio" id="f_wland2" name="f_wland" value="2">
                                                    ต้องการเช่าซื้อ
                                                </label>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <div class="wrapper">
                                                <label>
                                                    <input title="ต้องการซื้อ" type="radio" id="f_wland3" name="f_wland" value="3">
                                                    ต้องการซื้อ
                                                </label>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <div class="wrapper">
                                                <label>
                                                    <input title="ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน" type="radio" id="f_wland4" name="f_wland" value="4">
                                                    ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน
                                                </label>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">จังหวัด</label>

                                            <select name="fPROVINCE_ID" id="fPROVINCE_ID" class="select2" data-placeholder="เลือกจังหวัด" title="ระบุจังหวัด">
                                                <option value="0"> -- Select --</option>
                                                @foreach (RegisterModel ownerland2 in ViewBag.ownerland)
                                                    {

                                                        <option value="@ownerland2.PROVINCE_ID">@ownerland2.PROVINCE_NAME</option>

                                                }
                                            </select>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">อำเภอ</label>
                                            <div class="form-line" id="fshowdistrict">
                                                <select name="fAMPHUR_ID" id="fAMPHUR_ID" class="" data-placeholder="เลือกอำเภอ" title="ระบุอำเภอ">
                                                    <option value="" id="amphur_list"> -- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">ตำบล</label>
                                            <div class="form-line" id="fshowtumbon">
                                                <select name="fDISTRICT_ID" id="fDISTRICT_ID" class="" data-placeholder="เลือกตำบล" title="ระบุตำบล">
                                                    <option value="" id="tumbon_list"> -- Select --</option>
                                                </select>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->



                                </div>



                                <div class="row">
                                    <!-- <div class="col-md-4">
                <div class="form-group">
                    <label for="email" class="col-form-label required">ขนาดที่ดินที่ต้องการ (ไร่)</label>

                    <input name="wsize_land" type="text" class="form-control" id="wsize_land" placeholder="ขนาดที่ดินที่ต้องการ" required>


                </div>

            </div>-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">ขนาดที่ดินที่ต้องการ ไร่</label>
                                            <input name="land_rai" type="text" class="form-control" title="จำนวนไร่ต้องเป็นตัวเลข" id="land_rai" placeholder="ขนาดที่ดินที่ต้องการ" required>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">งาน</label>
                                            <input name="land_nga" type="text" class="form-control" title="จำนวนงานต้องเป็นตัวเลข และไม่เกิน 3 งาน" id="land_nga" placeholder="ขนาดที่ดินที่ต้องการ" required>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">ตารางวา</label>
                                            <input name="land_va" type="text" class="form-control" title="จำนวนตารางวาต้องเป็นตัวเลข และไม่เกิน 99 ตารางวา" id="land_va" placeholder="ขนาดที่ดินที่ต้องการ" required>
                                        </div>

                                    </div>
                                    <!--end form-group-->
                                </div>

                                <h4> <label for="email" class="col-form-label required">ความต้องการใช้ประโยชน์ในที่ดิน</label></h4>


                                <div class="row">

                                    @foreach (RegisterModel tb_land_use in ViewBag.tb_land_use)
            {
                        <div class="col-md-3">

                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="checkbox" class="required" id="id_land_use@{@tb_land_use.id_land_use}" name="id_land_use" value="@tb_land_use.id_land_use">
                                        @tb_land_use.land_use_name
                                    </label>
                                    @{

                string hh = "hidden";
                string tt = "text";
                                    }


                                    <input name="fdetail_user_landx" type=" @if (@tb_land_use.id_land_use == 2 || @tb_land_use.id_land_use == 3){ @hh}else{@hh}">
                                    @if (@tb_land_use.land_use_seq == 6)
            {
                        <input name="fdetail_user_land" type="text">
}
                                </div>

                            </div>

                            <!--end form-group-->
                        </div>
}
                                </div>



                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">เงินทุนที่จำเป็นต้องใช้ในการทำเกษตรบนพื้นที่แปลงใหม่ (โดยประมาณ)</label>
                                            <input name="reg_capital" type="text" class="form-control" id="reg_capital" placeholder="เงินทุนที่จำเป็นต้องใช้ในการทำเกษตรบนพื้นที่แปลงใหม่ (โดยประมาณ)">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>



                            </div>








                            <hr />


                            <div class="row">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">

                                </div>


                                <div class="col-md-4" style="float:right;">

                                    <label class="framed" style="background-color:coral; color:azure;">

                                        @TempData["capchar"]
                                    </label>

                                    <input name="kcapchar" type="text" style="width:250px;" autocomplete="off" id="kcapchar" placeholder="กรอกตัวเลขลงในช่องว่าง" required>
                                    <input name="capchar" id="capchar" type="hidden" value="@TempData["capchar"]">
                                    <div id="alertcap"></div>


                                </div>
                            </div>



                            <!--end form-group-->
                            <button type="submit" onMouseMove="ffcapchar()" class="btn btn-primary float-right" id="submitid" style="margin-top:20px;">ลงทะเบียน</button>
                        </form>
                        <!--end form-->
                    </div>





                </div>
                <!--end col-md-8 -->
            </div>
            <!--end row-->
            <!--<button type="button" class="btn btn-primary float-right" OnClick="return CheckDouble();">xxx</button>-->
        </div>
        <!--end container-->



    </section>
    <!--end block-->



</section>
<!--end content-->


<script>
    $(document).ready(function ($) {

        $('.select2').selectize();
        /*$('#ndistrict').selectize();
        $('#subdistrict').selectize();*/
         /*$(".select2_single").select2({});
         $('#PROVINCE_ID').selectize({
             //create: true,
             sortField: 'text'
         });*/

        // $('#xxx').selectize({});
        /* $(".select2_single").select2({
             placeholder: "Select a state",
             allowClear: true
         });*/

        /* $('#select-beast').selectize({
             allowEmptyOption: true,
             create: true,
             sortField: { field: 'text' },
             dropdownParent: 'body'

         });*/



        $('#PROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(data);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();

                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {
                        //alert(province_id);
                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(AMPHUR_ID);
                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();

                    if (AMPHUR_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");

                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }


            }
            });
        });





       $('#fPROVINCE_ID').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
            var province_id = $(this).val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id+"/prov2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(province_id);


                    //$("#AMPHUR_ID").text("");

                    //$("#showdistrict").html("" + data);
                   // $("#showdistrict").show();
                   
                    if (province_id > 0) {
                        //alert(data);
                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fndistrict").addClass("required");

                    }
                    if (province_id == 0) {

                        $("#fndistrict").removeClass("required");
                        $("#fsubdistrict").removeClass("required");

                        $("#fshowdistrict").html("" + data);
                        $("#fshowdistrict").show();
                        $("#fshowtumbon").html("" + data);


                        $("#fAMPHUR_ID").text("");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                        $("#fndistrict").text("");
                        //alert(province_id);
                    }

            }
           });



        });





         $('#fshowdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#fndistrict").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID+"/aum2";
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")' + AMPHUR_ID + "/aum2",
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {


                    //$("#DISTRICT_ID").text("");
                   // $("#showtumbon").html("" + data);
                    //$("#showtumbon").show();
                    //alert(PROVINCE_ID);
                    if (AMPHUR_ID > 0) {
                        $("#fDISTRICT_ID").text("");
                        $("#fshowtumbon").html("" + data);
                        $("#fshowtumbon").show();
                        $("#fsubdistrict").addClass("required");


                    }
                    if (AMPHUR_ID == 0) {
                        // alert(PROVINCE_ID);
                        $("#fsubdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#fDISTRICT_ID").text("");
                        $("#fsubdistrict").text("");
                    }


            }
            });
         });





        $("#myform").validate({
            rules: {
                id_card: {
                    required: true,
                    number: true
                },
                far_tel: {
                    required: true,
                    number: true,
                    minlength: 9,
                    maxlength: 10
                },
                far_pass: {
                    required: true,
                    minlength: 8
                },
                far_pass2: {
                    required: true,
                    minlength: 8
                },
                land_rai: {
                    required: true,
                    number: true,
                    //range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                land_nga: {
                    required: true,
                    number: true,
                    range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                land_va: {
                    required: true,
                    number: true,
                    range: [0, 99]
                    //minlength: 1,
                    //maxlength: 2
                }
            }
        });


        //$("#step2 :input").attr("disabled", true);

        var type_status_regis = "@TempData["type_status_regis"]";
        if (type_status_regis==1) {
            $("#step2").hide(3);
        }
        if (type_status_regis == 2) {
            $("#step2").show(3);
        }
        

       /* $('#type_status_regis1').on('ifChecked', function (event) {

                $("#step2 :input").attr("disabled", true);
                $("#step2").hide(3);


        });

        $('#type_status_regis2').on('ifChecked', function (event) {

            $("#step2 :input").attr("disabled", false);
            $("#step2").show(3);


        });

        $('#type_status_regis3').on('ifChecked', function (event) {

            $("#step2 :input").attr("disabled", false);
            $("#step2").show(3);


        });*/

       // $("#owner_person :input").attr("disabled", true);

        var type_status_regis1 = document.getElementById('type_status_regis1').value;
        //var type_status_regis2 = document.getElementById('type_status_regis2').value;

        $('#type_regis_1').on('ifChecked', function (event) {

            $("#owner_person :input").attr("disabled", false);
           // $("#owner_person").hide(3);


        });

        $('#type_regis_2').on('ifChecked', function (event) {

            
                    window.location = "@Url.Action("register_organi", "Home", new { id = TempData["type_status_regis"],type=22})";
            

        });

        $('#type_status_regis1').on('ifUnchecked', function (event) {
            // $("#step2").hide(3);
            //var tc = $('#type_status_farmer').is(':checked');

            //alert(tc);
           // if (tc == true) {

              //  $("#type_status_owner").rules("remove");
            //} else {
               // $("#type_status_owner").rules("remove");
              //  $("#type_status_owner").addClass("required");
              //  $("#type_status_farmer").addClass("required");

           // }

            // $("#type_status_farmer").removeClass("required");

        });

       /* $('#type_status_farmer').on('ifChecked', function (event) {

            var tc = $('#type_status_owner').is(':checked');
            $("#step2").show(3);
            $("#step2 :input").attr("disabled", false)
            //$("#type_status_farmer").removeClass("required");
           // $("#type_status_owner").rules("remove");

            if (tc == true) {
                //$("#type_status_owner").rules("remove");
            } else {

                $("#type_status_owner").addClass("required");

            }

        });
        $('#type_status_farmer').on('ifUnchecked', function (event) {
            var tc = $('#type_status_owner').is(':checked');

            $("#step2").hide(3);
            $("#step2 :input").attr("disabled", true);
           // $("#type_status_owner").rules("add");


            if (tc == true) {
               // $("#type_status_farmer").rules("remove");
            } else {

                $("#type_status_owner").addClass("required");
                $("#type_status_farmer").addClass("required");
            }
        });*/








    });






</script>

<script type="text/javascript">
    function checkID(id) {
        if (id.length != 13) return false;
        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);
            if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
            return false; return true;
    }

    function checkForm() {
        if (!checkID(document.getElementById("id_card").value)) {
            //alert('รหัสประชาชนไม่ถูกต้อง');

            document.getElementById("alertidcard").innerHTML = "รหัสบัตรประชาชนไม่ถูกต้อง";
            document.getElementById("id_card").value = "";
        }
        else {
            //alert('รหัสประชาชนถูกต้อง เชิญผ่านได้');
            var o_idcard = document.getElementById("id_card").value

            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/check_idcard_fatmer/")' + o_idcard,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {



                    if (data >= 1) {
                        document.getElementById("alertidcard").innerHTML = "เลขบัตรประชาชนนี้ " + o_idcard + " ท่านได้ลงทะเบียนไปแล้ว";
                        document.getElementById("id_card").value = "";
                        return false;
                    }
                    if (data == 0) {
                        document.getElementById("alertidcard").innerHTML = "";
                        return true;

                    }


            }
            });

        }


        var chko_name = document.getElementById("far_name").value;
        var chko_surname = document.getElementById("far_surname").value;

        if (!chko_name.match(pattern_thai) && !chko_name.match(pattern_eng)) {

            document.getElementById("far_name").value = '';
            document.getElementById("alerto_name").innerHTML = "กรุณากรอกชื่อภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {


            document.getElementById("alerto_name").innerHTML = "";
        }

        ///////

        if (!chko_surname.match(pattern_thai) && !chko_surname.match(pattern_eng)) {


            document.getElementById("far_surname").value = '';
            document.getElementById("alerto_o_surname").innerHTML = "กรุณากรอกนามสกุลภาษาไทย หรือ อังกฤษ ท่านั้น";
            return false;
        } else {

            // document.getElementById(txtalert).innerHTML = "";
            document.getElementById("alerto_o_surname").innerHTML = "";
        }






    }

    function checkpass() {

        var far_pass = document.getElementById("far_pass").value;
        var far_pass2 = document.getElementById("far_pass2").value;
        //alert("xxxxx");
        if (far_pass != far_pass2) {

            document.getElementById("alerttext").innerHTML = "รหัสผ่านไม่ตรงกัน";
            return false;
        } else {

            document.getElementById("alerttext").innerHTML = "";
        }
    }


    function checkdoble() // Submit button clicked
    {
        //alert(i++);



        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        //return false;
    }

    var verifyCallback = function (response) {
        alert(response);
    };
    var onloadCallback = function () {

        grecaptcha.render('html_element', {
            'sitekey': '6LfG7V8UAAAAAA30eNulT4ZA3BPHNO48DXDxTTD_',
            'callback': verifyCallback,
            //'theme': 'dark'
        });
    };


</script>



