﻿
<section class="content">
    <section class="block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    
                    @if (ViewBag.confrim_regis=="yes")
                    {
                    <p>
                        <h1>ท่านได้ลงทะเบียนเรียบร้อยแล้ว</h1><br>
                        โปรดตรวจสอบ Email ของท่าน เพื่อยันการลงทะเบียน และนำ Username และ Password เข้าใช้งานระบบ <br>

                        หากท่านไม่ได้รับ Email โปรดดูที่ Spam หายยังไม่พบสามารถติดต่อสอบถามได้ที่ โทร: 02-2781244 , 02-2781648 ต่อ 610




                    </p>

                    }eles{
                        <p>
                            ท่านลงทะเบียนไม่สำเร็จ โปรดลองอีกครับ หรือ โทร: 02-2781244 , 02-2781648 ต่อ 610
                        </p>
                    }


                        <hr>
                        <!-- <p>
                             Troubles with signing? <a href="#" class="link">Click here.</a>
                         </p>-->
</div>
                <!--end col-md-6-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->
