﻿@{
    Layout = null;

    string textmonth = "เดือน";
    string textyear = "ปี";
}
@using cmarket.Models
@model IEnumerable<RegisterModel>
<!--*********************************************************************************************************-->


@Styles.Render("~/Content/backend/assets/js/plugins/datatables/bootstrap.min.css")




<section class="content">
    <section class="block">
        <div class="container">
           
            <!--============ Section Title===================================================================-->
            <!--============ Items ==========================================================================-->
            @if (@Session["far_id"] != null && Convert.ToInt32(ViewData["idlocaltion"])==-100) { 
            <a href="@Url.Content("~/HOME/farmersearch/-99")" class=" data-toggle="collapse" aria-expanded="false" aria-controls="collapseMainSearchForm" style="color:black;">
                <label class="framed" style="background-color:lemonchiffon;" id="inter">
                    <i class="fa fa-search"></i>
                    ค้นหาแปลงที่ดินทั้งหมด
                </label>
            </a>
            }

             @if (@Session["reg_organi_id"] != null && Convert.ToInt32(ViewData["idlocaltion"]) == -100) {
            <a href="@Url.Content("~/HOME/farmersearch/-99")" class=" data-toggle="collapse" aria-expanded="false" aria-controls="collapseMainSearchForm" style="color:black;">
                <label class="framed" style="background-color:lemonchiffon;" id="inter">
                    <i class="fa fa-search"></i>
                    ค้นหาแปลงที่ดินทั้งหมด
                </label>
            </a>
            }
            <div class="items list grid-xl-4-items grid-lg-3-items grid-md-2-items">

                <h3>ค้นหาพบทั้งหมด จำนวน @ViewData["ccl"] รายการ  <font color="red">@ViewData["textarea"]</font></h3>



                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="basic-datatable2" style="background-color:white;">
                    <thead>
                        <tr>
                            <th></th>

                        </tr>
                    </thead>



                    <tbody>

                        @{


                    foreach (RegisterModel land in Model)
                    {
                        <tr style="background-color:white;">
                            <td>

                                <div class="item" style="background-color:white;">

                                    <!--end ribbon-->
                                    <div class="wrapper">

                                        <div class="image">
                                            <h3>
                                                <!--<a href="#" class="tag category">Home & Decor</a>-->
                                                <a href="@Url.Action("showland", "Home", new { id = land.o_land_id })" class="title">@land.PROVINCE_NAME</a>

                                            </h3>


                                            <img class="image-wrapper background-image" src="~/imgland/@land.img_name" alt="">

                                        </div>
                                        <!--end image-->

                                        <h4 class="location" style="margin-top:18px;">
                                            <a href="#">อ.@land.AMPHUR_NAME ต.@land.DISTRICT_NAME</a>
                                        </h4>
                                        <div class="price">


                                            @if (@land.o_wland == 1)
                                    {
                                        <span>เช่าต่อ</span> if (@land.period_per == "1")
                                {@textmonth }
                    else
                    { @textyear } @Convert.ToInt32(@land.m_rent).ToString("N0") <span>บาท</span>
        }

                                            @if (@land.o_wland == 3)
                                    {
                                        <span>ขายราคา</span> @Convert.ToInt32(@land.m_rent).ToString("N0") <span>บาท</span>
                            }





                                        </div>
                                        <div class="meta">
                                            <figure>
                                                <i class="fa fa-calendar-o"></i>@land.dsave
                                            </figure>

                                        </div>
                                        <!--end meta-->
                                        <div class="description">
                                            <p>@land.place_land </p>
                                        </div>
                                        <!--end description-->

                                        <a href="@Url.Action("showland_search", "Home", new { id = land.o_land_id })" class="detail text-caps underline">รายละเอียด</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
            }
                        }

                    </tbody>
                </table>


                <!--end item-->
            </div>
            <!--============ End Items ======================================================================-->
            <!--<div class="page-pagination">
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">
                            <i class="fa fa-chevron-left"></i>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>-->
            <!--end page-pagination-->
        </div>
        <!--end container-->
    </section>
    <!--end block-->
</section>
<!--end content-->
<!--end content-->
<script>
    $(document).ready(function () {


        /************************************
        Basic Data Table
        ************************************/
        $('#basic-datatable2').dataTable({
            "pageLength": 10,
            "bLengthChange": false,
            //"dom": '<lf<t>ip> ',
            "sDom": '<"wrapper"lfptip>',
            "loadingRecords": "Loading...",
            "language": {
                "search": "ค้นหาแปลงที่ดิน:",
                "paginate": {
                    "first": "หน้าแรก",
                    "previous": "ย้อนกลับ",
                    "next": "ถัดไป",
                    "last": "หน้าสุดท้าย"
                }
            },
            "pagingType": "full_numbers"

        });


        $('#example').dataTable({
            "pageLength": 5,
            "bLengthChange": false,
            "dom": '<lf<t>ip> '
        });
    });
</script>
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables.js")
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/DT_bootstrap.js")
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables-conf.js")
