﻿@using cmarket.Models
@model IEnumerable<RegisterModel>
@{
    Layout = null;

    string textmonth = "เดือน";
    string textyear = "ปี";
}
<script type="text/javascript">

    $(document).ready(function () {

       var latitude_ = "@ViewData["latitude_land"]";
        var longitude_ = "@ViewData["longitude_land"]";

        if (latitude_ && longitude_) {

            $("#showmap").show();
        } else {

            $("#showmap").hide();
        }
    });



</script>

<!-- fotorama.css & fotorama.js. -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<!-- 2. Add images to <div class="fotorama"></div>. -->
<section class="content">
    <section class="block">
        <div class="row">
            <div class="col-md-10" style="margin: auto;
    width: 80%;

    padding: 10px;">
                <article class="blog-post clearfix">



                    <a href="blog-post.html">
                        <img src="assets/img/blog-image-01.jpg" alt="">
                    </a>
                    <div class="article-title" style="background-color:cornsilk;">
                        <h2>
                            <a href="blog-post.html">
                                ต.@ViewData["DISTRICT_NAME"] อ.@ViewData["AMPHUR_NAME"] จ.@ViewData["PROVINCE_NAME"]

                                @{
        int o_wland = Convert.ToInt32(ViewData["o_wland"]);
        int period_per = Convert.ToInt32(ViewData["period_per"]);

        //string textmonth = "เดือน";
        // string textyear = "ปี";
                                }


                                @if (o_wland == 1)
    {
                            <span>เช่าต่อ</span> if (period_per == 1)
{<span>เดือน</span> }
else
{ <span>ปี</span> } @ViewData["m_rent"] <span>บาท</span>
}

                                @if (o_wland == 3)
    {
                            <span>ขายราคา</span>  @Convert.ToInt32(@ViewData["m_rent"]).ToString("N0") <span>บาท</span>
}

                            </a>


                        </h2>

                        <div class="tags framed">
                            <h3>ประเภทที่ดิน @ViewData["name_type"]</h3>

                        </div>
                        <!--<div class="float-left">
                            <div class="rating" data-rating="4"></div>
                        </div>-->
                    </div>
                    <div class="meta">
                        <!--<figure>
                            <a href="#" class="icon">
                                <i class="fa fa-user"></i>
                                John Doe
                            </a>
                        </figure>-->
                        <figure>
                            <i class="fa fa-calendar-o"></i>
                            @ViewData["dsave"]
                        </figure>
                    </div>
                    <div class="blog-post-content">
                        <div class="row">
                            <div class="col-md-8" style="font-size:15px;">


                                <h2>จำนวนเนื้อที่ @ViewData["land_rai"] ไร่ @ViewData["land_nga"] งาน @ViewData["land_va"] ตารางวา</h2>
                                <p>
                                    @ViewData["place_land"]
                                </p>

                                <p>
                                    <b>การใช้ประโยชน์ในที่ดินในปัจจุบัน :</b>
                                    @foreach (RegisterModel tb_land_use in ViewBag.tb_land_use)
                                    {
                                        <span>

                                            @tb_land_use.land_use_name,

                                        </span>

                                        }
                                </p>

                                <p>
                                    <b>การคมนาคม :</b> @if (Convert.ToInt32(TempData["o_road"])==1) { <span>ติดถนน</span>}
                                                        @if (Convert.ToInt32(TempData["o_road"])==2) { <span>ไม่ติดถนน</span>}
                                </p>

                                <p>
                                    <b>แหล่งน้ำในพื้นที่ :</b> 
                                     @foreach (RegisterModel tb_water in ViewBag.tb_water)
                                    {
                                        <span>

                                            @tb_water.water_name,

                                        </span>

                                        }
                                </p>

                                <p>
                                    <b>ลักษณะที่ดิน :</b>
                                     @foreach (RegisterModel land_group in ViewBag.land_group)
                                    {
                                        <span>

                                            @land_group.land_group_name,

                                        </span>

                                        }
                                </p>

                                <p>
                                    <b>ข้อจำกัดการใช้ประโยชน์:</b>
                                     @foreach (RegisterModel condition_use_land in ViewBag.condition_use_land)
                                    {
                                        <span>

                                            @condition_use_land.condi_name,

                                        </span>

                                        }
                                </p>

                                <br>

                                <div class="fotorama" data-nav="thumbs" data-autoplay="true" style="margin: auto; text-align:center;">

                                    @foreach (RegisterModel img in ViewBag.img_land)
        {
                            <img src="~/imgland/@img.img_name" style="height:10%;">


}

                                </div>


                               


                            </div>
                            <!--============ Sidebar ====================================================================-->
                            <div class="col-md-4">
                                <h3>ท่านสนใจที่ดินแปลงนี้หรือไม่</h3>

                                @{ 
                                    Int32 cfar_id = Convert.ToInt32(TempData["cfar_id"]);
                                    
                                    if (cfar_id >= 1) {

                                         <label class="framed" style="background-color:lemonchiffon;" id="interx">
                                            <input checked type="radio" name="type" value="1" id="show1x" readonly>
                                            ท่านกำลังสนใจที่ดินแปลงนี้
                                        </label>

                                    }
                                    else
                                    {
                                             <label class="framed" style="background-color:lemonchiffon;" id="inter">
                                                <input type="checkbox" name="type" value="1" id="show1">
                                                คลิกสนใจที่ดินแปลงนี้
                                            </label>
                                    }

                                    }
                               



                                <aside class="sidebar">
                                    <!--Author-->
                                    <section>
                                        <div id="contectme_alert">
                                            <label class="framed" style="background-color:lemonchiffon;" id="inter">
                                                
                                                <a href="@Url.Action("index", "Home")">โปรดลงทะเบียนเข้าร่วมโครงการ</a>
                                            </label>
                                        </div>
                                        <div class="box" id="contectme">
                                            <div class="author">
                                                <div class="author-image">
                                                    <div class="background-image">
                                                        <img src="~/Content/images/logo-small.png" alt="">
                                                    </div>
                                                </div>
                                                <!--end author-image-->
                                                <div class="author-description">
                                                    <h3>ติดต่อ บจธ.</h3>

                                                    <a class="text-uppercase">
                                                        กรอกรายละเอียดเพื่อส่งให้เจ้าหน้าที่

                                                    </a><br>
                                                        <a class="text-uppercase" style="color:red;">
                                                            มีผู้สนใจแล้วจำนวน ( @ViewData["cinter"] ) ท่าน
                                                            
                                                        </a>
                                                </div>
                                                <!--end author-description-->
                                            </div>
                                            <hr>
                                            <!-- <dl>
                                                <dt>Phone</dt>
                                                <dd>830-247-0930</dd>
                                                <dt>Email</dt>
                                                <dd>hijane@example.com</dd>
                                            </dl> -->
                                            <!--end author-->
                                            <form class="form email" id="myform" method="post" action="@Url.Action("interrested", "Home")" onsubmit="return checkdoble();">
                                                <div class="form-group">
                                                    <label for="name" class="col-form-label required">ชื่อ-นามสกุล</label>
                                                    <input name="inter_name" type="text" class="form-control" id="inter_name" placeholder="ชื่อ-นามสกุล">
                                                </div>
                                                <!--end form-group-->
                                                <div class="form-group">
                                                    <label for="email" class="col-form-label required">เบอร์โทร</label>
                                                    <input name="inter_phone" type="text" onchange="checkphone()" class="form-control" id="inter_phone" placeholder="เบอร์โทร">
                                                    <p id="alertdub"></p>
                                                </div>
                                                <!--end form-group-->
                                                <div class="form-group">
                                                    <label for="message" class="col-form-label">ข้อความ</label>
                                                    <textarea name="inter_word" id="inter_word" class="form-control" rows="4" placeholder="ระบุข้อความที่ต้องการสอบถาม"></textarea>
                                                </div>
                                                <!--end form-group-->
                                                <input name="o_land_id" type="hidden" class="form-control" id="o_land_id" value="@ViewData["o_land_id"]" placeholder="เบอร์โทร">

                                                @if (@Session["far_id"] != null) {
                                                    <input name="far_id" type="hidden" class="form-control" id="far_id" value="@Session["far_id"]" placeholder="">
                                                    <input name="type_inter" type="hidden" class="form-control" id="type_inter" value="1" placeholder="">
                                                }
                                                 @if (@Session["reg_organi_id"] != null)
                                                 {
                                                     <input name="far_id" type="hidden" class="form-control" id="far_id" value="@Session["reg_organi_id"]" placeholder="">
                                                     <input name="type_inter" type="hidden" class="form-control" id="type_inter" value="2" placeholder="">
                                                 }
                                                <button type="submit" id="submitid" class="btn btn-primary">ส่งข้อมูล</button>

                                                <p>

                                                </p>
                                                <!--
                                                <p>
                                                    ท่านสามารถลงทะเบียนกับ บจธ. <a href="#" class="link">คลิกลงทะเบียน.</a>
                                                </p>
                                                -->

                                            </form>
                                        </div>


                                        <!--end box-->
                                    </section>
                                    <!--End Author-->
                                </aside>


                            </div>
                            <!--============ End Sidebar ================================================================-->

                        </div>
                        <hr>

                        <div class="author">
                            <div class="author-image">
                                <div class="background-image">
                                    <img src="assets/img/author-09.jpg" alt="">
                                </div>
                            </div>
                            <!--end author-image-->



                            <div class="col-md-12">
                               
                                <ul class="nav nav-pills" id="myTab-pills" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="one-tab-pills" data-toggle="tab" href="#one-pills" role="tab" aria-controls="one-pills" aria-expanded="true">ที่ตั้งที่ดิน</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="two-tab-pills" data-toggle="tab" href="#two-pills" role="tab" aria-controls="two-pills">แผนที่</a>
                                    </li>
                                   
                                </ul>
                                <div class="tab-content" id="myTabContent-pills">
                                    <div class="tab-pane fade show active" id="one-pills" role="tabpanel" aria-labelledby="one-tab-pills">
                                        <div id="showmap">

                                         
                                            @{
            var forcus = ViewData["latitude_land"] + "-" + ViewData["longitude_land"] + "-" + ViewData["o_land_id"];
                                            }
                                            <iframe width="100%"
                                                    height="450"
                                                    frameborder="0" style="border:0"
                                                    src="@Url.Content("~/HOME/map_api/?id="+forcus)"></iframe>
                                            latitude: @ViewData["latitude_land"]  longitude : @ViewData["longitude_land"]
                                            <!--
                                            <figure>

                                                <div class="text-align-right social">
                                                    <a href="#">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </figure>
                                                -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="two-pills" role="tabpanel" aria-labelledby="two-tab-pills">

                                        <div id="showmap_navi" onclick="funcshowmap(2)">

                                            
                                            @{
                                                var forcus2 = ViewData["latitude_land"] + "-" + ViewData["longitude_land"] + "-" + ViewData["o_land_id"];
                                            }
                                            <a target="_blank" href="https://www.google.co.th/maps/place/@ViewData["latitude_land"],@ViewData["longitude_land"]">
                                                <h3>
                                                    <img src="~/Content/images/navigation.png" style="width:3%" alt="">
                                                    คลิกเพื่อนำทาง
                                                </h3>
                                            </a>
                                            <iframe width="100%"
                                                    height="450"
                                                    frameborder="0" style="border:0"
                                                    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyC-NPkUz11ALbSbdd93f7FDS5qKEEp9fUo&origin=Current+Location&destination=@ViewData["latitude_land"],@ViewData["longitude_land"]"></iframe>

                                            <!--
                                            <figure>

                                                <div class="text-align-right social">
                                                    <a href="#">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </figure>
                                                -->
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                            <!--end col-md-6-->


                           

                           
                            <hr />
                            <!--end author-description-->
                        </div>
                        <!--end author-->
                    </div>
                    <!--end blog-post-content-->
                </article>
            </div>
        </div>
    </section>
</section>


<script>

    function funcshowmap(id)
    {
        if (id == 1) {
            $("#showmap_navi").hide();
        }
    }
    function checkdoble() // Submit button clicked
    {
        
        

        document.getElementById("submitid").disabled = true;
        setTimeout(function () { document.getElementById("submitid").disabled = false; }, 3000);
        
    }

    function checkphone() {


        var inter_phone = document.getElementById("inter_phone").value
        var o_land_id = document.getElementById("o_land_id").value

            $.ajax({
           
                url: '@Url.Content("~/HOME/check_phone_inter/")' + inter_phone + '-' + o_land_id,
            
                success: function (data) {

                    //alert(data);

                    if (data >= 1) {
                        document.getElementById("alertdub").innerHTML = "<font color='red'>ที่ดินแปลงนี้ใช้หมายเลข " + inter_phone + " ติดต่อ บจธ. เรียบร้อยแล้ว</font>";
                        document.getElementById("inter_phone").value = "";
                        document.getElementById("inter_name").value = "";
                        return false;
                    }
                    if (data == 0) {
                        document.getElementById("alertdub").innerHTML = "";
                        return true;

                    }


            }
            });
    }


    $(document).ready(function ($) {

        $('#contectme_alert').hide();
        $('#inter_name').prop('readonly', true);
        $('#inter_phone').prop('readonly', true);
        $('#inter_word').prop('readonly', true);
        
        $('#inter').click(function (e) {

           
            //alert(document.getElementById('show1').checked);

            var show = document.getElementById('show1').checked;
            var far_id = "@Session["far_id"]";
            var id_owner_organi = "@Session["reg_organi_id"]";
            
           
            //alert(id_owner_organi);
            if (show == false) {
               
                
                
                if (far_id == "" || far_id < 1) {

                    $('#inter_name').prop('readonly', false);
                    $('#inter_phone').prop('readonly', false);
                    $('#inter_word').prop('readonly', false);
                } else {
                    $("#inter_name").val("@Session["far_name"] @Session["far_surname"]");
                    $("#inter_phone").val("@Session["far_tel"]");

                    $('#inter_name').prop('readonly', true);
                    $('#inter_phone').prop('readonly', true);
                    $('#inter_word').prop('readonly', false);
                }


                if (id_owner_organi == "" || id_owner_organi < 1) {
                    $('#inter_name').prop('readonly', false);
                    $('#inter_phone').prop('readonly', false);
                    $('#inter_word').prop('readonly', false);
                } else {
                    $("#inter_name").val("@Session["reg_name"] @Session["far_surname"]");
                    $("#inter_phone").val("@Session["reg_regis_tel"]");

                    $('#inter_name').prop('readonly', true);
                    $('#inter_phone').prop('readonly', true);
                    $('#inter_word').prop('readonly', false);
                }

                if (id_owner_organi == "" && id_owner_organi < 1 && far_id == "" && far_id < 1) {
                    $('#contectme').hide();
                    $('#contectme_alert').show();
                }
               

            } else {
                $("#inter_name").val("");
                $("#inter_phone").val("");
                $('#inter_name').prop('readonly', true);
                $('#inter_phone').prop('readonly', true);
                $('#inter_word').prop('readonly', true);
            }
            
        });

        $("#myform").validate({
            rules: {
                inter_name: {
                    required: true,
                    
                    //range: [0, 3]
                    //minlength: 1,
                    //maxlength: 2
                },
                inter_phone: {
                    required: true,
                    number: true
                    
                    //minlength: 1,
                    //maxlength: 2
                }
            }
        });
    });

    


</script>