﻿@{

    if (@Session["id_owner"] == null)
    {


        <script type='text/javascript'>window.location.href = '@Url.Action("Index", "Home")';</script>
    }
    else
    {

       


        <style>
            input[type=checkbox]
            {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
            padding: 5px;
            background-color:antiquewhite;
            }


        </style>
        

        <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row">
                        <!--<div class="col-md-4">
                              <h2>Get In Touch</h2>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit
                                  amet fermentum sem. Class aptent taciti sociosqu ad litora
                              </p>
                              <br>
                              <figure class="with-icon">
                                  <i class="fa fa-map-marker"></i>
                                  <span>2519 Stanley Avenue<br>Huntington, NY 11743 </span>
                              </figure>
                              <br>
                              <figure class="with-icon">
                                  <i class="fa fa-phone"></i>
                                  <span>+1 516-480-4273</span>
                              </figure>
                              <figure class="with-icon">
                                  <i class="fa fa-envelope"></i>
                                  <a href="#">hello@example.com</a>
                              </figure>
                              <figure class="with-icon">
                                  <i class="fa fa-envelope"></i>
                                  <a href="#">support@example.com</a>
                              </figure>
                          </div>
                        -->
                        <!--end col-md-4-->
                        
                        <div class="col-md-12">
                            <h2>ประสงค์ลงทะเบียนหาผู้เช่าที่ดินทำกิน</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <a href="@Url.Action("listland", "Home")"><button type="button" class="btn btn-primary float-left">เพิ่มแปลงที่ดิน</button></a>

                                    </div>
                                    <!--end form-group-->
                                </div>
                            </div>
                            <h3></h3>
                            <h3>รายละเอียดตัวบุคคล</h3>

                            <form class="form email" method="post" action="@Url.Action("UpdateRegister", "Home")">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">ชื่อ</label>
                                            <input name="o_name" type="text" class="form-control" id="o_name" onchange="checkForm();" value="@ViewData["o_name"]" placeholder="ชื่อ" required>
                                            <p id="alerto_name" style="color:red;"></p>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">นามสกุล</label>
                                            <input name="o_surname" type="text" class="form-control" id="o_surname" onchange="checkForm();" value="@ViewData["o_surname"]" placeholder="นามสกุล" required>
                                            <p id="alerto_o_surname" style="color:red;"></p>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">เลขที่บัตรประจำตัวประชาชน</label>
                                            <input name="o_idcard" type="number" class="form-control" id="o_idcard" readonly value="@ViewData["o_idcard"]" placeholder="เลขที่บัตรประจำตัวประชาชน" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">อายุ</label>
                                            <input name="o_age" type="text" class="form-control" id="o_age" value="@ViewData["o_age"]" placeholder="อายุ" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">อาชีพ</label>
                                            <input name="o_career" type="text" class="form-control" id="o_career" value="@ViewData["o_career"]" placeholder="อาชีพ" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->


                                <h3>ที่อยู่อาศัย</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">บ้านเลขที่</label>
                                            <input name="o_address" type="text" class="form-control" id="o_address" value="@ViewData["o_address"]" placeholder="บ้านเลขที่" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">ถนน</label>
                                            <input name="o_road" type="text" class="form-control" id="o_road" value="@ViewData["o_road"]" placeholder="ถนน" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">จังหวัด</label>

                                            <div class="form-line" id="showprovince_dum">
                                                <!--<input style="width:20px;" type="checkbox" id="changepro" name="changepro" value="0" class="xxx" />-->
                                                @ViewData["PROVINCE_NAME"]
                                            </div>
                                            <div class="form-line" id="showprovince">
                                                <select name="pro_ID" id="pro_ID" class="select2" data-placeholder="เลือกจังหวัด">
                                                    <option value="" id="pro_list"> -- Select --</option>
                                                </select>
                                            </div>


                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">อำเภอ</label>
                                            <div class="form-line" id="showdistrict_dum">
                                                @ViewData["AMPHUR_NAME"]
                                            </div>
                                            <div class="form-line" id="showdistrict">
                                                <select name="AMPHUR_ID" id="AMPHUR_ID" class="select2" data-placeholder="เลือกอำเภอ">
                                                    <option value="" id="amphur_list"> -- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email" class="col-form-label required">ตำบล</label>
                                            <div class="form-line" id="showtumbon_dum">
                                                @ViewData["DISTRICT_NAME"]
                                            </div>
                                            <div class="form-line" id="showtumbon">
                                                <select name="DISTRICT_ID" id="DISTRICT_ID" class="select2" data-placeholder="เลือกตำบล">
                                                    <option value="" id="tumbon_list"> -- Select --</option>
                                                </select>
                                            </div>

                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label required">เบอร์โทร</label>
                                            <input name="o_phone" type="text" class="form-control" id="o_phone" value="@ViewData["o_phone"]" placeholder="เบอร์โทร" required>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input name="o_email" type="email" readonly class="form-control" id="o_email" value="@ViewData["o_email"]" placeholder="Email">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email">Line ID</label>
                                            <input name="o_lineid" type="text" class="form-control" id="o_lineid" value="@ViewData["o_lineid"]" placeholder="Line ID">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->

                                </div>
                                <!--end row-->
                                <!--
        <div class="form-group">
            <label for="subject" class="col-form-label">...</label>
            <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
        </div
            -->
                                <!--end form-group-->
                                <!--
        <div class="form-group">
            <label for="message" class="col-form-label required">Your Message</label>
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Your Message" required></textarea>
        </div>

        -->
                                <!--end form-group-->

                                <input name="id_owner" type="hidden" class="form-control" id="id_owner" value="@ViewData["id_owner"]" placeholder="Line ID">
                                <button type="submit" class="btn btn-primary float-right">แก้ไข</button>
                            </form>
                            <!--end form-->
                        </div>
                        <!--end col-md-8 -->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--end block-->
        </section>
        <!--end content-->

        <script>
     $(document).ready(function ($) {

         //$('.select2').selectize();
         //$('.select123').selectize();
       //  $('#changepro').on('ifChecked', function () { alert("xxx") })
         var province_id = '@ViewData["PROVINCE_ID"]';
         

        // $('#changepro').on('ifChecked', function () {

             
            
             
         //});
         

            //$('#changepro').on('ifChanged', function (event) {

                //Check if checkbox is checked or not
                //var checkboxChecked = $(this).is(':checked');

                //if (checkboxChecked) {
                    //alert("checked");
                     //if ($(this).attr('value', 'true')) { 
                         $.ajax({
                             // type: 'POST',
                             url: '@Url.Content("~/HOME/loadprov/")' + province_id,
                             //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                             //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                             //data: { province_id: province_id },
                             success: function (data) {

                                 //alert(data);


                                 //$("#AMPHUR_ID").text("");

                                 $("#showprovince").html("" + data);
                                 $("#showprovince").show();


                             }
                         });
                        // }
                //} else {
                    //alert("un-checked");
                    //alert("xxx");
                    
                   // $("#showprovince").html("");
                    //$("#showprovince").show();
                //}
            //});
         

         /*$('#changepro').on('ifChecked', function () {
             var check = document.getElementById('changepro').checked;
             alert(check);
         });*/

         $('#showprovince').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var province_id = $('#PROVINCE_ID').val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    
                    //alert(province_id);
                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {
                        
                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
             var PROVINCE_ID = $("#PROVINCE_ID").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {

                    //alert(province_id);

                    if (PROVINCE_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");
                        
                    }
                    if (PROVINCE_ID == 0) {
                       // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }
                   


            }
            });
         });

         
            
         
            });

            function checkForm() {

                var chko_name = document.getElementById("o_name").value;
                var chko_surname = document.getElementById("o_surname").value;

                if (!chko_name.match(pattern_thai) && !chko_name.match(pattern_eng)) {

                    document.getElementById("o_name").value = '';
                    document.getElementById("alerto_name").innerHTML = "กรุณากรอกชื่อภาษาไทย หรือ อังกฤษ ท่านั้น";
                    return false;
                } else {


                    document.getElementById("alerto_name").innerHTML = "";
                }

                ///////

                if (!chko_surname.match(pattern_thai) && !chko_surname.match(pattern_eng)) {


                    document.getElementById("o_surname").value = '';
                    document.getElementById("alerto_o_surname").innerHTML = "กรุณากรอกนามสกุลภาษาไทย หรือ อังกฤษ ท่านั้น";
                    return false;
                } else {

                    // document.getElementById(txtalert).innerHTML = "";
                    document.getElementById("alerto_o_surname").innerHTML = "";
                }
            }

        </script>


    }

}





