﻿@using cmarket.Models
@model IEnumerable<RegisterModel>
@{
    if (@Session["id_owner"] == null && @Session["staff_id"] == null && @Session["id_owner_organi"] == null && @Session["far_id"] == null && @Session["reg_organi_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("Index", "Home")';</script>
    }

    //var typeland = (RegisterModel)ViewBag.type_land;//retrive Data from ViewBag or ViewData

    // var ownerland2 = (RegisterModel)ViewData["ownerland"];

    var check = "checked";

}
<script type="text/javascript">

    // var type_land_id = document.getElementById("type_land_id").value;

    // alert(type_land_id);

</script>


<section class="content">
    <section class="block">
        <div class="container">
            <form class="form form-submit" method="post" id="myform" action="@Url.Action("updateland", "Home")" enctype="multipart/form-data">
                <section>
                    <div class="row">
                        <div class="col-md-12">
                            @if (Session["far_id"] != null || @Session["reg_organi_id"] != null)
            {
                <a href="@Url.Action("listland", "Home")"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการที่ดิน</button></a>
                <input type="hidden" id="status_land0" name="status_land" value="1">

}
                            @if (Session["staff_id"] != null)
            {
                <a href="@Url.Action("landOwner", "Backend",new { type_owner_land = @ViewData["type_owner_land"] })"><button type="button" style="padding-right:20px; background-color:darkcyan;" class="btn  float-right">กลับไปหน้ารายการที่ดิน</button></a>
                <input type="hidden" id="status_land0" name="status_land0" value="2">
}
                        </div>
                    </div>
                    
                    <h2>รายละเอียดที่ดิน <font color="red" size="3px;">(ถ้ามีการอัพเดดเปลี่ยนข้อมูลต้องรอ บจธ. อนุมัติ ข้อมูลจึงจะแสดงบนเว็บไซต์)</font></h2>

                    @if (Session["staff_id"] != null)
    {
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">

                            <div class="wrapper">
                                <label>
                                    <input type="radio" @if( Convert.ToInt32(@ViewData["status_land"])==1){ @check } id="status_land" name="status_land" value="1">
                                    ไม่อนุมัติ
                                </label>
                            </div>

                        </div>
                        <!--end form-group-->
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">

                            <div class="wrapper">
                                <label>
                                    <input type="radio" @if( Convert.ToInt32(@ViewData["status_land"])==2){ @check } id="status_land" name="status_land" value="2">
                                    อนุมัติ
                                </label>
                            </div>

                        </div>
                        <!--end form-group-->
                    </div>

                </div>
}

                    @{
        string checker = "checked";

                    }

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input title="ต้องการให้เช่า" @if (Convert.ToInt32(@ViewData["o_wland"]) == 1) { @checker } type="radio" class="required o_wland0" id="o_wland1" name="o_wland" value="1" ifclick="checko_wland(1)">
                                        ต้องการให้เช่า
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                        <!--
        <div class="col-md-2">
            <div class="form-group">

                <div class="wrapper">
                    <label>
                        <input title="ต้องการให้เช่าซื้อ" @if (Convert.ToInt32(@ViewData["o_wland"]) == 2) { @checker } type="radio" id="o_wland2" name="o_wland" value="2">
                        ต้องการให้เช่าซื้อ
                    </label>
                </div>

            </div>

        </div>
            -->
                        <div class="col-md-2">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input title="ต้องการขาย" @if (Convert.ToInt32(@ViewData["o_wland"]) == 3) { @checker } type="radio" id="o_wland3" name="o_wland" value="3">
                                        ต้องการขาย
                                    </label>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                    </div>
                    <h3>ที่ตั้งแปลงที่ดิน</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">จังหวัด</label>

                                <p style="color:blue;">@ViewData["PROVINCE_NAME"]</p>
                                <div class="form-line" id="showprovince">
                                    <select name="PROVINCE_ID" id="PROVINCE_ID" data-placeholder="เลือกจังหวัด">
                                        <option value="0" id="ROVINCE_list"> -- Select --</option>
                                        @foreach (RegisterModel ownerland in ViewBag.ownerland)
                        {
                            <option value="@ownerland.PROVINCE_ID">@ownerland.PROVINCE_NAME</option>

        }
                                    </select>
                                </div>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email" class="col-form-label required">อำเภอ</label>
                                <p style="color:blue;">@ViewData["AMPHUR_NAME"]</p>
                                <div class="form-line" id="showdistrict">
                                    <select name="AMPHUR_ID" id="AMPHUR_ID" class="select2-single" data-placeholder="เลือกอำเภอ">
                                        <option value="" id="amphur_list"> -- Select --</option>
                                    </select>
                                </div>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email" class="col-form-label required">ตำบล</label>
                                <p style="color:blue;">@ViewData["DISTRICT_NAME"]</p>
                                <div class="form-line" id="showtumbon">
                                    <select name="DISTRICT_ID" id="DISTRICT_ID" class="select2-single" data-placeholder="เลือกตำบล">
                                        <option value="" id="tumbon_list"> -- Select --</option>
                                    </select>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-6-->

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="email" class="col-form-label required">ประเภทที่ดิน</label>
                                <div class="form-line">
                                    <select name="type_land_id" id="type_land_id" class="select2-single" data-placeholder="ประเภทที่ดิน">
                                        <option value=""> -- Select --</option>
                                        @foreach (RegisterModel viewtypeland in ViewBag.type_land)
                        {

                            <option value="@viewtypeland.type_land_id"> @viewtypeland.name_type</option>

        }

                                    </select>
                                </div>

                            </div>
                            <!--end form-group-->
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">เลขที่เอกสารสิทธ์</label>
                                <input name="o_land_num" type="text" title="จำนวนไร่ต้องเป็นตัวเลข" class="form-control" value="@ViewData["o_land_num"]" id="o_land_num" required>

                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-8-->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">ไร่</label>
                                <input name="land_rai" type="text" class="form-control" id="land_rai" value="@ViewData["land_rai"]" required>
                                <span class="input-group-addon">ไร่</span>
                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">งาน</label>
                                <input name="land_nga" type="text" class="form-control" id="land_nga" value="@ViewData["land_nga"]" required>
                                <span class="input-group-addon">งาน</span>
                            </div>
                            <!--end form-group-->
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="price" class="col-form-label required">ตารางวา</label>
                                <input name="land_va" type="text" class="form-control" id="land_va" title="จำนวนตารางวาต้องไม่เกิน 99 ตารางวา" value="@ViewData["land_va"]" required>
                                <span class="input-group-addon">ตารางวา</span>
                            </div>
                            <!--end form-group-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">ราคาที่ต้องการ</label>
                                <input name="m_rent" type="text" class="form-control" id="m_rent" placeholder="" value="@ViewData["m_rent"]" required>
                                <span class="input-group-addon">บาท</span>
                            </div>
                            <!--end form-group-->
                        </div>

                        <div class="col-md-4" id="div_period_per">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">ต่อ เดือน/ปี</label>
                                <select name="period_per" id="period_per" class="select2-single" data-placeholder="ต่อ เดือน/ปี" required>
                                    <option value=""> เดือน/ปี</option>
                                    <option value="1">เดือน</option>
                                    <option value="2">ปี</option>



                                </select>
                            </div>
                            <!--end form-group-->
                        </div>

                        <div class="col-md-4" id="div_period">
                            <div class="form-group">
                                <label for="name" class="col-form-label ">ระยะเวลาต่อ (เดือน/ปี)</label>
                                <select name="period" id="period" class="select2-single" data-placeholder="ระยะเวลาต่อ (เดือน/ปี)" required>
                                    <option value=""> ปี</option>

                                    @for (var ii = 1; ii <= 11; ii++)
                    {
                        <option value="@ii"> <p>@ii</p></option>
    }


                                </select>
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="price" class="col-form-label">Latitude</label>
                <input name="latitude_land" type="text" class="form-control" id="latitude_land" value="@ViewData["latitude_land"]">
                <span class="input-group-addon">Latitude</span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="price" class="col-form-label">Longitude</label>
                <input name="longitude_land" type="text" class="form-control" id="longitude_land" value="@ViewData["longitude_land"]">
                <span class="input-group-addon">Latitude</span>
            </div>

        </div>
    </div>
        -->
                    <hr />
                    <h3>การใช้ประโยชน์ในที่ดินในปัจจุบัน</h3>
                    <div class="row">


                        @foreach (RegisterModel tb_land_use in ViewBag.tb_land_use)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input @foreach (RegisterModel r_owner_land_use in ViewBag.r_owner_land_use) { if (r_owner_land_use.id_land_use == tb_land_use.id_land_use) { @checker } }
                                       type="checkbox" class="required" id="id_land_use@{@tb_land_use.id_land_use}" name="id_land_use" value="@tb_land_use.id_land_use">
                                @tb_land_use.land_use_name
                            </label>



                            <input name="detail_user_land" type="hidden" id="detail_user_land@{@tb_land_use.id_land_use}" value="@foreach (RegisterModel r_owner_land_use in ViewBag.r_owner_land_use)
                                        {
                                            if (r_owner_land_use.id_land_use == tb_land_use.id_land_use)
                                            {
                                                        @r_owner_land_use.detail_user_land

                                            }
                                        }">

                            @if (@tb_land_use.id_land_use == 2 || @tb_land_use.id_land_use == 3)
            {

            }
                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>

                    <hr />

                    <h3>คมนาคม</h3>
                    <div class="row">

                        <div class="col-md-3">

                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="radio" class="required" id="o_road" name="o_road" value="1" @if (Convert.ToInt32(@ViewData["o_road"]) == 1) { @checker }>
                                        ติดถนน
                                    </label>

                                </div>

                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <div class="wrapper">
                                    <label>
                                        <input type="radio" class="required" id="o_road2" name="o_road" value="2" @if (Convert.ToInt32(@ViewData["o_road"]) == 2) { @checker }>
                                        ไม่ติดถนน
                                    </label>

                                </div>

                            </div>
                        </div>

                        <!--end form-group-->
                    </div>
                    <hr />

                    <h3>แหล่งน้ำ</h3>
                    <div class="row">

                        @foreach (RegisterModel tb_water in ViewBag.tb_water)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input @foreach (RegisterModel r_land_water in ViewBag.r_land_water) { if (r_land_water.id_data_water == tb_water.id_data_water) { @checker } } type="checkbox" class="required" id="id_data_water@{@tb_water.id_data_water}" name="id_data_water" value="@tb_water.id_data_water">
                                @tb_water.water_name
                            </label>

                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />

                    <h3>ลักษณะที่ดิน</h3>
                    <div class="row">

                        @foreach (RegisterModel land_group in ViewBag.land_group)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input @foreach (RegisterModel r_land_group in ViewBag.r_land_group) { if (r_land_group.id_land_group == land_group.id_land_group) { @checker } } type="checkbox" class="required" id="id_land_group@{@land_group.id_land_group}" name="id_land_group" value="@land_group.id_land_group">
                                @land_group.land_group_name
                            </label>



                            @if (@land_group.seq_num == 4)
            {

                <input name="land_group_detail" type="text" id="land_group_detail@{@land_group.id_land_group}" value="@foreach (RegisterModel r_land_group in ViewBag.r_land_group) { if (r_land_group.id_land_group == land_group.id_land_group) { @r_land_group.land_group_detail } }">
}
                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />


                    <h3 id="hcondiland">ข้อจำกัดการใช้ประโยชน์</h3>
                    <div class="row" id="condiland">

                        @foreach (RegisterModel condition_use_land in ViewBag.condition_use_land)
        {
                <div class="col-md-3">

                    <div class="form-group">

                        <div class="wrapper">
                            <label>
                                <input @foreach (RegisterModel r_condi_land in ViewBag.r_condi_land) { if (r_condi_land.id_condi_use_land == condition_use_land.id_condi_use_land) { @checker } } type="checkbox" class="required" id="id_condi_use_land" name="id_condi_use_land" value="@condition_use_land.id_condi_use_land">
                                @condition_use_land.condi_name
                            </label>


                            @if (@condition_use_land.id_condi_use_land == 3)
            {
                <input name="condi_detail" type="text" id="condi_detail" value="@foreach (RegisterModel r_condi_land in ViewBag.r_condi_land)
                                        {
                                            if (r_condi_land.id_condi_use_land == condition_use_land.id_condi_use_land)
                                            {
                                                        @r_condi_land.condi_detail

                                            }
                                        }">

}



                        </div>

                    </div>

                    <!--end form-group-->
                </div>
}
                    </div>
                    <hr />

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" class="col-form-label required">รายละเอียดอื่นๆ</label>
                                <textarea name="place_land" id="place_land" class="form-control" rows="5" required>@ViewData["place_land"]</textarea>
                            </div>
                            <!--end form-group-->
                        </div>

                        <!--
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="col-form-label required">เงื่อนไข (บันทึกข้อตกลง)</label>
                <textarea name="codition" id="codition" class="form-control" rows="10"></textarea>
            </div>

        </div>
        -->
                        <hr />
                        <div id="showmap" class="col-md-12">

                            <h2>ที่ตั้งที่ดิน</h2>
                            @{
                var forcus = ViewData["latitude_land"] + "-" + ViewData["longitude_land"] + "-" + ViewData["o_land_id"];
                            }
                            <iframe width="100%"
                                    height="450"
                                    frameborder="0" style="border:0"
                                    src="@Url.Content("~/HOME/map_api/?id="+forcus)"></iframe>
                            latitude: @ViewData["latitude_land"]  longitude : @ViewData["longitude_land"]
                            <figure>

                                <div class="text-align-right social">
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </figure>
                        </div>

                    </div>
                </section>
                <button type="submit" class="btn btn-primary float-right"  onclick="return confirm('ต้องการอัพเดดข้อมูลใช่หรือไม่?')">บันทึก</button>
                <input type="hidden" value="@ViewData["o_land_id"]" name="o_land_id" id="o_land_id">
                <input type="hidden" value="@ViewData["type_owner_land"]" name="type_owner_land" id="type_owner_land">

            </form>
        </div>
    </section>
</section>
<script>
     $(document).ready(function ($) {
         var type_land_id = $('#type_land_id').val("@ViewData["type_land_id"]");
         var period = $('#period').val("@ViewData["period"]");
         var period_per = $('#period_per').val("@ViewData["period_per"]");


         

        
         var o_wlandx = "@ViewData["o_wland"]";

         if (o_wlandx == 3) {

             $("#div_period_per").hide(3);
             $("#div_period").hide(3);
             $("#condiland").hide(3);
             $("#hcondiland").hide(3);

             //document.getElementById("period_per").disabled = true;
             //document.getElementById("period").disabled = true;
         }

         if (o_wlandx == 1) {

             $("#div_period_per").show(3);
             $("#div_period").show(3);

             $("#condiland").show(3);
             $("#hcondiland").show(3);

             document.getElementById("period_per").disabled = false;
             document.getElementById("period").disabled = false;
             document.getElementById("id_condi_use_land").disabled = false;
             document.getElementById("condi_detail").disabled = false;

         }


         $("#o_wland1").on('ifChecked', function (e) {

             $("#div_period_per").show(3);
             $("#div_period").show(3);

             $("#condiland").show(3);
             $("#hcondiland").show(3);


             document.getElementById("period_per").disabled = false;
             document.getElementById("period").disabled = false;
             document.getElementById("id_condi_use_land").disabled = false;
             document.getElementById("condi_detail").disabled = false;

         });

         $("#o_wland3").on('ifChecked', function (e) {


             $("#div_period_per").hide(3);
             $("#div_period").hide(3);

             $("#condiland").hide(3);
             $("#hcondiland").hide(3);

             document.getElementById("period_per").disabled = true;
             document.getElementById("period").disabled = true;
             document.getElementById("id_condi_use_land").disabled = true;
             document.getElementById("condi_detail").disabled = true;


         });


         $('#showprovince').change(function (e) {


        //ดึงข้อมูล province จากไฟล์ get_data.php
             var province_id = $('#PROVINCE_ID').val();
            //var urlprov = "/Home/loadaddr" + province_id;
            var urlprov = "@Url.Content("~/HOME/loadaddr")";
            $.ajax({
           // type: 'POST',
            url: '@Url.Content("~/HOME/loadaddr/")'+province_id,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {


                    //alert(province_id);
                    if (province_id > 0) {
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#showdistrict").html("" + data);
                        $("#showdistrict").show();
                        $("#ndistrict").addClass("required");
                    }
                    if (province_id == 0) {
                        //alert(province_id);
                        $("#ndistrict").removeClass("required");
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#AMPHUR_ID").text("");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                        $("#ndistrict").text("");

                    }

            }
            });
         });

         $('#showdistrict').change(function (e) {
        //ดึงข้อมูล province จากไฟล์ get_data.php
             var AMPHUR_ID = $("#ndistrict").val();
             var PROVINCE_ID = $("#PROVINCE_ID").val();
            //var urlprov = "/Home/loadaddr" + province_id;
             var urlprov = "@Url.Content("~/HOME/loadtumbon/")" + AMPHUR_ID;
            $.ajax({
           // type: 'POST',
                url: '@Url.Content("~/HOME/loadtumbon/")'+AMPHUR_ID,
            //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
            //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
            //data: { province_id: province_id },
                success: function (data) {



                    if (PROVINCE_ID > 0) {
                        $("#DISTRICT_ID").text("");
                        $("#showtumbon").html("" + data);
                        $("#showtumbon").show();
                        $("#subdistrict").addClass("required");

                    }
                    if (PROVINCE_ID == 0) {
                       // alert(PROVINCE_ID);
                        $("#subdistrict").removeClass("required");
                        //$("#DISTRICT_ID").removeClass("required");
                        $("#DISTRICT_ID").text("");
                        $("#subdistrict").text("");
                    }



            }
            });
         });


         $("#myform").validate({
             rules: {
                 land_rai: {
                     required: true,
                     number: true,
                     //range: [0, 3]
                     //minlength: 1,
                     //maxlength: 2
                 },
                 land_nga: {
                     required: true,
                     number: true,
                     range: [0, 3]
                     //minlength: 1,
                     //maxlength: 2
                 },
                 land_va: {
                     required: true,
                     number: true,
                     range: [0, 99]
                     //minlength: 1,
                     //maxlength: 2
                 }
             }
         });




         



    });

   // var status_land = "@ViewData["status_land"]";
    //alert(status_land);
    /*if (status_land==1) {
        document.getElementById("status_land1").checked = true;
    }
    if (status_land == 2) {
        document.getElementById("status_land2").checked = true;
    }
    */
</script>

