﻿@{
    Layout = null;

}
@using cmarket.Models
@model IEnumerable<RegisterModel>
<script type="text/javascript">

    $(document).ready(function () {

        //var txt_name = $('#txt_name').val();

        $("#txt_namex").autocomplete({
            source: '@Url.Content("~/HOME/getsearch/")',
            minLength: 1,

        });

        //alert("xxxx");
        $("#txt_nameฟฟ").autocomplete({

           source: function (request, response) {
                $.ajax({
                    url: '@Url.Content("~/HOME/getsearch2")',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //alert(data.split("-"));
                        //response(data);
                        //$('#result').show().html(data);
                        //alert(data);
                        response($.map(data, function (item) {
                            return item.split('-')[0] + item.split('-')[1];
                            /*return {
                                //label: item.split('-')[0],
                                //val: item.split('-')[1]

                                //return matcher.test(item)
                                label: item.label,
                                value: item.value
                            }

                            //return matcher.test(item);*/
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                log(ui.item ?
                    "Selected: " + ui.item.label :
                    "Nothing selected, input was " + this.value);
            },
            minLength: 1
        });

        function log(message) {
            $("<div>").text(message).prependTo("#log");
            $("#log").scrollTop(0);
        }

        $("#txt_nameปผ").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Content("~/HOME/getsearch2")',
                    dataType: "jsonp",
                    type: "POST",
                    data: {
                        prefix: request.term
                    },
                    success: function (data) {
                        alert(data);
                        response(data);
                    }
                });
            },
            minLength: 1,
            select: function (event, ui) {
                log(ui.item ?
                    "Selected: " + ui.item.label :
                    "Nothing selected, input was " + this.value);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });



        $('#result').hide();
        $('#txt_name').keyup(function () {
            var txt_name = $('#txt_name').val();

            //alert($("#typesearch1").prop("checked"));
            if ($("#typesearch1").prop("checked") == true) {

                var typesearch1 = $('#typesearch1').val();
                var typesearch2 = 0;
                var typesearch3 = 0;
            }

            if ($("#typesearch2").prop("checked") == true) {

                var typesearch1 = 0;
                var typesearch2 = $('#typesearch2').val();
                var typesearch3 = 0;
            }

            if ($("#typesearch3").prop("checked") == true) {

                var typesearch1 = 0;
                var typesearch2 = 0;
                var typesearch3 = $('#typesearch3').val();
            }


            if (txt_name != "") {
                $.get('@Url.Content("~/HOME/getsearch/")' + txt_name + "-" + typesearch1 + "-" + typesearch2 + "-" + typesearch3
                    , function (data) {
                        /* Check return data from databases */
                        if (data != "") {
                            $('#result').show().html(data);
                        } else {
                            $('#txt_id').val('');
                            $('#result').hide().html('ไม่พบข้อมูล');
                        }

                    });
                return false;
            } else {
                $('#txt_id').val('');
                $('#result').hide().html('');
            }

        });

        var disid = "@Session["DISTRICT_ID"]";
        var idlocaltion = "@ViewBag.idlocaltion";
        var reg_organi_id = "@Session["reg_organi_id"]";
        var far_id = "@Session["far_id"]";

        var type_status_regis = "@Session["type_status_regis"]";
        var type_status_regis_og="@Session["type_status_regis_og"]";

        if (reg_organi_id > 0) {
            var disid1 = reg_organi_id;

        }
        if (far_id > 0) {
            var disid1 = far_id;

        }
        //alert(idlocaltion);


        if (idlocaltion == -99) {
                     $.ajax({
                         // type: 'POST',
                         url: '@Url.Content("~/HOME/showsearchall/")' + idlocaltion ,
                        //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                        //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                        //data: { province_id: province_id },
                            success: function (data) {

                                //alert(data);
                                if (data != 00) {
                                   // $("#showsearch_text").html("<h3 style='color: brown;'>ที่ดินในพื้นที่ของท่าน</h3>");
                                    $("#showsearch").html("" + data);
                                }

                                if (data == 00) {
                                    //alert(disid);
                                    $("#showsearch").html("ไม่พบข้อมูล");
                                }





                                 }
            });
        }

        if (disid1 > 0 && idlocaltion != -99) {

            if (type_status_regis == 1) {
                   $.ajax({
                    // type: 'POST',
                    url: '@Url.Content("~/HOME/listland2/")',
                    //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                    //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                    //data: { province_id: province_id },
                    success: function (data) {

                        //alert(data);
                        if (data != 00) {
                            //$("#showsearch_text").html("<h3 style='color: brown;'>ที่ดินในพื้นที่ที่ท่านต้องการ</h3>");
                            $("#showsearch").html("" + data);
                        }

                        if (data == 00) {
                            //alert(disid);
                            $("#showsearch").html("ไม่พบข้อมูล");
                        }





                    }
                });
            }

            //if (type_status_regis == 2 || type_status_regis == 3 || type_status_regis_og == 2 || type_status_regis_og == 3) {
            if (type_status_regis == 1 || type_status_regis == 2 || type_status_regis == 3 || type_status_regis_og == 1 || type_status_regis_og == 2 || type_status_regis_og == 3) {

                   $.ajax({
                    // type: 'POST',
                    url: '@Url.Content("~/HOME/showsearch_inarea/")' + disid1,
                    //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                    //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                    //data: { province_id: province_id },
                    success: function (data) {

                        //alert(data);
                        if (data != 00) {
                            $("#showsearch_text").html("<h3 style='color: brown;'>ที่ดินในพื้นที่ที่ท่านต้องการ</h3>");
                            $("#showsearch").html("" + data);
                        }

                        if (data == 00) {
                            //alert(disid);
                            $("#showsearch").html("ไม่พบข้อมูล");
                        }





                    }
                });
            }
        }


        

        if (idlocaltion > 0) {
                     $.ajax({
                         // type: 'POST',
                         url: '@Url.Content("~/HOME/showsearch/")' + idlocaltion ,
                        //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                        //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                        //data: { province_id: province_id },
                            success: function (data) {

                                //alert(data);
                                if (data != 00) {
                                   // $("#showsearch_text").html("<h3 style='color: brown;'>ที่ดินในพื้นที่ของท่าน</h3>");
                                    $("#showsearch").html("" + data);
                                }

                                if (data == 00) {
                                    //alert(disid);
                                    $("#showsearch").html("ไม่พบข้อมูล");
                                }





                                 }
            });
        }

        

         $('#bbsearch').click(function () {

            //alert("xxxx");
            var txt_id = $("#txt_id").val();
            var typesearch1 = $("#typesearch1").val();
            var typesearch2 = $("#typesearch2").val();
            var typesearch3 = $("#typesearch3").val();

            // alert(txt_id);
           // var getid = txt_id+"-"+typesearch1+"-"+typesearch2++typesearch3;

                //var urlprov = "/Home/loadaddr" + province_id;
                 //var urlprov = "@Url.Content("~/HOME/search_land/ ")" + txt_id;
                $.ajax({
                         // type: 'POST',
                         url: '@Url.Content("~/HOME/showsearch/")' + txt_id ,
                //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                //data: { province_id: province_id },
                    success: function (data) {
                        //alert(txt_id);
                        //alert(data);
                        if (data != 00) {
                            $("#showsearch_text").html("");
                            $("#showsearch").html("" + data);
                        }

                        if (data == 00) {

                            $("#showsearch").html("ไม่พบข้อมูล");
                        }





                         }
                     });
             });

    });
    /* End */




    /* Onclick div#link */
    function Add_ID(id, name) {
        //alert(id);
        $('#txt_name').val(name);
        $('#txt_id').val(id);
        $('#result').hide().html('');
    }

    /* Onblur txt_name */
    function txt_Out() {
        //alert($('#txt_id2').val());
       // var ids = $('#txt_id2').val();
        $('#result').hide().html('');
       // $('#txt_id').val(ids);
    }





</script>


<form class="hero-form form" style="padding-top: 0rem;">
    <div class="container">
        <!--Main Form-->
        <!--
        <div class="main-search-form">

            <div class="form-row">
                <form class="form email" id="myform" method="post">
                    <div class="col-md-9 col-sm-9">
                        <div class="form-group">
                            <label for="what" class="col-form-label">ค้นหาพื้นที่?</label>
                            <input type="radio" checked name="typesearch" id="typesearch1" value="1"> ระดับจังหวัด
                            <input type="radio" name="typesearch" id="typesearch2" value="2"> ระดับอำเภอ
                            <input type="radio" name="typesearch" id="typesearch3" value="3"> ระดับตำบล

                        </div>

                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="form-group">

                            <input type="hidden" name="txt_id" id="txt_id" />
                            <input name="keyword" type="text" class="form-control" id="txt_name" onblur="setTimeout('txt_Out();', 200);" placeholder="ค้นหาพื้นที่" autocomplete="off">
                            <div id="result"></div>
                            <div hidden id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
                            <input type="hidden" name="txtpname" id="txtpname" size="30" class="form-control" placeholder="Please Enter City or ZIP code">

                            <input type="hidden" name="SearchString" id="SearchString" size="30" class="form-control" placeholder="Please Enter.....">
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-3">
                        <button type="button" id="bbsearch" class="btn btn-primary width-100">ค้นหา</button>
                    </div>

                </form>
            </div>

        </div>
            -->
        <!--end main-search-form-->
        <!--Alternative Form-->
        <!--end alternative-search-form-->
        <!--<p id="showsearch_text"></p>-->

        <div id="showsearch"></div>
    </div>
    <!--end container-->
</form>

