﻿<section class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="blog-post clearfix">
                    <a href="blog-post.html">
                        <img src="assets/img/blog-image-01.jpg" alt="">
                    </a>
                    <div class="article-title" style="background-color:antiquewhite;">
                        <h2><a>วิสัยทัศน์โครงการ</a></h2>
                        <!--<div class="tags framed">
                            <a href="#" class="tag">Home & Decor</a>
                            <a href="#" class="tag">Design</a>
                        </div>
                            -->
                    </div>
                    <div class="meta">
                        
                    </div>
                    <div class="blog-post-content">
                        <img src="~/Content/images/pic01.png" alt=""><br>

                        
                        <h2 style="margin-bottom: 1rem;">แนวคิดตลาดกลางที่ดิน</h2>
                        <p>
                            ตลาดกลางที่ดิน หมายถึง รูปแบบการบริหารจัดการที่ดินที่ บจธ. เป็นตัวกลางประสานระหว่างเจ้าของที่ดินที่ไม่ใช้ประโยชน์หรือใช้ประโยชน์ไม่เต็มที่ กับผู้ประสงค์จะใช้ประโยชน์ในที่ดิน
                        </p>

                        <h2 style="margin-bottom: 1rem;">หลักในการดำเนินการตลาดกลางที่ดิน</h2>
                        <p>
                            1. กระตุ้นการใช้ประโยชน์ในที่ดิน <br>
                            2. บริหารจัดการที่ดินเพื่อให้เกิดการใช้ประโยชน์ในที่ดินอย่างมีประสิทธิภาพ <br>
                            3. กำหนดกฎระเบียบเพื่อเป็นแนวทางในการดำเนินงานตลาดกลางที่ดิน

                        </p>
                        <h2 style="margin-bottom: 1rem;">เป้าหมาย</h2>
                        <p>
                            1. กระตุ้นให้เกิดการใช้ประโยชน์ที่ดินที่เก็บไว้ไม่ได้ใช้ประโยชน์หรือใช้ประโยชน์ไม่คุ้มค่า<br>
                            2. ส่งเสริมการบริหารจัดการแปลงเกษตรกรรมเพื่อประสิทธิภาพและประสิทธิผลสูงสุด (การดูแลและติดตามผลผลิต)


                        </p>

                        <h2 style="margin-bottom: 1rem;">กลุ่มเป้าหมาย</h2>
                        <p>
                            1. ที่ดินเอกชน โดยเฉพาะเจ้าของที่ดินประเภทเจ้าของที่ดินแปลงใหญ่ที่อาศัยอยู่ในกรุงเทพหรือบริษัทเอกชน ที่เก็บที่ดินเป็นสินทรัพย์และมีใจช่วยเหลือสังคมส่วนรวม แต่ไม่สะดวกบริหารจัดการที่ดินที่เป็นสินทรัพย์นั้นด้วยตนเอง เพราะความยุ่งยากวุ่นวายของปัญหาทางด้านกฎหมายการติดต่อกับผู้เช่าที่ดิน หรือข้อจำกัดอื่น ๆ <br>
                            2. ผู้ประสงค์ใช้ประโยชน์ในที่ดิน ประเภทรายบุคคลหรือประเภทกลุ่ม ได้แก่ องค์กรชุมชน เครือข่ายองค์กรชุมชน กลุ่มเกษตรกร และสถาบันเกษตรกร มีศักยภาพและเชื่อถือได้ และกำหนดขอบเขตพื้นที่ที่แต่ละกลุ่มสามารถดำเนินการ



                        </p>
                        <hr>
                        <!--end author-->
                    </div>
                    <!--end blog-post-content-->
                </article>
            </div>
        </div>
        </div></section>