﻿@using cmarket.Models
@model IEnumerable<RegisterModel>
<style style="text/css">
    .hoverTable {
        width: 100%;
        border-collapse: collapse;
    }

        .hoverTable td {
            padding: 7px;
            border: #4e95f4 1px solid;
        }
        /* Define the default color for all the table rows */
        .hoverTable tr {
            /*background: #b8d1f3;*/
        }
            /* Define the hover highlight color for the table row */
            .hoverTable tr:hover {
                background-color: antiquewhite;
            }

    tbody tr:nth-child(odd) {
        background-color: cornsilk;
    }
</style>

    <section class="block" style="font-family:Tahoma; font-style:normal;">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <article class="blog-post clearfix">
                        <a href="blog-post.html">
                            <img src="assets/img/blog-image-01.jpg" alt="">
                        </a>
                        <div class="article-title" style="background-color:antiquewhite;">
                            <h2><a>ผู้ประสงค์ต้องการใช้ประโยชน์ในที่ดิน</a></h2>
                            <!--<div class="tags framed">
                                <a href="#" class="tag">Home & Decor</a>
                                <a href="#" class="tag">Design</a>
                            </div>
                                -->
                        </div>
                        <div class="meta">

                        </div>


                        <div class="blog-post-content">
                            <a href="@Url.Action("wantland", "Home", new { idkey = 1})" class="title">
                                <label class="framed" style="background-color:lemonchiffon;" id="inter">

                                    บุคคลทั่วไป
                                </label>
                            </a>
                            <a href="@Url.Action("wantland", "Home", new { idkey = 2})" class="title">
                                <label class="framed" style="background-color:lemonchiffon;" id="inter">


                                    กลุ่มเกษตรกร
                                </label>

                            </a>

                            <br><br>
                                
                                    
                                <div class="form-group">
                                    <label for="what" class="col-form-label">ค้นหาพื้นที่?</label>
                                        
                                            <input type="radio" checked name="typesearch" id="typesearch1" value="1"> ระดับจังหวัด
                                        
                                        
                                            <input type="radio" name="typesearch" id="typesearch2" value="2"> ระดับอำเภอ
                                        
                                            <input type="radio" name="typesearch" id="typesearch3" value="3"> ระดับตำบล

                                        </div>
                                        <div class="col-md-9 col-sm-9">
                                            <div class="form-group">


                                                <div id="showprov"></div>
                                                <div id="showamp"></div>
                                                <div id="showdist"></div>

                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        
                                    

                                    <br><br>
                           
                            <h2>ผู้ประสงค์ต้องการใช้ประโยชน์ในที่ดิน จำนวน @ViewData["sumpro"] พื้นที่ (@TempData["typeper"])</h2>
                            @{
        var ii = 1;

                            }

                            @if (ViewBag.wantkey == 1)
    {
                        <table style="width:70%;" border="1" class="hoverTable">
                            <tr style="background-color:burlywood; height:50px;">
                                <th scope="row" width="5%">ลำดับ</th>
                                <th scope="row" width="30%">จังหวัด</th>

                                <th scope="row" width="5%">จำนวน</th>
                            </tr>
                            @foreach (RegisterModel landnum in ViewBag.land)
    {
                        <tr style="height:30px;">

                            <th scope="row">@ii</th>
                            <th scope="row"><a href="@Url.Action("wantland_ampor", "Home", new { id = @landnum.PROVINCE_ID,idkey = @TempData["typeperkey"]})" class="title">@landnum.PROVINCE_NAME</a></th>
                            <th scope="row">@landnum.id_land_use</th>
                        </tr>
ii++;
}
                            <tr>

                                <th scope="row"></th>
                                <th scope="row">รวม</th>
                                <th scope="row">@ViewData["sumpro"]</th>
                            </tr>
                        </table>
}


                            @if (ViewBag.wantkey == 2)
    {
                        <h3>จังหวัด @ViewData["PROVINCE_NAME"]</h3>
                        <table width="100%" border="1" class="hoverTable">
                            <tr style="background-color:antiquewhite; height:50px;">
                                <th scope="row" width="5%">ลำดับ</th>
                                <th scope="row">อำเภอ</th>

                                <th scope="row">จำนวน</th>
                            </tr>
                            @foreach (RegisterModel landnum in ViewBag.land)
    {
                        <tr style="height:30px;">

                            <th scope="row">@ii</th>
                            <th scope="row"><a href="@Url.Action("wantland_tambon", "Home", new { id = @landnum.AMPHUR_ID,idkey = @TempData["typeperkey"]})" class="title">@landnum.AMPHUR_NAME</a></th>
                            <th scope="row">@landnum.id_land_use</th>
                        </tr>
ii++;
}
                            <tr>

                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row">@ViewData["sumpro"]</th>
                            </tr>
                        </table>
}

                            @if (ViewBag.wantkey == 3)
    {
                        <h3>จังหวัด @ViewData["PROVINCE_NAME"] อำเภอ @ViewData["AMPHUR_NAME"]</h3>
                        <table width="100%" border="1" class="hoverTable">
                            <tr style="background-color:antiquewhite; height:50px;">
                                <th scope="row" width="5%">ลำดับ</th>
                                <th scope="row">อำเภอ</th>

                                <th scope="row">จำนวน</th>
                            </tr>
                            @foreach (RegisterModel landnum in ViewBag.land)
    {
                        <tr style="height:30px;">

                            <th scope="row">@ii</th>
                            <th scope="row"><a href="@Url.Action("show_want_per", "Home", new { id = @landnum.DISTRICT_ID,idkey = @TempData["typeperkey"],PROVINCE_NAME=ViewData["PROVINCE_NAME"],AMPHUR_NAME=ViewData["AMPHUR_NAME"],DISTRICT_NAME=ViewData["DISTRICT_NAME"]})" class="title">@landnum.DISTRICT_NAME</a></th>
                            <th scope="row">@landnum.id_land_use</th>
                        </tr>
ii++;
}
                            <tr>

                                <th scope="row"></th>
                                <th scope="row"></th>
                                <th scope="row">@ViewData["sumpro"]</th>
                            </tr>
                        </table>
}

                            @if (ViewBag.wantkey == 4)
    {
                        if (ViewBag.showarea==0) {<h3>จังหวัด @ViewData["PROVINCE_NAME"] อำเภอ @ViewData["AMPHUR_NAME"] ตำบล @ViewData["DISTRICT_NAME"]</h3>}
                        <table width="100%" border="1" class="hoverTable">
                            <tr style="background-color:antiquewhite; height:50px;">

                                <th scope="row">รหัสผู้ประสงค์ฯ</th>

                                <th scope="row">ขนาดที่ดินที่ต้องการ (ไร่-งาน-ตารางวา)</th>
                                <th scope="row">ความต้องการ</th>
                                <th scope="row">แนวทางใช้ประโยชน์</th>
                            </tr>
                            @foreach (RegisterModel landnum in ViewBag.land)
    {
                        <tr style="height:30px;">


                            <th scope="row">@landnum.far_code @if (ViewBag.showarea==1) {<span>(ต.@landnum.DISTRICT_NAME อ.@landnum.AMPHUR_NAME จ.@landnum.PROVINCE_NAME)</span> } </th>
                            <th scope="row">@landnum.land_rai - @landnum.land_nga - @landnum.land_va</th>
                            <th scope="row">
                                @if (@landnum.f_wland == 1)
        {
                        <span>ต้องการเช่า</span>
}
                                @if (@landnum.f_wland == 2)
        {
                        <span>ต้องการเช่าซื้อ</span>
}
                                @if (@landnum.f_wland == 3)
        {
                        <span>ต้องการซื้อ</span>
}
                                @if (@landnum.f_wland == 4)
        {
                        <span>ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน</span>
}
                            </th>
                            <th>
                                @foreach (RegisterFarnerModel landuser in ViewBag.landuser)
        {
            if (@landnum.id_land_famer == @landuser.id_land_famer)
            {
                        <span> @landuser.land_use_name</span> if (Convert.ToInt32(landuser.id_land_use) == 6)
{<span>@landuser.fdetail_user_land</span>}
}
}
                            </th>
                        </tr>
ii++;
}

                        </table>
}
                            <hr>
                            <!--end author-->
                        </div>
                        <!--end blog-post-content-->
                    </article>
                </div>
            </div>
        </div>
    </section>




    <script>
        $(document).ready(function ($) {

            
            var PROVINCE_ID2 = $("#PROVINCE_ID2").val();
            var typesearch1 = $("#typesearch1").is(":checked");
            //var typesearch2 = $("#typesearch2").is(":checked");
            var typesearch3 = $("#typesearch3").is(":checked");

            var typesearch2 = document.getElementById('typesearch2').checked;

           

            if (typesearch1==true) {
               var province_id = $(this).val();
           
                
                $.ajax({
           
                url: '@Url.Content("~/HOME/loadprov_addr/")'+province_id,
            
                    success: function (data) {

                        $("#showprov").html("" + data);

                }
                });

               
            }

            $('#typesearch1').on('ifChecked', function (event) {
                //var typesearch2 =  $('#typesearch2').iCheck('check');
                //alert(typesearch2);

               
                $.ajax({
           
                url: '@Url.Content("~/HOME/loadprov_addr/")'+province_id,
            
                    success: function (data) {

                        $("#showprov").html("" + data);
                        $('#showprov').show();
                        $('#showamp').hide();
                        $('#showdist').hide();
                }
                });

            });

            $('#typesearch2').on('ifChecked', function (event) {
                //var typesearch2 =  $('#typesearch2').iCheck('check');
                //alert(typesearch2);

               
                $.ajax({
           
                url: '@Url.Content("~/HOME/loadamp_addr/")'+province_id,
            
                    success: function (data) {

                        $("#showamp").html("" + data);
                        $('#showamp').show();
                        $('#showprov').hide();
                        $('#showdist').hide();
                }
                });

            });


            $('#typesearch3').on('ifChecked', function (event) {
                //var typesearch2 =  $('#typesearch2').iCheck('check');
                //alert(typesearch2);

               
                $.ajax({
           
                url: '@Url.Content("~/HOME/loaddist_addr/")'+province_id,
            
                    success: function (data) {

                        $("#showdist").html("" + data);
                        $('#showdist').show();
                        $('#showprov').hide();
                        $('#showamp').hide();
                }
                });

            });



            $('#showprov').change(function (e) {
                var PROVINCE_ID2 = document.getElementById('PROVINCE_ID2').value;

                if (PROVINCE_ID2 > 0) {
                window.location = "@Url.Content("~/HOME/show_want_per2/")" + PROVINCE_ID2 + "-@TempData["typeperkey"]-1";
                //alert("ccc/" + PROVINCE_ID2);
               // $('#showamp').hide();
                }
            });

            $('#showamp').change(function (e) {
                
                var AMPHUR_ID2 = document.getElementById('AMPHUR_ID2').value;
                if (AMPHUR_ID2 > 0) {
                window.location = "@Url.Content("~/HOME/show_want_per2/")" + AMPHUR_ID2 + "-@TempData["typeperkey"]-2";
                //alert("ccc/" + AMPHUR_ID2);
               // $('#showprov').hide();
                }
            });

            $('#showdist').change(function (e) {
                var DISTRICT_ID2 = document.getElementById('DISTRICT_ID2').value;
                if (DISTRICT_ID2 > 0) {
                window.location = "@Url.Content("~/HOME/show_want_per2/")" + DISTRICT_ID2 + "-@TempData["typeperkey"]-3";
                //alert("ccc/" + DISTRICT_ID2);
                }
            });

           


        });

       /* function searcharea() {

            if (document.getElementById('PROVINCE_ID2').value != null) {
                var PROVINCE_ID2 = document.getElementById('PROVINCE_ID2').value;
                alert("ccc/" + PROVINCE_ID2);
            } else if (document.getElementById('AMPHUR_ID2').value != null) {
                var AMPHUR_ID2 = document.getElementById('AMPHUR_ID2').value;
                alert("ccc/" + AMPHUR_ID2);
            }
            
            

            

        }*/
    </script>