﻿@using cmarket.Models
@model IEnumerable<adminModel>
<div class="page-header"><h1>พื้นที่ จ.@ViewBag.PROVINCE_NAME อ.@ViewBag.AMPHUR_NAME ต.@ViewBag.DISTRICT_NAME</h1></div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">เพิ่ม Latitude Longitude</div>
        <div class="panel-body">

            <form class="form-inline" role="form" id="f02" name="f01" method="post" action="@Url.Action("updatelalo", "Backend")">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Latitude</div>
                        <input class="form-control" type="text" name="latitude" id="latitude" placeholder="Latitude" value="@ViewData["latitude_land"]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Longitude</div>
                        <input class="form-control" type="text" id="longitude" name="longitude" placeholder="Longitude" value="@ViewData["longitude_land"]">
                    </div>
                </div>

                <button type="submit" class="btn btn-success">บันทึก</button>
                <input class="form-control" type="hidden" id="o_land_id" name="o_land_id" value="@ViewBag.o_land_id" placeholder="o_land_id">
                <input class="form-control" type="hidden" id="PROVINCE_NAME" name="PROVINCE_NAME" value="@ViewBag.PROVINCE_NAME" placeholder="PROVINCE_NAME">
                <input class="form-control" type="hidden" id="AMPHUR_NAME" name="AMPHUR_NAME" value="@ViewBag.AMPHUR_NAME" placeholder="AMPHUR_NAME">
                <input class="form-control" type="hidden" id="DISTRICT_NAME" name="DISTRICT_NAME" value="@ViewBag.DISTRICT_NAME" placeholder="DISTRICT_NAME">
                <input class="form-control" type="hidden" id="type_owner_land" name="type_owner_land" value="@ViewBag.type_owner_land" placeholder="type_owner_land">
            </form>


        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">เพิ่ม polygon รูปแปลง</div>
        <div class="panel-body">

            <form class="form-inline" role="form" id="f02" name="f02" method="post" action="@Url.Action("updatepolygon", "Backend")">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">ลำดับ</div>
                        <input class="form-control" type="text" id="seq_number" name="seq_number" placeholder="ลำดับ">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Latitude</div>
                        <input class="form-control" type="text" name="latitude" id="latitude" placeholder="Latitude">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Longitude</div>
                        <input class="form-control" type="text" id="longitude" name="longitude" placeholder="Longitude">
                    </div>
                </div>



                <button type="submit" class="btn btn-success">บันทึก</button>
                <input class="form-control" type="hidden" id="o_land_id" name="o_land_id" value="@ViewBag.o_land_id" placeholder="o_land_id">
                <input class="form-control" type="hidden" id="PROVINCE_NAME" name="PROVINCE_NAME" value="@ViewBag.PROVINCE_NAME" placeholder="PROVINCE_NAME">
                <input class="form-control" type="hidden" id="AMPHUR_NAME" name="AMPHUR_NAME" value="@ViewBag.AMPHUR_NAME" placeholder="AMPHUR_NAME">
                <input class="form-control" type="hidden" id="DISTRICT_NAME" name="DISTRICT_NAME" value="@ViewBag.DISTRICT_NAME" placeholder="DISTRICT_NAME">
                <input class="form-control" type="hidden" id="type_owner_land" name="type_owner_land" value="@ViewBag.type_owner_land" placeholder="type_owner_land">
            </form>


        </div>
    </div>
</div>


<table width="100%" border="1" style="background-color:white;">
    @{
        var ii = 1;
    }

    <tr>
        <th style="width:0.5%;" height="40">ลำดับ</th>
        <th>latitude</th>
        <th>longitude</th>
        <th></th>
    </tr>
    @foreach (adminModel owland in ViewBag.owland)
    {

        <tr>
            <th style="text-align:center;">@owland.seq_number</th>
            <th width="18%" scope="row" style="padding-left:10px; padding-top:10px; padding-bottom:10px;">
                @owland.polygon_lata
            </th>
            <th width="18%" scope="row" style="padding-left:10px; padding-top:10px; padding-bottom:10px;">
                @owland.polygon_ing
            </th>
             <th width="18%" scope="row" style="padding-left:10px; padding-top:10px; padding-bottom:10px;">
                 <a style="color:red;" onclick="return confirm('ต้องการลบใช่หรือไม่?')" href="@Url.Action("delete_polygon", "Backend",new { polygon_land_id = owland.polygon_land_id,o_land_id1=ViewBag.o_land_id,PROVINCE_NAME1=ViewBag.PROVINCE_NAME,AMPHUR_NAME1=ViewBag.AMPHUR_NAME,DISTRICT_NAME1=ViewBag.DISTRICT_NAME,type_owner_land1=ViewBag.type_owner_land})" class="ad-remove">
                            <i class="fa fa-trash"></i> ลบ
            </th>
        </tr>
        ii++;
    }


</table>