﻿@{
    Layout = null;

    if (@Session["staff_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("ladmin", "Backend")';</script>
    }
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>

    <meta name="description" content="">
    <meta name="author" content="Akshay Kumar">

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/backend/assets/css/bootstrap/bootstrap.css")
    <!-- Calendar Styling  -->

    @Styles.Render("~/Content/backend/assets/css/plugins/calendar/calendar.css")

    <!-- Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>

</head>

<!-- Base Styling  -->

@Styles.Render("~/Content/backend/assets/css/app/app.v1.css")

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body data-ng-app>


    <!-- Preloader -->
    <div class="loading-container">
        <div class="loading">
            <div class="l1">
                <div></div>
            </div>
            <div class="l2">
                <div></div>
            </div>
            <div class="l3">
                <div></div>
            </div>
            <div class="l4">
                <div></div>
            </div>
        </div>
    </div>
    <!-- Preloader -->


    <aside class="left-panel">

        <div class="user text-center">
            <img src="assets/images/avtar/user.png" class="img-circle" alt="...">
            <h4 class="user-name">Akshay Kumar</h4>

            <div class="dropdown user-login">
                <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-circle status-icon available"></i> Available <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon busy"></i> Busy</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon invisibled"></i> Invisible</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon signout"></i> Sign out</a></li>
                </ul>
            </div>
        </div>

        @{
            var active = "active";
        }

        <nav class="navigation">
            <ul class="list-unstyled">
                <li class=""><a href="#"><i class="fa fa-bookmark-o"></i><span class="nav-label">Dashboard</span></a></li>
                <li class="has-submenu @if(@TempData["keymenu"]=="owner_land" || @TempData["keymenu"]=="owner_land_orga"){@active}">
                    <a href="#"><i class="fa fa-comment-o"></i> <span class="nav-label">ข้อมูลผู้ลงทะเบียน</span></a>
                    <ul class="list-unstyled">
                        <li class="@if(@TempData["keymenu"]=="owner_land"){@active}"><a href="@Url.Action("owner_land", "Backend", new { type_status_regis = 1 })">บุคคลธรรมดา</a></li>
                        <li class="@if(@TempData["keymenu"]=="owner_land_orga"){@active}"> <a href="@Url.Action("owner_land_orga", "Backend", new { type_status_regis_og = 1 })">องค์กร กลุ่ม</a></li>

                    </ul>
                </li>

                <li class="has-submenu @if(@TempData["keymenu"]=="landOwner"){@active}">
                    <a href="#"><i class="fa fa-comment-o"></i> <span class="nav-label">แปลงเจ้าของทีดิน</span></a>
                    <ul class="list-unstyled">
                        <li class="@if(Convert.ToInt32(@TempData["type_owner_land"])==1){@active}"><a href="@Url.Action("landOwner", "Backend", new { type_owner_land = 1 })">บุคคลธรรมดา</a></li>
                        <li class="@if(Convert.ToInt32(@TempData["type_owner_land"])==2){@active}"><a href="@Url.Action("landOwner", "Backend", new { type_owner_land = 2 })">องค์กร กลุ่ม</a></li>
                    </ul>
                </li>


                <li class="has-submenu @if(@TempData["keymenu"]=="wantland"){@active}">
                    <a href="#"><i class="fa fa-comment-o"></i> <span class="nav-label">พื้นที่ที่ต้องการทำประโยชน์</span></a>
                    <ul class="list-unstyled">
                        <li class="@if(Convert.ToInt32(@TempData["type_farmer_regis"])==1){@active}"><a href="@Url.Action("farwantland", "Backend", new { type_farmer_regis = 1 })">บุคคลธรรมดา</a></li>
                        <li class="@if(Convert.ToInt32(@TempData["type_farmer_regis"])==2){@active}"><a href="@Url.Action("farwantland", "Backend", new { type_farmer_regis = 2 })">องค์กร กลุ่ม</a></li>
                    </ul>
                </li>


                <li><a href="@Url.Action("ladmin", "Backend")"><i class="fa fa-flag-o"></i><span class="nav-label">Logout</span></a></li>




            </ul>
        </nav>

    </aside>
    <!-- Aside Ends-->

    <section class="content">

        <header class="top-head container-fluid">

            <button type="button" class="navbar-toggle pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <nav class=" navbar-default hidden-xs" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#">ตลาดกลางที่ดิน สถาบันบริหารจัดการธนาคารที่ดิน (องค์การมหาชน)</a></li>

                </ul>
            </nav>

            <ul class="nav-toolbar">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-comments-o"></i> <span class="badge bg-warning">7</span></a>
                    <div class="dropdown-menu md arrow pull-right panel panel-default arrow-top-right messages-dropdown">
                        <div class="panel-heading">
                            Messages
                        </div>

                        <div class="list-group">

                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status busy pull-left">
                                        <img class="media-object img-circle pull-left" src="assets/images/avtar/user2.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">Lorem ipsum dolor sit consect....</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status offline pull-left">
                                        <img class="media-object img-circle pull-left" src="assets/images/avtar/user3.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">Nunc elementum, enim vitae</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status invisibled pull-left">
                                        <img class="media-object img-circle pull-left" src="assets/images/avtar/user4.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">Praesent lacinia, arcu eget</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status online pull-left">
                                        <img class="media-object img-circle pull-left" src="assets/images/avtar/user5.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">In mollis blandit tempor.</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="btn btn-info btn-flat btn-block">View All Messages</a>

                        </div>

                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span class="badge">3</span></a>
                    <div class="dropdown-menu arrow pull-right md panel panel-default arrow-top-right notifications">
                        <div class="panel-heading">
                            Notification
                        </div>

                        <div class="list-group">

                            <a href="#" class="list-group-item">
                                <p>Installing App v1.2.1<small class="pull-right text-muted">45% Done</small></p>
                                <div class="progress progress-xs no-margn progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item">
                                Fusce dapibus molestie tincidunt. Quisque facilisis libero eget justo iaculis
                            </a>

                            <a href="#" class="list-group-item">
                                <p>Server Status</p>
                                <div class="progress progress-xs no-margn">
                                    <div class="progress-bar progress-bar-success" style="width: 35%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                            </a>



                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <span class="label label-danger media-object img-circle pull-left">Danger</span>
                                    <div class="media-body">
                                        <h5 class="media-heading">Lorem ipsum dolor sit consect..</h5>
                                    </div>
                                </div>
                            </a>


                            <a href="#" class="list-group-item">
                                <p>Server Status</p>
                                <div class="progress progress-xs no-margn">
                                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>


                        </div>

                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu lg pull-right arrow panel panel-default arrow-top-right">
                        <div class="panel-heading">
                            More Apps
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-green"><span class="h2"><i class="fa fa-envelope-o"></i></span><p class="text-gray no-margn">Messages</p></a></div>
                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-purple"><span class="h2"><i class="fa fa-calendar-o"></i></span><p class="text-gray no-margn">Events</p></a></div>

                                <div class="col-xs-12 visible-xs-block"><hr></div>

                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-red"><span class="h2"><i class="fa fa-comments-o"></i></span><p class="text-gray no-margn">Chatting</p></a></div>

                                <div class="col-lg-12 col-md-12 col-sm-12  hidden-xs"><hr></div>

                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-yellow"><span class="h2"><i class="fa fa-folder-open-o"></i></span><p class="text-gray">Folders</p></a></div>

                                <div class="col-xs-12 visible-xs-block"><hr></div>

                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-primary"><span class="h2"><i class="fa fa-flag-o"></i></span><p class="text-gray">Task</p></a></div>
                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-info"><span class="h2"><i class="fa fa-star-o"></i></span><p class="text-gray">Favorites</p></a></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
        <!-- Header Ends -->

        <div class="warper container-fluid">

            @Html.Partial("~/Views/function_alert.cshtml")
            @{
                switch (TempData["data"])
                {
                    /*case "pindex":

                        @Html.Partial("~/Views/Backend/index.cshtml")
                        break;*/

                    case "owner_land":
                        @Html.Partial("~/Views/Backend/list_owner.cshtml")
                        break;
                    case "owner_land_orga":
                        @Html.Partial("~/Views/Backend/list_owner_organi.cshtml")
                        break;
                    case "landOwner":
                        @Html.Partial("~/Views/Backend/list_landowner.cshtml")
                        break;
                    case "ladmin":
                        @Html.Partial("~/Views/Backend/login.cshtml")
                        break;

                    case "focus_land":
                        @Html.Partial("~/Views/Backend/focus_land.cshtml")
                        break;

                     case "farwantland":
                        @Html.Partial("~/Views/Backend/list_wantland.cshtml")
                        break;

                     case "farwantlandog":
                        @Html.Partial("~/Views/Backend/list_wantogland.cshtml")
                        break;

                        

                }
            }


        </div>

        <!-- Warper Ends Here (working area) -->


        <footer class="container-fluid footer">
            Copyright &copy; 2018 <a href="http://www.labai.or.th" target="_blank">The Land Bank Administration Institute (Public Organization)</a>
            <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a>
        </footer>


    </section>
    <!-- Content Block Ends Here (right box)-->
    <!-- JQuery v1.9.1 -->

    @Scripts.Render("~/Content/backend/assets/js/jquery/jquery-1.9.1.min.js")

    @Scripts.Render("~/Content/backend/assets/js/plugins/underscore/underscore-min.js")
    <!-- Bootstrap -->

    @Scripts.Render("~/Content/backend/assets/js/bootstrap/bootstrap.min.js")

    <!-- Globalize -->

    @Scripts.Render("~/Content/backend/assets/js/globalize/globalize.min.js")

    <!-- NanoScroll -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/nicescroll/jquery.nicescroll.min.js")

    <!-- Chart JS -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/DevExpressChartJS/dx.chartjs.js")
    @Scripts.Render("~/Content/backend/assets/js/plugins/DevExpressChartJS/world.js")

    <!-- For Demo Charts -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/DevExpressChartJS/demo-charts.js")
    @Scripts.Render("~/Content/backend/assets/js/plugins/DevExpressChartJS/demo-vectorMap.js")

    <!-- Sparkline JS -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/sparkline/jquery.sparkline.min.js")

    <!-- For Demo Sparkline -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/sparkline/jquery.sparkline.demo.js")

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>

    <!-- ToDo List Plugin -->
    @Scripts.Render("~/Content/backend/assets/js/angular/todo.js")



    <!-- Calendar JS -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/calendar/calendar.js")

    <!-- Calendar Conf -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/calendar/calendar-conf.js")


    <!-- Data Table -->

    @Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Content/backend/assets/js/plugins/datatables/DT_bootstrap.js")
    @Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables-conf.js")

    <!-- Custom JQuery -->
    @Scripts.Render("~/Content/backend/assets/js/app/custom.js")



    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56821827-1', 'auto');
        ga('send', 'pageview');

    </script>


    <script>
        $(document).ready(function () {


            /************************************
            Basic Data Table
            ************************************/
            $('#basic-datatable2').dataTable({
                "pageLength": 20,
                "bLengthChange": false,
                //"dom": '<lf<t>ip> ',
                //"sDom": '<"wrapper"lfptip>',
                "loadingRecords": "Loading...",
                "language": {
                    "search": "ค้นหาแปลงที่ดิน:",
                    "paginate": {
                        "first": "หน้าแรก",
                        "previous": "ย้อนกลับ",
                        "next": "ถัดไป",
                        "last": "หน้าสุดท้าย"
                    }
                },
                "pagingType": "full_numbers"

            });


            $('#example').dataTable({
                "pageLength": 5,
                "bLengthChange": false,
                "dom": '<lf<t>ip> '
            });
        });
    </script>
</body>
</html>
