﻿
@using cmarket.Models
@model IEnumerable<adminModel>
@{
    if (@Session["staff_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("ladmin", "Backend")';</script>
        }
    }
    @Scripts.Render("~/Content/backend/assets/js/jquery/jquery-1.9.1.min.js")
    <div class="panel panel-default">
        <!--<div class="panel-heading">
            <a href="#" data-column="0" class="toggle-vis btn btn-default btn-sm">Name</a>
            <a href="#" data-column="1" class="toggle-vis btn btn-default btn-sm">Position</a>
            <a href="#" data-column="2" class="toggle-vis btn btn-default btn-sm">Office</a>
            <a href="#" data-column="3" class="toggle-vis btn btn-default btn-sm">Age</a>
            <a href="#" data-column="4" class="toggle-vis btn btn-default btn-sm">Start date</a>
            <a href="#" data-column="5" class="toggle-vis btn btn-default btn-sm">Salary</a>
        </div>-->
        <div class="panel-body">

            @if (Convert.ToInt32(ViewData["type_status_regis_og"]) == 1)
            {
                <a href="@Url.Action("owner_land_orga", "Backend", new { type_status_regis_og = 1 })">
                    <button type="button" class="btn btn-success">เจ้าของที่ดิน</button>
                </a>
                <a href="@Url.Action("owner_land_orga", "Backend", new { type_status_regis_og = 2 })">
                    <button type="button" class="btn btn-default">ต้องการใช้ประโยชน์ในที่ดิน</button>
                </a>
            }

            @if (Convert.ToInt32(ViewData["type_status_regis_og"]) == 2)
            {
                <a href="@Url.Action("owner_land_orga", "Backend", new { type_status_regis_og = 1 })">
                    <button type="button" class="btn btn-default">เจ้าของที่ดิน</button>
                </a>
                <a href="@Url.Action("owner_land_orga", "Backend", new { type_status_regis_og = 2 })">
                    <button type="button" class="btn btn-success">ต้องการใช้ประโยชน์ในที่ดิน</button>
                </a>
            }
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="toggleColumn-datatable">
                <thead>
                    <tr>
                        <th>ชื่อองค์กร</th>
                        <th>ผู้ประสานงาน</th>
                        <th>เบอร์โทร</th>
                        <th>จังหวัด</th>
                        <th>อำเภอ</th>
                        <th>ตำบล</th>
                        <th>จัดการ</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>ชื่อองค์กร</th>
                        <th>ผู้ประสานงาน</th>
                        <th>เบอร์โทร</th>
                        <th>จังหวัด</th>
                        <th>อำเภอ</th>
                        <th>ตำบล</th>
                        <th>จัดการ</th>
                    </tr>
                </tfoot>

                <tbody>

                    @{


                        foreach (adminModel owland in ViewBag.owland)
                        {
                            <tr>
                                <td>@owland.reg_name</td>
                                <td>@owland.reg_regis_name</td>
                                <td>@owland.reg_regis_tel</td>
                                <td>@owland.PROVINCE_NAME</td>
                                <td>@owland.AMPHUR_NAME</td>
                                <td>@owland.DISTRICT_NAME</td>
                                <td>


                                    
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="ResetPassword">  <button class="btn btn-info btn-sm" data-toggle="modal" id="reset-@owland.reg_organi_id" data-target="#modal-form-reset-@owland.reg_organi_id"><i class="fa fa-key" style="font-size:20px"></i> </button> </a>
                                    <a href="@Url.Content("~/HOME/organi_update/")@owland.reg_organi_id">view</a>
                                </td>
                            </tr>

                            <!-- Modal With Form -->

                            <div class="modal fade" id="modal-form-reset-@owland.reg_organi_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                                        </div>
                                        <div class="modal-body">


                                            <form role="form">

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Reset Password (@owland.reg_name)</label>
                                                    <input type="text" class="form-control" id="reg_password-@owland.reg_organi_id" name="reg_password" value="">
                                                    <input type="hidden" class="form-control" id="reg_organi_id-@owland.reg_organi_id" placeholder="Enter email" value="@owland.reg_organi_id">
                                                </div>


                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="send @owland.reg_organi_id" onclick="fcc('@owland.reg_organi_id')">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </tbody>
            </table>

        </div>
    </div>

    <div id="show_alert_pass"></div>

    <script>

    function fcc(id) {
        //alert(id);



                $(document).ready(function ($) {



                    var reg_organi_id = $("#reg_organi_id-" + id).val();
                    var reg_password = $("#reg_password-" + id).val();
                    //alert(far_pass);


                                $.ajax({
                               // type: 'POST',
                                    url: '@Url.Content("~/Backend/resetpass_farmer_oga/")' + reg_organi_id + "-" + reg_password,
                                //dataType: "json", //กำหนดให้มีรูปแบบเป็น Json
                                //data: province_id, //ส่งค่าตัวแปร show_province เพื่อดึงข้อมูล จังหวัด
                                //data: { province_id: province_id },
                                    success: function (data) {

                                        //alert(AMPHUR_ID);
                                        //$("#DISTRICT_ID").text("");
                                       // $("#showtumbon").html("" + data);


                                        if (data == 1) {

                                            $("#show_alert_pass").html('<div class="alert_pass alert-success" role="alert" style="height:100px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Success!</strong> บันทึกข้อมูลแล้ว!</div>');
                                            $("#show_alert_pass").show();


                                            $("#reg_password-" + id).val("");

                                            window.setTimeout(function () {
                                                $(".alert_pass").fadeTo(500, 0).slideUp(500, function () {
                                                    $(this).remove();
                                                });
                                            }, 3000);
                                        }



                                }
                                });
                        });




    }



    </script>
