﻿@using cmarket.Models
@model IEnumerable<adminModel>
@{
    if (@Session["staff_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("ladmin", "Backend")';</script>
    }
}
<div class="page-header"><h3>แปลงเจ้าของที่ดิน</small></h3></div>
<div class="panel panel-default">
    <!--<div class="panel-heading">
        <a href="#" data-column="0" class="toggle-vis btn btn-default btn-sm">Name</a>
        <a href="#" data-column="1" class="toggle-vis btn btn-default btn-sm">Position</a>
        <a href="#" data-column="2" class="toggle-vis btn btn-default btn-sm">Office</a>
        <a href="#" data-column="3" class="toggle-vis btn btn-default btn-sm">Age</a>
        <a href="#" data-column="4" class="toggle-vis btn btn-default btn-sm">Start date</a>
        <a href="#" data-column="5" class="toggle-vis btn btn-default btn-sm">Salary</a>
    </div>-->
    <div class="panel-body">
        @if (Convert.ToInt32(ViewData["type_owner_land"]) == 1)
        {
            <a href="@Url.Action("landOwner", "Backend", new { type_owner_land = 1 })">
                <button type="button" class="btn btn-success">บุคคลทั่วไป</button>
            </a>
            <a href="@Url.Action("landOwner", "Backend", new { type_owner_land = 2 })">
                <button type="button" class="btn btn-default">องค์กร กลุ่ม</button>
            </a>
        }

        @if (Convert.ToInt32(ViewData["type_owner_land"]) == 2)
        {
            <a href="@Url.Action("landOwner", "Backend", new { type_owner_land = 1 })">
                <button type="button" class="btn btn-default">บุคคลทั่วไป</button>
            </a>
            <a href="@Url.Action("landOwner", "Backend", new { type_owner_land = 2 })">
                <button type="button" class="btn btn-success">องค์กร กลุ่ม</button>
            </a>
        }
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="basic-datatable2">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เอกสารสิทธิ</th>
                    <th>เลขที่เอกสารสิทธิ</th>
                    <th>ไร่</th>
                    <th>งาน</th>
                    <th>ตารางวา</th>
                    <th>พื้นที่</th>

                    <th>สถานะ</th>
                    <th></th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เอกสารสิทธิ</th>
                    <th>เลขที่เอกสารสิทธิ</th>
                    <th>ไร่</th>
                    <th>งาน</th>
                    <th>ตารางวา</th>
                    <th>พื้นที่</th>

                    <th>สถานะ</th>
                    <th></th>
                </tr>
            </tfoot>

            <tbody>

                @{
                        var textstatus = "รออนุมัติ";
                        var textstatus2 = "อนุมัติ";
                        int ii = 1; 

                        foreach (adminModel land in ViewBag.land)
                        {

                        <tr>
                             <td width="2%">@ii</td>
                            <td width="13%"><a href="@Url.Action("showland", "Home",new { id = land.o_land_id })"> @land.o_name @land.o_surname</a></td>
                             <td width="11%">@land.name_type</td>
                            <td width="11%">@land.o_land_num</td>
                            <td width="10%">@land.land_rai</td>
                            <td width="10%">@land.land_nga</td>
                            <td width="10%">@land.land_va</td>
                            <td width="20%">จ.@land.PROVINCE_NAME อ.@land.AMPHUR_NAME ต.@land.DISTRICT_NAME</td>

                            <td width="5%">

                                @if (land.status_land == "1")
                                    {
                                    <font color='red'> @textstatus</font>
                                }
                            @if (land.status_land == "2")
                                    {
                                    <font color='green'> @textstatus2</font>
                                }
                            </td>
                            <td width="5%">
                                <a href="@Url.Action("formimg", "Home",new { o_land_id = land.o_land_id,land.PROVINCE_NAME,land.AMPHUR_NAME,land.DISTRICT_NAME,ViewBag.type_owner_land })"><i class="fa fa-file-image-o" style="font-size:24px; color:cornflowerblue;"></i></a>

                                &nbsp; <a href="@Url.Action("focus_land", "Backend",new { o_land_id = land.o_land_id,land.PROVINCE_NAME,land.AMPHUR_NAME,land.DISTRICT_NAME,ViewBag.type_owner_land })"><i class="fa fa-map-marker" style="font-size:30px; color:red;"></i></a>


                            </td>
                            
                        </tr>
                        ii++;
                    }
                   
                }

            </tbody>
        </table>

    </div>
</div>



