﻿@using cmarket.Models
@model IEnumerable<adminModel>
@{
    if (@Session["staff_id"] == null)
    {


        <script type='text/javascript'> window.location.href = '@Url.Action("ladmin", "Backend")';</script>
    }
}
<div class="page-header"><h3>พื้นที่ที่ต้องการทำประโยชน์</small></h3></div>
<div class="panel panel-default">

    <div class="panel-body">
        @if (Convert.ToInt32(ViewData["type_farmer_regis"]) == 1)
        {
            <a href="@Url.Action("farwantland", "Backend", new { type_farmer_regis = 1 })">
                <button type="button" class="btn btn-success">บุคคลทั่วไป</button>
            </a>
            <a href="@Url.Action("farwantland", "Backend", new { type_farmer_regis = 2 })">
                <button type="button" class="btn btn-default">องค์กร กลุ่ม</button>
            </a>
        }

        @if (Convert.ToInt32(ViewData["type_farmer_regis"]) == 2)
        {
            <a href="@Url.Action("farwantland", "Backend", new { type_farmer_regis = 1 })">
                <button type="button" class="btn btn-default">บุคคลทั่วไป</button>
            </a>
            <a href="@Url.Action("farwantland", "Backend", new { type_farmer_regis = 2 })">
                <button type="button" class="btn btn-success">องค์กร กลุ่ม</button>
            </a>
        }
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="basic-datatable2">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>ความต้องการ</th>
                    <th>ไร่</th>
                    <th>งาน</th>
                    <th>ตารางวา</th>
                    <th>พื้นที่</th>
                    <th>ต้องการใช้ประโยชน์</th>
                    <th>สมาชิกที่นำมาจัดสรรลงที่ดิน</th>
                    <th>รายได้ที่คาดว่าจะได้รับต่อปี</th>
                    <th>ทุนที่ต้องใช้</th>

                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ-นามสกุล </th>
                    <th>ความต้องการ</th>
                    <th>ไร่</th>
                    <th>งาน</th>
                    <th>ตารางวา</th>
                    <th>พื้นที่</th>
                    <th>ต้องการใช้ประโยชน์</th>
                    <th>สมาชิกที่นำมาจัดสรรลงที่ดิน</th>
                    <th>รายได้ที่คาดว่าจะได้รับต่อปี</th>
                    <th>ทุนที่ต้องใช้</th>

                </tr>
            </tfoot>

            <tbody>

                 @{ 
                    
                }
                @{
                    var textstatus = "รออนุมัติ";
                    var textstatus2 = "อนุมัติ";
                    var ii = 1;

                    foreach (adminModel land in ViewBag.land)
                    {

                        <tr>
                            <td width="5%">@ii</td>
                            <td width="20%">@land.reg_name (Tel. @land.reg_regis_tel)</td>
                            <td width="5%">
                                @if (Convert.ToInt32(@land.f_wland) == 1)
                                {<span>เช่า</span>}
                                @if (Convert.ToInt32(@land.f_wland) == 2)
                                {<span>เช่าซื้อ</span>}
                                @if (Convert.ToInt32(@land.f_wland) == 3)
                                {<span>ซื้อ</span>}
                                @if (Convert.ToInt32(@land.f_wland) == 4)
                                {<span>ต้องการขอสินเชื่อเพื่อการเช่าที่ดิน</span>}
                            </td>
                            <td width="5%">@land.land_rai</td>
                            <td width="5%">@land.land_nga</td>
                            <td width="5%">@land.land_va</td>
                            <td width="20%">จ.@land.PROVINCE_NAME อ.@land.AMPHUR_NAME ต.@land.DISTRICT_NAME</td>

                            <td width="10%">
                               
                                @foreach (adminModel landuser in ViewBag.landuser)
                                    {
                                        if (@land.id_land_famer == @landuser.id_land_famer)
                                        {
                                         <span> @landuser.land_use_name</span>
                                        }
                                }
                                
                            </td>

                            <td width="10%">

                                @land.reg_member คน
                            </td>
                            <td>
                                @land.reg_income บาท


                            </td>
                            <td>
                                @land.reg_capital บาท


                            </td>

                        </tr>
                        ii++;
                    }

                }

            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {

        $('#basic-datatable2').dataTable({
            "pageLength": 20,
            "bLengthChange": false,
            //"dom": '<lf<t>ip> ',
            "sDom": '<"wrapper"lfptip>',
            "loadingRecords": "Loading...",
            "language": {
                "search": "ค้นหาแปลงที่ดิน:",
                "paginate": {
                    "first": "หน้าแรก",
                    "previous": "ย้อนกลับ",
                    "next": "ถัดไป",
                    "last": "หน้าสุดท้าย"
                }
            },
            "pagingType": "full_numbers"

        });
</script>
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables.js")
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/DT_bootstrap.js")
@Scripts.Render("~/Content/backend/assets/js/plugins/datatables/jquery.dataTables-conf.js")