﻿@{
    Layout = null;
    Session.Abandon();
    Session.Clear();


}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ตลาดกลางที่ดิน</title>

    <meta name="description" content="">
    <meta name="author" content="Akshay Kumar">

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/backend/assets/css/bootstrap/bootstrap.css")

    <!-- Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>

    <!-- Base Styling  -->
    @Styles.Render("~/Content/backend/assets/css/app/app.v1.css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h3 class="text-center">ตลาดกลางที่ดิน</h3>
                <p class="text-center">Login เพื่อเข้าสู่ระบบ</p>
                <hr class="clean">
                <form role="form" action="@Url.Action("checklogin", "Backend")" method="post">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" name="email" class="form-control" placeholder="Email Adress">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" name="pass" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="cr-styled">
                            <input type="checkbox" ng-model="todo.done">
                            <i class="fa"></i>
                        </label>
                        Remember me
                    </div>
                    <button type="submit" class="btn btn-purple btn-block">Sign in</button>
                </form>
                <hr>


            </div>
        </div>
    </div>



    <!-- JQuery v1.9.1 -->
    @Scripts.Render("~/Content/backend/assets/js/jquery/jquery-1.9.1.min.js")
    @Scripts.Render("~/Content/backend/assets/js/plugins/underscore/underscore-min.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/Content/backend/assets/js/bootstrap/bootstrap.min.js")

    <!-- Globalize -->
    @Scripts.Render("~/Content/backend/assets/js/globalize/globalize.min.js")

    <!-- NanoScroll -->
    @Scripts.Render("~/Content/backend/assets/js/plugins/nicescroll/jquery.nicescroll.min.js")



    <!-- Custom JQuery -->
    @Scripts.Render("~/Content/backend/assets/js/app/custom.js")



    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56821827-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
