﻿@{


    string alert = Convert.ToString(Session["alert"]);

    switch (alert)
    {
        case "Yes":
            <div class="alert alert-success" role="alert" style="height:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> บันทึกข้อมูลแล้ว!
            </div>
            Session.Remove("alert");
            break;
        
       case "No":
            <div class="alert alert-success" role="alert" style="height:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> ไม่สามารถบันทึกข้อมูลได้!
            </div>
            Session.Remove("alert");
            break;

        case "Del":
            <div class="alert alert-danger" role="alert" style="height:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> ลบข้อมูลแล้ว!
            </div>
            Session.Remove("alert");
            break;

        case "interrested":
            <div class="alert alert-success" role="alert" style="height:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4><strong>Success!</strong> ท่านได้ส่งข้อมูลเรียบร้อยแล้ว!</h4>
            </div>
            Session.Remove("alert");
            break;
    }
}
<script>

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);

</script>
