﻿@model cmarket.Models.tb_ownerland

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tb_ownerland</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.o_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_surname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_surname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_idcard)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_idcard)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_age)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_age)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_career)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_career)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_road)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_road)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PROVINCE_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PROVINCE_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMPHUR_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMPHUR_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DISTRICT_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DISTRICT_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_lineid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_lineid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.o_status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.o_status)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
