﻿@model IEnumerable<cmarket.Models.tb_ownerland>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.o_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_idcard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_career)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_road)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PROVINCE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMPHUR_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISTRICT_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_lineid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_status)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.o_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_idcard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_career)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_road)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PROVINCE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMPHUR_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DISTRICT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_lineid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id_owner }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_owner }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_owner })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
